Repository apache/incubator-streampark, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wolfboys, @Al-assad, @lvshaokang, @MonsterChenzhuo, @xinzhuxiansheng, @monrg, @GuoNingNing

[Improve] switch Chinese Notes in *.properties file to English Notes
  deploy/helm/streamx/conf/streamx-console-config/spy.properties
  streampark-console/streampark-console-service/src/main/resources/spy.properties
  streampark-spark/streampark-spark-cli/default.properties
  streampark-spark/streampark-spark-test/assembly/conf/prod/test.properties
Owners: @MonsterChenzhuo, @wolfboys, @lvshaokang, @xinzhuxiansheng, @GuoNingNing

[Chore] Add newui pre commit hook
  .husky/pre-commit
  streampark-console/streampark-console-newui/.husky/commit-msg
  streampark-console/streampark-console-newui/.husky/common.sh
  streampark-console/streampark-console-newui/.husky/pre-commit
Owners: @wolfboys

[Docs] Change github repository url
  streampark-console/streampark-console-newui/src/layouts/default/header/components/Github.vue
  streampark-console/streampark-console-newui/src/router/routes/modules/demo/StreamX.ts
  streampark-console/streampark-console-newui/src/settings/siteSetting.ts
  streampark-console/streampark-console-newui/src/views/flink/app/EditStreamPark.vue
Owners: none

[Docs] Update README
  streampark-console/streampark-console-newui/.env
  streampark-console/streampark-console-newui/README.md
  streampark-console/streampark-console-newui/README.zh-CN.md
  streampark-console/streampark-console-newui/package.json
Owners: @wolfboys

[Feature] Add the team management page
  streampark-console/streampark-console-newui/.env.production
  streampark-console/streampark-console-newui/package.json
  streampark-console/streampark-console-newui/src/adapter/api/baseUrl.ts
  streampark-console/streampark-console-newui/src/api/sys/team.ts
  streampark-console/streampark-console-newui/src/components/Loading/src/Loading.vue
  streampark-console/streampark-console-newui/src/layouts/default/header/components/notify/index.vue
  streampark-console/streampark-console-newui/src/locales/lang/en/system/team.ts
  streampark-console/streampark-console-newui/src/locales/lang/zh-CN/system/team.ts
  streampark-console/streampark-console-newui/src/views/system/menu/Menu.vue
  streampark-console/streampark-console-newui/src/views/system/role/Role.vue
  streampark-console/streampark-console-newui/src/views/system/team/Team.vue
  streampark-console/streampark-console-newui/src/views/system/team/TeamDrawer.vue
  streampark-console/streampark-console-newui/src/views/system/team/team.data.ts
  streampark-console/streampark-console-newui/src/views/system/user/User.vue
  streampark-console/streampark-console-newui/types/axios.d.ts
Owners: none

[Bug] after flink 1.15 error when verify SQL script bug fix
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkSqlServiceImpl.java
  streampark-flink/streampark-flink-proxy/src/main/scala/org/apache/streampark/flink/proxy/FlinkShimsProxy.scala
Owners: @wolfboys, @MonsterChenzhuo, @lvshaokang, @xinzhuxiansheng

[Feature] Add the member management page
  streampark-console/streampark-console-newui/src/api/demo/model/systemModel.ts
  streampark-console/streampark-console-newui/src/api/demo/system.ts
  streampark-console/streampark-console-newui/src/api/model/baseModel.ts
  streampark-console/streampark-console-newui/src/api/sys/member.ts
  streampark-console/streampark-console-newui/src/api/sys/role.ts
  streampark-console/streampark-console-newui/src/api/sys/user.ts
  streampark-console/streampark-console-newui/src/layouts/default/header/components/UserTeam.vue
  streampark-console/streampark-console-newui/src/layouts/default/header/components/index.ts
  streampark-console/streampark-console-newui/src/layouts/default/header/components/user-dropdown/index.vue
  streampark-console/streampark-console-newui/src/layouts/default/header/index.vue
  streampark-console/streampark-console-newui/src/locales/lang/en/system/member.ts
  streampark-console/streampark-console-newui/src/store/modules/locale.ts
  streampark-console/streampark-console-newui/src/store/modules/user.ts
  streampark-console/streampark-console-newui/src/views/system/member/Member.vue
  streampark-console/streampark-console-newui/src/views/system/member/MemberDrawer.vue
  streampark-console/streampark-console-newui/src/views/system/menu/menu.data.ts
  streampark-console/streampark-console-newui/src/views/system/role/Role.vue
  streampark-console/streampark-console-newui/src/views/system/role/role.data.ts
  streampark-console/streampark-console-newui/src/views/system/token/Token.vue
  streampark-console/streampark-console-newui/src/views/system/user/User.vue
  streampark-console/streampark-console-newui/src/views/system/user/user.data.ts
Owners: none

[Feature] Add dead link check
  .dlc.json
  .github/workflows/maven.yml
Owners: @wolfboys

[Fix] add license header,member locales
  streampark-console/streampark-console-newui/src/layouts/default/header/components/UserTeam.vue
  streampark-console/streampark-console-newui/src/locales/lang/zh-CN/system/member.ts
Owners: none

[Feature] Add dead link check
  streampark-plugin/streampark-jvm-profiler/metricDetails.md
Owners: @wolfboys

[Feature] Add dead link check
  streampark-plugin/streampark-jvm-profiler/metricDetails.md
Owners: @wolfboys

[Improve] switch Chinese Notes in *.properties file to English Notes (#1787)
  deploy/helm/streamx/conf/streamx-console-config/spy.properties
  streampark-console/streampark-console-service/src/main/resources/spy.properties
  streampark-spark/streampark-spark-cli/default.properties
  streampark-spark/streampark-spark-test/assembly/conf/prod/test.properties
Owners: @MonsterChenzhuo, @wolfboys, @lvshaokang, @xinzhuxiansheng, @GuoNingNing

[Feature] Add dead link check
  .dlc.json
Owners: none

[Feature] Add dead link check
  .dlc.json
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @wolfboys

[Feature] Add dead link check
  .dlc.json
  .github/workflows/maven.yml
Owners: @wolfboys

[Feature] Add dead link check
  .dlc.json
Owners: none

[Fix] license header position
  streampark-console/streampark-console-newui/src/views/system/role/role.data.ts
Owners: none

[Feature] the team related front-end improve
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/MemberController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/entity/Member.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/mapper/MemberMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/MemberService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MemberServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/mapper/system/MemberMapper.xml
Owners: @wolfboys, @MonsterChenzhuo, @lvshaokang, @xinzhuxiansheng

[Feature] the team related front-end improve
  .husky/_/husky.sh
Owners: @wolfboys

[Feature] Add dead link check (#1789)
  .dlc.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/maven.yml
  streampark-plugin/streampark-jvm-profiler/metricDetails.md
Owners: @wolfboys

[Feature] the team related front-end improve
  .husky/_/husky.sh
  streampark-console/streampark-console-service/src/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/assembly/script/upgrade/mysql/1.2.4.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/CommonService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/CommonServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/MemberController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/UserController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/entity/User.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/MemberService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/UserService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MemberServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/system/UserMapper.xml
  streampark-console/streampark-console-webapp/src/components/tools/UserMenu.vue
  streampark-console/streampark-console-webapp/src/store/getters.js
  streampark-console/streampark-console-webapp/src/store/modules/user.js
  streampark-console/streampark-console-webapp/src/store/mutation-types.js
  streampark-console/streampark-console-webapp/src/utils/request.js
Owners: @wolfboys, @MonsterChenzhuo, @lvshaokang, @xinzhuxiansheng

[Feature] the team related front-end improve
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/UserService.java
Owners: @wolfboys, @MonsterChenzhuo, @lvshaokang, @xinzhuxiansheng

[Feature] the team related front-end improve
  .husky/_/husky.sh
Owners: @wolfboys

.github/CODEOWNERS:

#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# INFRA
/.github/ @wolfboys
/dist-material/ @wolfboys
.asf.yaml @wolfboys
.editorconfig @wolfboys
.gitignore @wolfboys
.licenserc.yaml @wolfboys

# BUILD
/.husky/ @wolfboys
/.mvn/ @wolfboys
/script/update_version.py @Al-assad
/tools/checkstyle/ @lvshaokang
build.sh @wolfboys @MonsterChenzhuo

# POM
pom.xml @wolfboys

# DOCKER
/deploy/ @MonsterChenzhuo

# DOCS
README.md @wolfboys
README_CN.md @wolfboys
CODE_OF_CONDUCT.md @wolfboys
SECURITY.md @wolfboys

# COMMON
/streampark-common/ @wolfboys

# CONSOLE
/streampark-console/streampark-console-service/ @wolfboys @MonsterChenzhuo @lvshaokang @xinzhuxiansheng
/streampark-console/streampark-console-service/src/assembly/script/ @wolfboys
/streampark-console/streampark-console-webapp/ @wolfboys

# FLINK
/streampark-flink/streampark-flink-connector/ @wolfboys @monrg
/streampark-flink/streampark-flink-core/ @lvshaokang
/streampark-flink/streampark-flink-kubernetes/ @MonsterChenzhuo @xinzhuxiansheng @Al-assad
/streampark-flink/streampark-flink-packer/ @wolfboys
/streampark-flink/streampark-flink-proxy/ @wolfboys
/streampark-flink/streampark-flink-repl/ @wolfboys
/streampark-flink/streampark-flink-shims/ @wolfboys @lvshaokang
/streampark-flink/streampark-flink-sqlclient/ @wolfboys
/streampark-flink/streampark-flink-submit/ @lvshaokang @MonsterChenzhuo @xinzhuxiansheng
/streampark-flink/streampark-flink-udf/ @wolfboys

# SPARK
/streampark-spark/ @wolfboys @GuoNingNing @lvshaokang

# YARN
/streampark-common/**/Yarn*.scala @wolfboys @lvshaokang
/streampark-flink-submit/**/Yarn*.scala @wolfboys @lvshaokang

# PLUGIN
/streampark-plugin/ @wolfboys

# STORAGE
/streampark-storage/ @MonsterChenzhuo @lvshaokang
