Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

PodTemplateParser code optimization
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/PodTemplateParser.scala
Labels: FLINK, KUBERNETES

PodTemplateParser code optimization
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/PodTemplateParser.scala
Labels: FLINK, KUBERNETES

remove some debug loggers
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

fix a mistake
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/AccessTokenController.java
Labels: BACKEND

refine code: hide native format switch component without savepoint. add supported flink version note of native format.
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StopApplicationModal.vue
Labels: WEB UI

Modify pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.2.0.sql
Labels: BUILD, BACKEND

ResourceServiceImpl code optimization
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
Labels: BACKEND

Extract common const FLINK_NATIVE_KUBERNETES_LABEL (#2939)
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigConst.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/KubernetesRetriever.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/ingress/IngressStrategy.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkK8sEventWatcher.scala
Labels: BACKEND, FLINK, KUBERNETES

FlinkK8sEventWatcher remove useless code (#2938)
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/PodTemplateParser.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkK8sEventWatcher.scala
Labels: FLINK, KUBERNETES

docs: drop vanity metrics from README
  README.md
Labels: DOCS

Add test-container utils for integration test.
  .github/workflows/maven.yml
  pom.xml
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/assembly/assembly.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkHttpWatcher.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/SpringIntegrationTestBase.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/SpringUnitTestBase.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/AccessTokenServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/ApplicationServiceITest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/ApplicationServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/FlinkClusterServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/ResourceServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/SavePointServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/UserServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/VariableServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/YarnQueueServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/system/authentication/JWTTest.java
  streampark-console/streampark-console-service/src/test/resources/application-integration-test.yml
  streampark-test-utils/pom.xml
  streampark-test-utils/streampark-testcontainer/pom.xml
  streampark-test-utils/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkComponent.java
  streampark-test-utils/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkContainer.java
  streampark-test-utils/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkStandaloneSessionCluster.java
  streampark-test-utils/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/hadoop/HadoopContainer.java
  streampark-test-utils/streampark-testcontainer/src/test/java/org/apache/streampark/testcontainer/flink/FlinkStandaloneSessionClusterITest.java
  streampark-test-utils/streampark-testcontainer/src/test/java/org/apache/streampark/testcontainer/hadoop/HadoopContainerTest.java
Labels: INFRA, BUILD, BACKEND

fix: FE build script
  streampark-console/streampark-console-webapp/package.json
  streampark-console/streampark-console-webapp/src/components/Form/src/hooks/useFormEvents.ts
Labels: WEB UI

jar upload bug fix
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
Labels: BACKEND

jar upload bug fix
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
Labels: BACKEND

fix: script
  streampark-console/streampark-console-webapp/package.json
Labels: WEB UI

docs: drop vanity metrics from README (#2946)
  README.md
Labels: DOCS

fix: FE build script (#2947)
  streampark-console/streampark-console-webapp/package.json
  streampark-console/streampark-console-webapp/src/components/Form/src/hooks/useFormEvents.ts
Labels: WEB UI

jar upload bug fix
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Resource.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
Labels: BACKEND

[improvement] improvement flink cluster alert (#2875)
  streampark-common/src/main/java/org/apache/streampark/common/enums/ClusterState.java
  streampark-common/src/main/scala/org/apache/streampark/common/conf/CommonConfig.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/AlertTemplate.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkClusterController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ApplicationMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkClusterService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-dingTalk.ftl
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-email.ftl
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-lark.ftl
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-weCom.ftl
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
  streampark-console/streampark-console-webapp/src/enums/flinkEnum.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/flinkCluster.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/setting/flinkCluster.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/State.less
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/State.tsx
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
Labels: WEB UI, BACKEND

docker push improvement
  .github/workflows/docker-push.yml
Labels: INFRA

docker push improvement (#2952)
  .github/workflows/docker-push.yml
Labels: INFRA

add pprint dependency
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/pom.xml
Labels: BUILD, FLINK

streampark-flink-kubernetes-v2:add pprint dependency
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/pom.xml
Labels: BUILD, FLINK

add pprint dependency (#2953)
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/pom.xml
Labels: BUILD, FLINK

[Polish] Fix error msg typo
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/DingTalkAlertNotifyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/WeComAlertNotifyServiceImpl.java
Labels: BACKEND

[Polish] Polish code
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/AlertTemplate.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationBuildPipelineController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
Labels: BACKEND

[Polish] Fix error msg typo (#2955)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/AlertTemplate.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationBuildPipelineController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/DingTalkAlertNotifyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/WeComAlertNotifyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
Labels: BACKEND

jar upload bug fix (#2948)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Resource.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
Labels: BACKEND

yarn application supports pyflink
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigConst.scala
  streampark-common/src/main/scala/org/apache/streampark/common/conf/Workspace.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/EnvUtils.java
  streampark-console/streampark-console-service/src/main/assembly/assembly.xml
  streampark-console/streampark-console-service/src/main/assembly/python/.gitkeep
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/UploadJobJar.vue
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/SubmitRequest.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/resources/pyflink.md
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnApplicationClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: BUILD, WEB UI, BACKEND, FLINK

module improvement
  pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/commons/cli/CommandLine.java
  streampark-storage/pom.xml
  streampark-storage/src/main/java/org/apache/streampark/storage/StorageService.java
  streampark-storage/src/main/java/org/apache/streampark/storage/StorageServiceConfig.java
  streampark-storage/src/main/java/org/apache/streampark/storage/oss/OssConfig.java
  streampark-storage/src/main/java/org/apache/streampark/storage/oss/OssStorageService.java
  streampark-storage/src/test/java/org/apache/streampark/storage/oss/OssStorageServiceTest.java
Labels: BUILD, FLINK

module improvement (#2957)
  pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/commons/cli/CommandLine.java
  streampark-storage/pom.xml
  streampark-storage/src/main/java/org/apache/streampark/storage/StorageService.java
  streampark-storage/src/main/java/org/apache/streampark/storage/StorageServiceConfig.java
  streampark-storage/src/main/java/org/apache/streampark/storage/oss/OssConfig.java
  streampark-storage/src/main/java/org/apache/streampark/storage/oss/OssStorageService.java
  streampark-storage/src/test/java/org/apache/streampark/storage/oss/OssStorageServiceTest.java
Labels: BUILD, FLINK

[type:fix] Refactor AlertType class for fix cannot trigger alert
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/AlertType.java
Labels: BACKEND

[type:fix] Refactor AlertType class for fix cannot trigger alert (#2958)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/AlertType.java
Labels: BACKEND

license header improvement
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/commons/cli/CommandLine.java
Labels: WEB UI, FLINK

license header improvement (#2959)
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/commons/cli/CommandLine.java
Labels: WEB UI, FLINK

yarn perjob supports pyflink
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/resources/pyflink.md
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: WEB UI, FLINK

[Bugfix]Bump commons-cli version to resolve compatibility problem under flink 1.17 (#2725)
  pom.xml
Labels: BUILD

minor improvement
  streampark-common/src/main/scala/org/apache/streampark/common/util/CURLBuilder.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/DateUtils.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnApplicationClient.scala
Labels: BACKEND, FLINK

[Refactor] Refactor multiple enum classes and update related methods to be more readable
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkSql.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/ChangeTypeEnum.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/ChangedType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/ConfigFileType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/EffectiveType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/EngineType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/LoginType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/ResourceFrom.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/ResourceType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/UserType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationConfigServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
Labels: BACKEND

[improvement] Minor improvement (#2964)
  streampark-common/src/main/scala/org/apache/streampark/common/util/CURLBuilder.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/DateUtils.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnApplicationClient.scala
Labels: BACKEND, FLINK

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"
