Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

[Improve] FE style improvement
  streampark-console/streampark-console-webapp/src/views/flink/app/Detail.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useApp.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableAction.ts
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
Labels: WEB UI

Support the ${jobName} variable in Flink configuration. (#4062)
  streampark-common/src/main/java/org/apache/streampark/common/utils/CommonUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkEnv.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavepointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sWatcherWrapper.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: BACKEND, FLINK

[Improve] support the variable in Flink configuration
  streampark-common/src/main/java/org/apache/streampark/common/utils/CommonUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkEnv.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkEnvService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkEnvServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavepointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sWatcherWrapper.java
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/SubmitRequest.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: BACKEND, FLINK

[Improve] program args bug fixed.
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkTableInitializer.scala
Labels: FLINK

[Improve] modal style improvement
  streampark-console/streampark-console-webapp/src/design/index.less
  streampark-console/streampark-console-webapp/src/design/public.less
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StartApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StopApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useApp.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/Add.less
  streampark-console/streampark-console-webapp/src/views/flink/variable/components/VariableModal.vue
  streampark-console/streampark-console-webapp/src/views/setting/Alarm/components/AlertModal.vue
  streampark-console/streampark-console-webapp/src/views/setting/ExternalLink/components/Modal.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/components/Modal.vue
Labels: WEB UI

[Improve] support the variable in Flink configuration (#4065)
  streampark-common/src/main/java/org/apache/streampark/common/utils/CommonUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkEnv.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkEnvService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkEnvServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavepointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sWatcherWrapper.java
  streampark-console/streampark-console-webapp/src/design/index.less
  streampark-console/streampark-console-webapp/src/design/public.less
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StartApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StopApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useApp.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/Add.less
  streampark-console/streampark-console-webapp/src/views/flink/variable/components/VariableModal.vue
  streampark-console/streampark-console-webapp/src/views/setting/Alarm/components/AlertModal.vue
  streampark-console/streampark-console-webapp/src/views/setting/ExternalLink/components/Modal.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/components/Modal.vue
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/SubmitRequest.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkTableInitializer.scala
Labels: WEB UI, BACKEND, FLINK

[Improve] FE style improvement (#4066)
  streampark-console/streampark-console-webapp/src/views/flink/app/Detail.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableAction.ts
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
Labels: WEB UI

[Improve]: project modal & flink cluster modal
  streampark-console/streampark-console-webapp/src/api/flink/project/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
Labels: WEB UI

[Improve]: project modal & flink cluster modal (#4067)
  streampark-console/streampark-console-webapp/src/api/flink/project/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
Labels: WEB UI

[Improve] start app modal minor improvement
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StartApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableAction.ts
Labels: WEB UI

[Improve] get flink config minor improvement
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/SubmitRequest.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkStreamTableTrait.scala
  streampark-flink/streampark-flink-sqlclient/src/main/scala/org/apache/streampark/flink/cli/SqlClient.scala
Labels: FLINK

[Improve] app start-modal minor improvement
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StartApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableAction.ts
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/tool/FlinkSessionClientHelper.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: WEB UI, FLINK

[Improve] app start-modal minor improvement
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StartApplicationModal.vue
Labels: WEB UI

[Improve][WIP] sync from 2.1.5 branch
  streampark-console/streampark-console-webapp/src/api/flink/flinkEnv.ts
  streampark-console/streampark-console-webapp/src/api/system/user.ts
  streampark-console/streampark-console-webapp/src/components/Drawer/src/BasicDrawer.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/BasicTable.vue
  streampark-console/streampark-console-webapp/src/design/index.less
  streampark-console/streampark-console-webapp/src/locales/lang/en/menu.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/role.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/team.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/user.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/menu.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/role.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/team.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/user.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/AppDashboard.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StartApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StatisticCard.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StopApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/View.less
  streampark-console/streampark-console-webapp/src/views/resource/variable/View.vue
  streampark-console/streampark-console-webapp/src/views/setting/yarn-queue/View.vue
  streampark-console/streampark-console-webapp/src/views/setting/yarn-queue/YarnQueueModal.vue
  streampark-console/streampark-console-webapp/src/views/setting/yarn-queue/index.data.ts
  streampark-console/streampark-console-webapp/src/views/system/member/MemberModal.vue
  streampark-console/streampark-console-webapp/src/views/system/member/View.vue
  streampark-console/streampark-console-webapp/src/views/system/role/View.vue
  streampark-console/streampark-console-webapp/src/views/system/role/components/RoleDrawer.vue
  streampark-console/streampark-console-webapp/src/views/system/role/components/RoleInfo.vue
  streampark-console/streampark-console-webapp/src/views/system/role/role.data.ts
  streampark-console/streampark-console-webapp/src/views/system/team/TeamModal.vue
  streampark-console/streampark-console-webapp/src/views/system/team/View.vue
  streampark-console/streampark-console-webapp/src/views/system/team/team.data.ts
  streampark-console/streampark-console-webapp/src/views/system/token/View.vue
  streampark-console/streampark-console-webapp/src/views/system/token/components/TokenModal.vue
  streampark-console/streampark-console-webapp/src/views/system/token/token.data.ts
  streampark-console/streampark-console-webapp/src/views/system/user/View.vue
  streampark-console/streampark-console-webapp/src/views/system/user/components/UserDrawer.vue
  streampark-console/streampark-console-webapp/src/views/system/user/user.data.ts
Labels: WEB UI

[Improve][WIP] sync code from 2.1.5 branch
  streampark-console/streampark-console-webapp/src/api/system/user.ts
  streampark-console/streampark-console-webapp/src/components/Drawer/src/BasicDrawer.vue
  streampark-console/streampark-console-webapp/src/components/SimpleMenu/src/SimpleSubMenu.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/BasicTable.vue
  streampark-console/streampark-console-webapp/src/design/index.less
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/member.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/role.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/team.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/token.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/user.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/member.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/role.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/team.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/token.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/user.ts
  streampark-console/streampark-console-webapp/src/views/resource/upload/View.vue
  streampark-console/streampark-console-webapp/src/views/resource/variable/View.vue
  streampark-console/streampark-console-webapp/src/views/resource/variable/components/VariableDrawer.vue
  streampark-console/streampark-console-webapp/src/views/system/member/MemberModal.vue
  streampark-console/streampark-console-webapp/src/views/system/member/View.vue
  streampark-console/streampark-console-webapp/src/views/system/role/View.vue
  streampark-console/streampark-console-webapp/src/views/system/role/components/RoleDrawer.vue
  streampark-console/streampark-console-webapp/src/views/system/role/components/RoleInfo.vue
  streampark-console/streampark-console-webapp/src/views/system/role/role.data.ts
  streampark-console/streampark-console-webapp/src/views/system/team/TeamModal.vue
  streampark-console/streampark-console-webapp/src/views/system/team/View.vue
  streampark-console/streampark-console-webapp/src/views/system/team/team.data.ts
  streampark-console/streampark-console-webapp/src/views/system/token/View.vue
  streampark-console/streampark-console-webapp/src/views/system/token/components/TokenModal.vue
  streampark-console/streampark-console-webapp/src/views/system/token/token.data.ts
  streampark-console/streampark-console-webapp/src/views/system/user/View.vue
  streampark-console/streampark-console-webapp/src/views/system/user/components/UserDrawer.vue
  streampark-console/streampark-console-webapp/src/views/system/user/user.data.ts
Labels: WEB UI

[Improve] field name improvement
  streampark-console/streampark-console-webapp/src/views/system/role/components/RoleDrawer.vue
  streampark-console/streampark-console-webapp/src/views/system/role/components/RoleInfo.vue
  streampark-console/streampark-console-webapp/src/views/system/role/role.data.ts
Labels: WEB UI

[Improve] app dashboard style improvements
  streampark-console/streampark-console-webapp/src/views/flink/app/Detail.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/AppDashboard.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StartApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StatisticCard.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StopApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/Detail.less
Labels: WEB UI

[Improve] alarm page minor improvement
  streampark-console/streampark-console-webapp/src/views/setting/alarm/View.vue
  streampark-console/streampark-console-webapp/src/views/setting/alarm/components/AlertModal.vue
  streampark-console/streampark-console-webapp/src/views/setting/system/View.vue
  streampark-console/streampark-console-webapp/src/views/setting/yarn-queue/View.vue
  streampark-console/streampark-console-webapp/src/views/setting/yarn-queue/YarnQueueModal.vue
  streampark-console/streampark-console-webapp/src/views/setting/yarn-queue/index.data.ts
Labels: WEB UI

[Improve] var page e2e minor improvement
  streampark-console/streampark-console-webapp/src/views/resource/variable/DependApps.vue
  streampark-console/streampark-console-webapp/src/views/resource/variable/View.vue
  streampark-console/streampark-console-webapp/src/views/resource/variable/components/VariableInfo.vue
  streampark-console/streampark-console-webapp/src/views/resource/variable/components/VariableModal.vue
  streampark-console/streampark-console-webapp/src/views/resource/variable/variable.data.ts
  streampark-console/streampark-console-webapp/src/views/setting/extlink/View.vue
  streampark-console/streampark-console-webapp/src/views/setting/extlink/components/Modal.vue
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/resource/VariablesPage.java
Labels: WEB UI

[Improve] FE style minor improvement
  streampark-console/streampark-console-webapp/src/components/Application/src/AppLogo.vue
  streampark-console/streampark-console-webapp/src/design/var/index.less
  streampark-console/streampark-console-webapp/src/layouts/default/header/MultipleHeader.vue
  streampark-console/streampark-console-webapp/src/layouts/default/sider/LayoutSider.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/View.less
Labels: WEB UI

[Improve] FE style minor improvement
  streampark-console/streampark-console-webapp/src/layouts/default/sider/LayoutSider.vue
Labels: WEB UI

[Improve] e2e minor improvement
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/MemberManagementTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/ProjectsManagementTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/RoleManagementTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/TeamManagementTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/TokenManagementTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/UploadManagementTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/UserManagementTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/VariableManagementTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/YarnQueueTest.java
Labels: none

[Improve] e2e loginPage minor improvement
  streampark-e2e/pom.xml
  streampark-e2e/streampark-e2e-case/pom.xml
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/AlarmTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/EnvironmentTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/ExternalLinkTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/Flink116OnRemoteClusterDeployTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/Flink116OnYarnClusterDeployTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/Flink117OnRemoteClusterDeployTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/Flink117OnYarnClusterDeployTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/Flink118OnRemoteClusterDeployTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/Flink118OnYarnClusterDeployTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/FlinkHomeTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/FlinkSQL116OnYarnTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/FlinkSQL117OnYarnTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/FlinkSQL118OnYarnTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/MemberManagementTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/ProjectsManagementTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/RoleManagementTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/TeamManagementTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/TokenManagementTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/UploadManagementTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/UserManagementTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/VariableManagementTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/YarnQueueTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/LoginPage.java
  streampark-e2e/streampark-e2e-core/pom.xml
Labels: BUILD

[Improve][e2e] loginPage minor improvement
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/LoginPage.java
Labels: none

[Improve] e2e pom.xml improvement
  streampark-e2e/pom.xml
  streampark-e2e/streampark-e2e-case/pom.xml
  streampark-e2e/streampark-e2e-core/pom.xml
Labels: BUILD

[Improve] e2d findElement improvements
  streampark-console/streampark-console-webapp/src/views/resource/variable/components/VariableModal.vue
  streampark-console/streampark-console-webapp/src/views/setting/extlink/components/Modal.vue
  streampark-console/streampark-console-webapp/src/views/system/member/MemberModal.vue
  streampark-console/streampark-console-webapp/src/views/system/role/components/RoleDrawer.vue
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/resource/VariablesPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/setting/ExternalLinkPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/MemberManagementPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/RoleManagementPage.java
Labels: WEB UI

[Improve] e2e findElement improvement
  streampark-console/streampark-console-webapp/src/views/resource/upload/components/UploadDrawer.vue
  streampark-console/streampark-console-webapp/src/views/setting/alarm/components/AlertModal.vue
  streampark-console/streampark-console-webapp/src/views/system/team/TeamModal.vue
  streampark-console/streampark-console-webapp/src/views/system/token/components/TokenModal.vue
  streampark-console/streampark-console-webapp/src/views/system/user/components/UserDrawer.vue
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/resource/UploadsPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/setting/alarm/CommonForm.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/TeamManagementPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/TokenManagementPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/UserManagementPage.java
Labels: WEB UI

[Improve] e2e findElement bug fixed.
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableAction.ts
  streampark-console/streampark-console-webapp/src/views/resource/upload/components/UploadDrawer.vue
  streampark-console/streampark-console-webapp/src/views/resource/variable/View.vue
  streampark-console/streampark-console-webapp/src/views/resource/variable/components/VariableModal.vue
  streampark-console/streampark-console-webapp/src/views/setting/alarm/components/AlertModal.vue
  streampark-console/streampark-console-webapp/src/views/setting/extlink/components/Modal.vue
  streampark-console/streampark-console-webapp/src/views/system/member/MemberModal.vue
  streampark-console/streampark-console-webapp/src/views/system/team/TeamModal.vue
  streampark-console/streampark-console-webapp/src/views/system/token/components/TokenModal.vue
  streampark-console/streampark-console-webapp/src/views/system/user/components/UserDrawer.vue
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/flink/applications/ApplicationsPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/resource/UploadsPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/resource/VariablesPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/setting/ExternalLinkPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/setting/alarm/CommonForm.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/MemberManagementPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/TeamManagementPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/TokenManagementPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/UserManagementPage.java
Labels: WEB UI

[Improve] e2e findElement minor improvemnet
  streampark-console/streampark-console-webapp/src/views/setting/yarn-queue/View.vue
  streampark-console/streampark-console-webapp/src/views/setting/yarn-queue/YarnQueueModal.vue
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/setting/YarnQueuePage.java
Labels: WEB UI

[Improve] e2e findElement minor improvements
  streampark-console/streampark-console-webapp/src/views/setting/extlink/View.vue
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/setting/ExternalLinkPage.java
Labels: WEB UI

[Improve] e2e find element improvement
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/flink/FlinkHomePage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/flink/applications/ApplicationsPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/flink/applications/FlinkSQLEditor.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/resource/ProjectsPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/resource/UploadsPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/resource/VariablesPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/setting/ExternalLinkPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/setting/YarnQueuePage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/setting/alarm/AlarmPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/MemberManagementPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/RoleManagementPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/TeamManagementPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/TokenManagementPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/UserManagementPage.java
Labels: none

[Improve] code style improvement
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/flink/applications/FlinkSQLEditor.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/UserManagementPage.java
Labels: none

[Improve] Member page e2e bug fixed
  streampark-console/streampark-console-webapp/src/views/base/login/teamModal.vue
  streampark-console/streampark-console-webapp/src/views/system/member/MemberModal.vue
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/flink/FlinkHomePage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/flink/applications/ApplicationsPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/resource/ProjectsPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/resource/UploadsPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/resource/VariablesPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/setting/ExternalLinkPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/setting/YarnQueuePage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/setting/alarm/AlarmPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/MemberManagementPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/RoleManagementPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/TeamManagementPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/TokenManagementPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/UserManagementPage.java
Labels: WEB UI

[Improve] FE style improvement
  streampark-console/streampark-console-webapp/src/components/Application/src/AppDarkModeToggle.vue
  streampark-console/streampark-console-webapp/src/components/ContextMenu/src/ContextMenu.vue
  streampark-console/streampark-console-webapp/src/components/Form/src/BasicForm.vue
  streampark-console/streampark-console-webapp/src/components/Page/src/PageFooter.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/components/HeaderCell.vue
  streampark-console/streampark-console-webapp/src/hooks/web/useLockPage.ts
  streampark-console/streampark-console-webapp/src/utils/props.ts
  streampark-console/streampark-console-webapp/src/views/setting/alarm/components/AlertModal.vue
  streampark-console/streampark-console-webapp/src/views/system/member/MemberModal.vue
  streampark-console/streampark-console-webapp/src/views/system/team/TeamModal.vue
  streampark-console/streampark-console-webapp/src/views/system/token/components/TokenModal.vue
Labels: WEB UI

[Bug] flink app e2e findElement bug fixed
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StartApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StopApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableAction.ts
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/flink/applications/ApplicationsPage.java
Labels: WEB UI

[Fix]: spark config error
  streampark-console/streampark-console-webapp/src/api/resource/upload/index.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/create.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/edit.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useAppFormSchema.tsx
  streampark-console/streampark-console-webapp/src/views/spark/home/components/Modal.vue
Labels: WEB UI

fix: copy app
  streampark-console/streampark-console-webapp/src/api/model/baseModel.ts
  streampark-console/streampark-console-webapp/src/api/spark/app.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useAppFormSchema.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkAction.tsx
Labels: WEB UI

[Improve] e2e app-create bug fixed.
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableAction.ts
Labels: WEB UI

[Improve] PopConfirmButton class name minor improvement
  streampark-console/streampark-console-webapp/src/components/Button/src/PopConfirmButton.vue
Labels: WEB UI

[Improve] e2e findElement minor improvement
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/flink/applications/ApplicationsPage.java
Labels: none

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"
