Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

[Improve][Flink] fix bug
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesApplicationClientV2.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesSessionClientV2.scala
Labels: FLINK

[Improve][Flink] change log
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesApplicationClientV2.scala
Labels: FLINK

[Improve] submit flink job userclassPaths improvement (#3313)
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/SubmitRequest.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/commons/cli/CommandLine.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnApplicationClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkSqlValidator.scala
Labels: FLINK

[Improve][Doc] add apache license
  README.md
Labels: DOCS

{Improve][Doc] add apache license
  README.md
Labels: DOCS

{Improve][Doc] add apache license (#3316)
  README.md
Labels: DOCS

[Improve] license header check improvement
  .github/workflows/maven.yml
Labels: INFRA

[Improve] license header issue fixed
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/aspect/StreamParkAspect.java
Labels: BACKEND

[Improve] icon license issue fixed
  streampark-console/streampark-console-webapp/src/assets/icons/alarm.svg
  streampark-console/streampark-console-webapp/src/assets/icons/dingtalk.svg
  streampark-console/streampark-console-webapp/src/assets/icons/message.svg
  streampark-console/streampark-console-webapp/src/assets/icons/namespace.svg
  streampark-console/streampark-console-webapp/src/assets/icons/testalarm.svg
  streampark-console/streampark-console-webapp/src/assets/icons/wecom.svg
Labels: WEB UI

[Improve] license header issue fixed (#3318)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/aspect/StreamParkAspect.java
Labels: BACKEND

rc2
  .github/workflows/maven.yml
Labels: INFRA

[Fix] Fix pyflink yarn application mode maven dependency bug
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnApplicationClient.scala
Labels: FLINK

[Fix] Fix pyflink yarn application mode maven dependency bug (#3322)
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnApplicationClient.scala
Labels: FLINK

fix: menu
  streampark-console/streampark-console-webapp/src/components/SimpleMenu/src/components/menu.less
Labels: WEB UI

[Improve] license header issue fixed
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/aspect/ConsoleAspect.java
Labels: BACKEND

[Bug] yarn application bug fixed
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

[Bug] yarn application mode bug fixed.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/MavenTool.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/pipeline/BuildRequest.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/pipeline/impl/FlinkYarnApplicationBuildPipeline.scala
Labels: BACKEND, FLINK

[Improve] license header issue fixed (#3324)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/aspect/ConsoleAspect.java
Labels: BACKEND

[Improve] yarn application mode bug fixed.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnApplicationClient.scala
Labels: BACKEND, FLINK

[Bug] upload job to workspace bug fixed
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

[Improve] default hdfs workspace path improvement
  deploy/helm/streampark/conf/streampark-console-config/application.yml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/application.yml
Labels: DOCKER, BACKEND

[Improve] flink yarn-app mode improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnApplicationClient.scala
Labels: BACKEND, FLINK

fix: Declare the license file
  LICENSE
  streampark-console/streampark-console-webapp/build/script/buildConf.ts
  streampark-console/streampark-console-webapp/build/script/postBuild.ts
  streampark-console/streampark-console-webapp/src/components/Description/src/Description.vue
  streampark-console/streampark-console-webapp/src/components/Description/src/typing.ts
  streampark-console/streampark-console-webapp/src/components/Description/src/useDescription.ts
  streampark-console/streampark-console-webapp/src/components/Form/src/components/ApiRadioGroup.vue
  streampark-console/streampark-console-webapp/src/components/Form/src/components/ApiSelect.vue
  streampark-console/streampark-console-webapp/src/components/Form/src/components/RadioButtonGroup.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/components/settings/ColumnSetting.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/components/settings/FullScreenSetting.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/components/settings/RedoSetting.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/components/settings/SizeSetting.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/components/settings/index.vue
  streampark-console/streampark-console-webapp/src/hooks/web/useAppInject.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useContentHeight.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useContextMenu.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useCopyToClipboard.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useDesign.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useFormValidate.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useFullContent.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useI18n.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useLockPage.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useMessage.tsx
  streampark-console/streampark-console-webapp/src/hooks/web/usePage.ts
  streampark-console/streampark-console-webapp/src/hooks/web/usePagination.ts
  streampark-console/streampark-console-webapp/src/hooks/web/usePermission.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useSortable.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useTabs.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useTitle.ts
  streampark-console/streampark-console-webapp/src/layouts/default/header/index.less
Labels: WEB UI

fix: LICENSE
  LICENSE
Labels: none

ci: Ignore front-end license checks
  .licenserc.yaml
Labels: INFRA

[Improve] upload jar minor improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

fix: header
  LICENSE
  streampark-console/streampark-console-webapp/src/design/nprogress.less
  streampark-console/streampark-console-webapp/src/design/swal2.less
  streampark-console/streampark-console-webapp/src/enums/flinkEnum.ts
  streampark-console/streampark-console-webapp/src/enums/formEnum.ts
  streampark-console/streampark-console-webapp/src/enums/projectEnum.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useMonaco.ts
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/Github.vue
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/Slogan.vue
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/UserTeam.vue
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/index.ts
  streampark-console/streampark-console-webapp/src/router/constant.ts
  streampark-console/streampark-console-webapp/src/settings/siteSetting.ts
  streampark-console/streampark-console-webapp/src/store/modules/flinkApplication.ts
  streampark-console/streampark-console-webapp/src/views/base/login/SessionTimeoutLogin.vue
Labels: WEB UI

fix: LICENSE
  LICENSE
Labels: none

Update .licenserc.yaml
  .licenserc.yaml
Labels: INFRA

Update .licenserc.yaml
  .licenserc.yaml
Labels: INFRA

Update .licenserc.yaml
  .licenserc.yaml
Labels: INFRA

Update windi.config.ts
  streampark-console/streampark-console-webapp/windi.config.ts
Labels: WEB UI

Update .licenserc.yaml
  .licenserc.yaml
Labels: INFRA

[Improve] release app error info improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationBuildPipelineController.java
Labels: BACKEND

[Improve] icon license issue fixed (#3319)
  streampark-console/streampark-console-webapp/src/assets/icons/alarm.svg
  streampark-console/streampark-console-webapp/src/assets/icons/dingtalk.svg
  streampark-console/streampark-console-webapp/src/assets/icons/message.svg
  streampark-console/streampark-console-webapp/src/assets/icons/namespace.svg
  streampark-console/streampark-console-webapp/src/assets/icons/testalarm.svg
  streampark-console/streampark-console-webapp/src/assets/icons/wecom.svg
Labels: WEB UI

[Bug] deploy flink job on yarnApplication Mode bug fixed (#3325)
  deploy/helm/streampark/conf/streampark-console-config/application.yml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationBuildPipelineController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/application.yml
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnApplicationClient.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/MavenTool.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/pipeline/BuildRequest.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/pipeline/impl/FlinkYarnApplicationBuildPipeline.scala
Labels: DOCKER, BACKEND, FLINK

[Improve] icon license issue fixed
  streampark-console/streampark-console-webapp/src/assets/icons/alarm.svg
  streampark-console/streampark-console-webapp/src/assets/icons/dingtalk.svg
  streampark-console/streampark-console-webapp/src/assets/icons/message.svg
  streampark-console/streampark-console-webapp/src/assets/icons/namespace.svg
  streampark-console/streampark-console-webapp/src/assets/icons/testalarm.svg
  streampark-console/streampark-console-webapp/src/assets/icons/wecom.svg
Labels: WEB UI

[Improve] icon license issue fixed (#3327)
  streampark-console/streampark-console-webapp/src/assets/icons/alarm.svg
  streampark-console/streampark-console-webapp/src/assets/icons/dingtalk.svg
  streampark-console/streampark-console-webapp/src/assets/icons/message.svg
  streampark-console/streampark-console-webapp/src/assets/icons/namespace.svg
  streampark-console/streampark-console-webapp/src/assets/icons/testalarm.svg
  streampark-console/streampark-console-webapp/src/assets/icons/wecom.svg
Labels: WEB UI

Improve streampark-console module base on [3.6 Control/Condition Statements]
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/interceptor/UploadFileTypeInterceptor.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/mybatis/interceptor/PostgreSQLQueryInterceptor.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/ObjectUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/aspect/ConsoleAspect.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkPodTemplateController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkSqlController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/FlinkAppStateEnum.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/metrics/flink/CheckPoints.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationManageServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkEnvServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SqlCompleteServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/FlinkAppHttpWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
Labels: BACKEND

[Bug] deploy flink job on yarn, get state bug fixed.
  streampark-common/src/main/scala/org/apache/streampark/common/util/YarnUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkRESTAPIWatcher.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: BACKEND, FLINK, YARN

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"
