Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"

[Improve] spark env improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/SparkEnv.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-webapp/src/views/spark/app.vue
  streampark-console/streampark-console-webapp/src/views/spark/home/components/Modal.vue
  streampark-console/streampark-console-webapp/src/views/spark/home/components/index.ts
  streampark-console/streampark-console-webapp/src/views/spark/home/index.vue
Labels: WEB UI, BACKEND

[Improve] spark env improvement (#3985)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/SparkEnv.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-webapp/src/views/spark/app.vue
  streampark-console/streampark-console-webapp/src/views/spark/home/components/Modal.vue
  streampark-console/streampark-console-webapp/src/views/spark/home/components/index.ts
  streampark-console/streampark-console-webapp/src/views/spark/home/index.vue
Labels: WEB UI, BACKEND

[Improve] Improved proxy permission checks and fixed URL bug for YARN proxy.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ProxyController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProxyServiceImpl.java
Labels: BACKEND

[Improve] Improved proxy permission checks and fixed URL bug for YARN proxy. (#3986)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ProxyController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProxyServiceImpl.java
Labels: BACKEND

[ISSUES-3983] Job dependencies limit the default number of uploaded jars
  streampark-console/streampark-console-service/src/main/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/main/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/SettingService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SettingServiceImpl.java
Labels: BUILD, BACKEND

[ISSUES-3984] If the options parameter is not passed when the API creates a task, the kubenetes job cannot be started
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationManageServiceImpl.java
Labels: BACKEND

[improve] job on yarn state patch.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ApplicationLogMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationLogService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationLogServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkAppHttpWatcher.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationLogMapper.xml
Labels: BACKEND

[ISSUES-3983] Job dependencies limit the default number of uploaded jars
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationInfoServiceImpl.java
Labels: BACKEND

[Feature] Introduce flink on remote cluster e2e test
  .github/workflows/e2e.yml
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/Flink116OnRemoteClusterDeployTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/Flink117OnRemoteClusterDeployTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/Flink118OnRemoteClusterDeployTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/flink/clusters/ClusterDetailForm.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/flink/clusters/RemoteForm.java
  streampark-e2e/streampark-e2e-case/src/test/resources/docker/flink-1.16-on-remote/Dockerfile
  streampark-e2e/streampark-e2e-case/src/test/resources/docker/flink-1.16-on-remote/docker-compose.yaml
  streampark-e2e/streampark-e2e-case/src/test/resources/docker/flink-1.17-on-remote/Dockerfile
  streampark-e2e/streampark-e2e-case/src/test/resources/docker/flink-1.17-on-remote/docker-compose.yaml
  streampark-e2e/streampark-e2e-case/src/test/resources/docker/flink-1.18-on-remote/Dockerfile
  streampark-e2e/streampark-e2e-case/src/test/resources/docker/flink-1.18-on-remote/docker-compose.yaml
Labels: INFRA

rename cases in e2e.yml
  .github/workflows/e2e.yml
Labels: INFRA

[improve] job on yarn state patch.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ApplicationLogMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationLogService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationLogServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkAppHttpWatcher.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationLogMapper.xml
Labels: BACKEND

[ISSUES-3983] Job dependencies limit the default number of uploaded jars (#3990)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationInfoServiceImpl.java
Labels: BACKEND

feat: spark multiversion support
  streampark-common/src/main/scala/org/apache/streampark/common/conf/SparkVersion.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/SparkApplication.java
  streampark-spark/streampark-spark-core/src/main/scala/org/apache/streampark/spark/core/Spark.scala
Labels: BACKEND, SPARK

[Bug] hadoop-user bug fixed.
  streampark-common/src/main/scala/org/apache/streampark/common/util/HadoopUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/YarnUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProxyServiceImpl.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/YarnClientTrait.scala
Labels: BACKEND, FLINK, YARN

[Improve] hadoop ugi bug fixed.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavepointServiceImpl.java
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/CancelRequest.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/DeployRequest.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/SavepointRequestTrait.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/SubmitRequest.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/TriggerSavepointRequest.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnApplicationClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnPerJobClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/YarnClientTrait.scala
Labels: BACKEND, FLINK

[Improve] minor improvement
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/SavepointRequestTrait.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/TriggerSavepointRequest.scala
Labels: FLINK

[Improve]: add spark application create page
  streampark-console/streampark-console-webapp/src/api/spark/app.ts
  streampark-console/streampark-console-webapp/src/api/spark/app.type.ts
  streampark-console/streampark-console-webapp/src/api/spark/conf.ts
  streampark-console/streampark-console-webapp/src/api/spark/sql.ts
  streampark-console/streampark-console-webapp/src/components/SimpleMenu/src/SimpleSubMenu.vue
  streampark-console/streampark-console-webapp/src/enums/sparkEnum.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/components/AppDashboard.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/AppStartModal.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/Mergely.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/ProgramArgs.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/SparkSql.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/StatisticCard.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/VariableReview.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/create.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/data/index.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useAppFormSchema.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkAction.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkColumns.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkTableAction.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/index.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/sqlFormatter.js
  streampark-console/streampark-console-webapp/src/views/spark/app/styles/View.less
Labels: WEB UI

[Improve] hadoop-user minor improvement
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/CancelRequest.scala
Labels: FLINK

[Improve] hadoop-user minor improvement
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/TriggerSavepointRequest.scala
Labels: FLINK

fixed checkstyle.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationLogService.java
Labels: BACKEND

[improve] job on yarn state patch. (#3989)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ApplicationLogMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationLogService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationLogServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkAppHttpWatcher.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationLogMapper.xml
Labels: BACKEND

[Improve] configHolder get value bug fixed.
  streampark-common/src/main/scala/org/apache/streampark/common/conf/InternalConfigHolder.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
Labels: BACKEND

[Improve] configHolder get value bug fixed. (#3993)
  streampark-common/src/main/scala/org/apache/streampark/common/conf/InternalConfigHolder.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
Labels: BACKEND

[Improve]: add spark application create page (#3992)
  streampark-console/streampark-console-webapp/src/api/spark/app.ts
  streampark-console/streampark-console-webapp/src/api/spark/app.type.ts
  streampark-console/streampark-console-webapp/src/api/spark/conf.ts
  streampark-console/streampark-console-webapp/src/api/spark/sql.ts
  streampark-console/streampark-console-webapp/src/components/SimpleMenu/src/SimpleSubMenu.vue
  streampark-console/streampark-console-webapp/src/enums/sparkEnum.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/components/AppDashboard.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/AppStartModal.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/Mergely.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/ProgramArgs.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/SparkSql.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/StatisticCard.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/VariableReview.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/create.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/data/index.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useAppFormSchema.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkAction.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkColumns.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkTableAction.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/index.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/sqlFormatter.js
  streampark-console/streampark-console-webapp/src/views/spark/app/styles/View.less
Labels: WEB UI

[Improve] flink cluster support proxy
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ProxyController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ProxyService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProxyServiceImpl.java
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
Labels: WEB UI, BACKEND

[Improve] apahce flink 1.20 support
  streampark-common/src/main/scala/org/apache/streampark/common/conf/FlinkVersion.scala
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-flink/streampark-flink-shims/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.20/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.20/src/main/scala/org/apache/streampark/flink/core/FlinkClusterClient.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.20/src/main/scala/org/apache/streampark/flink/core/FlinkKubernetesClient.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.20/src/main/scala/org/apache/streampark/flink/core/StreamTableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.20/src/main/scala/org/apache/streampark/flink/core/TableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.20/src/main/scala/org/apache/streampark/flink/core/TableExt.scala
Labels: BUILD, BACKEND, FLINK

[Improve] apahce flink 1.20 support (#3994)
  streampark-common/src/main/scala/org/apache/streampark/common/conf/FlinkVersion.scala
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-flink/streampark-flink-shims/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.20/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.20/src/main/scala/org/apache/streampark/flink/core/FlinkClusterClient.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.20/src/main/scala/org/apache/streampark/flink/core/FlinkKubernetesClient.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.20/src/main/scala/org/apache/streampark/flink/core/StreamTableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.20/src/main/scala/org/apache/streampark/flink/core/TableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.20/src/main/scala/org/apache/streampark/flink/core/TableExt.scala
Labels: BUILD, BACKEND, FLINK

[Improve] k8s application mode trigger savepoint bug fixed.
  logback-spring.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ProxyController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavepointServiceImpl.java
  streampark-console/streampark-console-webapp/src/api/flink/app/app.ts
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/RemoteClient.scala
Labels: WEB UI, BACKEND, FLINK

[Improve] k8s application mode trigger savepoint bug fixed. (#3995)
  logback-spring.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ProxyController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavepointServiceImpl.java
  streampark-console/streampark-console-webapp/src/api/flink/app/app.ts
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/RemoteClient.scala
Labels: WEB UI, BACKEND, FLINK

fix: kube config not found error
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/DeployRequest.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/KubernetesNativeClientTrait.scala
Labels: FLINK

fix: change link url to text
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.5.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.1.5.sql
Labels: BUILD, BACKEND

fix: change link url to text (#3999)
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.5.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.1.5.sql
Labels: BUILD, BACKEND

fix: Optimize the implementation of getDefaultKubernetesConf.
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/KubernetesNativeClientTrait.scala
Labels: FLINK

Fix the "java.nio.file.NoSuchFileException: /root/.kube/config" exception by not providing the Kube Conf File parameter when starting the k8s session cluster. (#3998)
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/DeployRequest.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/KubernetesNativeClientTrait.scala
Labels: FLINK

[Improve] proxy minor improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProxyServiceImpl.java
Labels: BACKEND

[Improve] proxy minor improvement (#4000)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProxyServiceImpl.java
Labels: BACKEND

[Improve] save checkpoint bug fixed.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/CheckpointProcessor.java
Labels: BACKEND

[Bug] save checkpoint bug fixed.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/CheckpointProcessor.java
Labels: BACKEND

[Bug] save check bug fixed.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/CheckpointProcessor.java
Labels: BACKEND

[Improve] save checkpoint bug fixed.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND
