Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"

[Improve] FE style minor improvement
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
Labels: WEB UI

[Improve] FE minor improvement
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/flinkHome.ts
Labels: WEB UI

feature: change "Rest-Service Exposed Type" from LoadBalancer to ClusterIP (#4019)
  streampark-console/streampark-console-webapp/src/views/flink/app/Add.vue
Labels: WEB UI

[Improve] FE page minor improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkClusterController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkEnvController.java
  streampark-console/streampark-console-webapp/src/api/flink/app/app.ts
  streampark-console/streampark-console-webapp/src/api/flink/setting/flinkCluster.ts
  streampark-console/streampark-console-webapp/src/api/flink/setting/flinkEnv.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/member.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/team.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/member.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
  streampark-console/streampark-console-webapp/src/views/system/member/Member.vue
Labels: WEB UI, BACKEND

[Improve] FE page minor improvement (#4021)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkClusterController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkEnvController.java
  streampark-console/streampark-console-webapp/src/api/flink/app/app.ts
  streampark-console/streampark-console-webapp/src/api/flink/setting/flinkCluster.ts
  streampark-console/streampark-console-webapp/src/api/flink/setting/flinkEnv.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/member.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/team.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/member.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
  streampark-console/streampark-console-webapp/src/views/system/member/Member.vue
Labels: WEB UI, BACKEND

[Improve] flink cluster API improvement
  streampark-console/streampark-console-webapp/src/api/flink/setting/flinkCluster.ts
Labels: WEB UI

bugfix: permissionAction check
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/aspect/PermissionAspect.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-webapp/src/api/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/DetailTab.vue
Labels: WEB UI, BACKEND

[Improve]: spark app update & detail page
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-webapp/src/api/spark/app.ts
  streampark-console/streampark-console-webapp/src/api/spark/app.type.ts
  streampark-console/streampark-console-webapp/src/api/spark/build.ts
  streampark-console/streampark-console-webapp/src/api/spark/conf.ts
  streampark-console/streampark-console-webapp/src/api/spark/conf.type.ts
  streampark-console/streampark-console-webapp/src/api/spark/sql.ts
  streampark-console/streampark-console-webapp/src/api/spark/sql.type.ts
  streampark-console/streampark-console-webapp/src/enums/sparkEnum.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/menu.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/spark/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/menu.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/spark/app.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/components/AppDashboard.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/AppForm.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/AppLog.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/AppStartModal.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/BuildDrawer.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/CompareModal.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/DetailTab.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/SparkSql.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/SparkSqlCompareModal.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/SparkSqlDifferent.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/SparkSqlReview.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/State.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/components/StatisticCard.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/data/detail.data.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/detail.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/edit.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useAppFormSchema.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useDetailContext.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkAction.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkColumns.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkRender.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkTableAction.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/index.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/sqlFormatter.js
  streampark-console/streampark-console-webapp/src/views/spark/app/styles/View.less
  streampark-console/streampark-console-webapp/src/views/spark/app/utils/index.ts
Labels: WEB UI, BACKEND

[Improve]: Created form drawer changed to modal
  streampark-console/streampark-console-webapp/src/api/flink/setting/flinkEnv.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/member.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/member.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/DependApps.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/components/VariableInfo.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/components/VariableModal.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/useClusterSetting.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/components/Modal.vue
  streampark-console/streampark-console-webapp/src/views/setting/YarnQueue/YarnQueueModal.vue
  streampark-console/streampark-console-webapp/src/views/system/member/MemberModal.vue
  streampark-console/streampark-console-webapp/src/views/system/team/TeamModal.vue
  streampark-console/streampark-console-webapp/src/views/system/team/team.data.ts
  streampark-console/streampark-console-webapp/src/views/system/token/Token.vue
  streampark-console/streampark-console-webapp/src/views/system/token/components/TokenModal.vue
  streampark-console/streampark-console-webapp/src/views/system/token/token.data.ts
Labels: WEB UI

[Fix]: modal height
  streampark-console/streampark-console-webapp/src/views/system/member/MemberModal.vue
Labels: WEB UI

[Improve]: Created form drawer changed to modal (#4024)
  streampark-console/streampark-console-webapp/src/api/flink/setting/flinkEnv.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/member.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/member.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/DependApps.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/components/VariableInfo.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/components/VariableModal.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/useClusterSetting.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/components/Modal.vue
  streampark-console/streampark-console-webapp/src/views/setting/YarnQueue/YarnQueueModal.vue
  streampark-console/streampark-console-webapp/src/views/system/member/MemberModal.vue
  streampark-console/streampark-console-webapp/src/views/system/team/TeamModal.vue
  streampark-console/streampark-console-webapp/src/views/system/team/team.data.ts
  streampark-console/streampark-console-webapp/src/views/system/token/Token.vue
  streampark-console/streampark-console-webapp/src/views/system/token/components/TokenModal.vue
  streampark-console/streampark-console-webapp/src/views/system/token/token.data.ts
Labels: WEB UI

[Improve] flink cluster API minor improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkClusterController.java
Labels: BACKEND

rename
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/AsyncExecutorPoolConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkTask.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/FlinkTaskEnum.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/FlinkTaskMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkTaskService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkTaskServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/FlinkAppHttpWatcher.java
Labels: BACKEND

[Improve] dark theme mode minor improvement
  streampark-console/streampark-console-webapp/src/components/Table/src/BasicTable.vue
  streampark-console/streampark-console-webapp/src/layouts/default/footer/index.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
Labels: WEB UI

fix dependencies
  tools/dependencies/known-dependencies.txt
Labels: none

[Improve]: spark app update & detail page (#4025)
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-webapp/src/api/spark/app.ts
  streampark-console/streampark-console-webapp/src/api/spark/app.type.ts
  streampark-console/streampark-console-webapp/src/api/spark/build.ts
  streampark-console/streampark-console-webapp/src/api/spark/conf.ts
  streampark-console/streampark-console-webapp/src/api/spark/conf.type.ts
  streampark-console/streampark-console-webapp/src/api/spark/sql.ts
  streampark-console/streampark-console-webapp/src/api/spark/sql.type.ts
  streampark-console/streampark-console-webapp/src/enums/sparkEnum.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/menu.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/spark/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/menu.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/spark/app.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/components/AppDashboard.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/AppForm.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/AppLog.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/AppStartModal.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/BuildDrawer.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/CompareModal.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/DetailTab.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/SparkSql.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/SparkSqlCompareModal.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/SparkSqlDifferent.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/SparkSqlReview.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/State.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/components/StatisticCard.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/data/detail.data.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/detail.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/edit.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useAppFormSchema.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useDetailContext.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkAction.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkColumns.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkRender.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkTableAction.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/index.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/sqlFormatter.js
  streampark-console/streampark-console-webapp/src/views/spark/app/styles/View.less
  streampark-console/streampark-console-webapp/src/views/spark/app/utils/index.ts
Labels: WEB UI, BACKEND

[Improve] cp/sp path improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/SavepointService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavepointServiceImpl.java
Labels: BACKEND

[Improve] cp/sp path improvement (#4027)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/SavepointService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavepointServiceImpl.java
Labels: BACKEND

feat: adjust to frontend
  streampark-console/streampark-console-service/src/main/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/SparkApplication.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/SparkApplicationManageServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/SparkApplicationMapper.xml
Labels: BUILD, BACKEND

Fix the issue where the HA files are not cleaned up when the Flink job stops, causing two identical jobs to start the next time a new job is launched.
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeApplicationClient.scala
Labels: FLINK

Fix the issue of state update failure.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/FlinkAppState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sChangeEventListener.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
Labels: BACKEND

Fix the issue where the state sometimes remains as "canceled" continuously.
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
Labels: FLINK, KUBERNETES

Remove the watchController.trackIds.invalidate statement; this method should be called in the unwatch function.
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
Labels: FLINK, KUBERNETES

Fix the issue where the HA files are not cleaned up when the Flink job stops, causing two identical jobs to start the next time a new job is launched. (#4029)
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeApplicationClient.scala
Labels: FLINK

Fix the issue of state update failure. (#4030)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/FlinkAppState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sChangeEventListener.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
Labels: BACKEND

Fix the issue where the state sometimes remains as "canceled" continuously. (#4031)
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
Labels: FLINK, KUBERNETES

[Improve] flink on k8s job cancel bug fixed.
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeApplicationClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnPerJobClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/KubernetesNativeClientTrait.scala
Labels: FLINK

[Improve] savepoint minor improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/SavepointMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/SavepointService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavepointServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/SavepointMapper.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: BACKEND, FLINK

[Improve] savepoint minor improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SavepointController.java
Labels: BACKEND

[Improve] job release state minor improvement
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/data/index.ts
Labels: WEB UI

[Improve] border-radius style improvement
  streampark-console/streampark-console-webapp/src/components/Table/src/BasicTable.vue
  streampark-console/streampark-console-webapp/src/design/index.less
  streampark-console/streampark-console-webapp/src/views/base/login/LoginSlogan.less
Labels: WEB UI

[Improve] style minor imporvement
  streampark-console/streampark-console-webapp/src/components/Drawer/src/BasicDrawer.vue
  streampark-console/streampark-console-webapp/src/design/index.less
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/FlinkSqlReview.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/VariableReview.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/data/detail.data.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/View.less
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
Labels: WEB UI

[Improve] modal style minor imporvement
  streampark-console/streampark-console-webapp/src/assets/icons/yarn.svg
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/yarnQueue.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/setting/yarnQueue.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StartApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StopApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useApp.tsx
  streampark-console/streampark-console-webapp/src/views/flink/variable/components/VariableInfo.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/components/VariableModal.vue
  streampark-console/streampark-console-webapp/src/views/setting/Alarm/components/AlertModal.vue
  streampark-console/streampark-console-webapp/src/views/setting/Alarm/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/ExternalLink/components/Modal.vue
  streampark-console/streampark-console-webapp/src/views/setting/ExternalLink/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/components/Modal.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/YarnQueue/YarnQueueModal.vue
  streampark-console/streampark-console-webapp/src/views/system/member/MemberModal.vue
  streampark-console/streampark-console-webapp/src/views/system/menu/MenuDrawer.vue
  streampark-console/streampark-console-webapp/src/views/system/role/components/RoleDrawer.vue
  streampark-console/streampark-console-webapp/src/views/system/team/TeamModal.vue
  streampark-console/streampark-console-webapp/src/views/system/token/components/TokenModal.vue
  streampark-console/streampark-console-webapp/src/views/system/user/components/UserDrawer.vue
  streampark-console/streampark-console-webapp/src/views/system/user/components/UserModal.vue
Labels: WEB UI

[Improve]: app table resize tool & fix resize bug when menu collapsed
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppResize.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableColumns.ts
Labels: WEB UI

[Improve]: app table resize tool & fix resize bug when menu collapsed (#4032)
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppResize.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableColumns.ts
Labels: WEB UI

[Improve] alert message minor improvement
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useApp.tsx
Labels: WEB UI

[Improve] style minor improvement
  streampark-console/streampark-console-webapp/src/design/index.less
Labels: WEB UI

[Improve] modal style minor improvement
  streampark-console/streampark-console-webapp/src/design/index.less
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/flinkHome.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StartApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StopApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/components/VariableInfo.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/components/VariableModal.vue
  streampark-console/streampark-console-webapp/src/views/setting/Alarm/components/AlertModal.vue
  streampark-console/streampark-console-webapp/src/views/setting/ExternalLink/components/Modal.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/components/Drawer.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/components/Modal.vue
  streampark-console/streampark-console-webapp/src/views/setting/YarnQueue/YarnQueueModal.vue
  streampark-console/streampark-console-webapp/src/views/system/member/MemberModal.vue
  streampark-console/streampark-console-webapp/src/views/system/role/components/RoleDrawer.vue
  streampark-console/streampark-console-webapp/src/views/system/role/components/RoleInfo.vue
  streampark-console/streampark-console-webapp/src/views/system/team/TeamModal.vue
  streampark-console/streampark-console-webapp/src/views/system/token/components/TokenModal.vue
  streampark-console/streampark-console-webapp/src/views/system/user/components/UserDrawer.vue
  streampark-console/streampark-console-webapp/src/views/system/user/components/UserModal.vue
Labels: WEB UI

fix UT
  streampark-console/streampark-console-registry/streampark-registry-plugins/streampark-registry-jdbc/src/test/java/org/apache/streampark/plugin/registry/jdbc/LockUtilsTest.java
  streampark-console/streampark-console-registry/streampark-registry-plugins/streampark-registry-jdbc/src/test/resources/application.yaml
Labels: none

[Improve] get flink|spark app mainClass support
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ResourceController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Resource.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/ResourceTypeEnum.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ResourceService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/UserServiceTest.java
  streampark-console/streampark-console-webapp/src/api/resource/upload/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-webapp/src/views/resource/upload/View.vue
  streampark-console/streampark-console-webapp/src/views/resource/upload/components/Upload.vue
  streampark-console/streampark-console-webapp/src/views/resource/upload/components/UploadDrawer.vue
  streampark-console/streampark-console-webapp/src/views/resource/upload/upload.data.ts
  streampark-console/streampark-console-webapp/src/views/resource/upload/useUploadRender.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkRender.tsx
Labels: WEB UI, BACKEND
