Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

minor improvement (#2842)
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigConst.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/FileUtils.scala
Labels: BACKEND

flink cluster jobManagerUrl improvement
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.2.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.2.0.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/FlinkClusterMapper.xml
Labels: BUILD, BACKEND

build: Repair the blank page problem after front-end compilation
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-webapp/README.zh-CN.md
Labels: BUILD, WEB UI, BACKEND

build: Repair the blank page problem after front-end compilation (#2845)
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-webapp/README.zh-CN.md
Labels: BUILD, WEB UI, BACKEND

fix: pom build error
  streampark-console/streampark-console-service/pom.xml
Labels: BUILD, BACKEND

fix: pom build error (#2846)
  streampark-console/streampark-console-service/pom.xml
Labels: BUILD, BACKEND

improvement Flink cluster status monitoring
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
Labels: BACKEND

[Improve] Flink cluster status monitoring improvement (#2826)
  streampark-common/src/main/java/org/apache/streampark/common/enums/ClusterState.java
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.2.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.2.0.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/annotation/AppUpdated.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/aspect/StreamParkAspect.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ApplicationMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkClusterService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/CheckpointProcessor.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkHttpWatcher.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
Labels: BUILD, BACKEND

[Fix]: monaco editor foldingStrategy parameters
  streampark-console/streampark-console-webapp/src/hooks/web/useMonaco.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/data/index.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/components/Drawer.vue
Labels: WEB UI

[Fix]: monaco editor foldingStrategy parameters (#2850)
  streampark-console/streampark-console-webapp/src/hooks/web/useMonaco.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/data/index.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/components/Drawer.vue
Labels: WEB UI

[Improve]: update FE dependencies, use pnpm
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-webapp/.gitpod.yml
  streampark-console/streampark-console-webapp/build/script/buildConf.ts
  streampark-console/streampark-console-webapp/build/script/postBuild.ts
  streampark-console/streampark-console-webapp/build/vite/plugin/appConfig.ts
  streampark-console/streampark-console-webapp/build/vite/plugin/html.ts
  streampark-console/streampark-console-webapp/build/vite/plugin/index.ts
  streampark-console/streampark-console-webapp/build/vite/utils/env.ts
  streampark-console/streampark-console-webapp/build/vite/utils/hash.ts
  streampark-console/streampark-console-webapp/index.html
  streampark-console/streampark-console-webapp/package.json
  streampark-console/streampark-console-webapp/src/utils/env.ts
  streampark-console/streampark-console-webapp/stylelint.config.js
  streampark-console/streampark-console-webapp/vite.config.ts
Labels: BUILD, WEB UI, BACKEND

[Style]: eslint code
  streampark-console/streampark-console-webapp/src/components/Application/src/AppDarkModeToggle.vue
  streampark-console/streampark-console-webapp/src/components/Container/src/collapse/CollapseContainer.vue
  streampark-console/streampark-console-webapp/src/components/ContextMenu/src/ContextMenu.vue
  streampark-console/streampark-console-webapp/src/components/Form/src/BasicForm.vue
  streampark-console/streampark-console-webapp/src/components/Icon/src/SvgIcon.vue
  streampark-console/streampark-console-webapp/src/components/Page/src/PageFooter.vue
  streampark-console/streampark-console-webapp/src/hooks/web/useLockPage.ts
  streampark-console/streampark-console-webapp/src/utils/props.ts
  streampark-console/streampark-console-webapp/src/views/base/login/Login.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/Edit.vue
  streampark-console/streampark-console-webapp/src/views/setting/Alarm/components/AlertModal.vue
Labels: WEB UI

[Improve]: update FE dependencies, use pnpm (#2852)
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-webapp/.gitpod.yml
  streampark-console/streampark-console-webapp/build/script/buildConf.ts
  streampark-console/streampark-console-webapp/build/script/postBuild.ts
  streampark-console/streampark-console-webapp/build/vite/plugin/appConfig.ts
  streampark-console/streampark-console-webapp/build/vite/plugin/html.ts
  streampark-console/streampark-console-webapp/build/vite/plugin/index.ts
  streampark-console/streampark-console-webapp/build/vite/utils/env.ts
  streampark-console/streampark-console-webapp/build/vite/utils/hash.ts
  streampark-console/streampark-console-webapp/index.html
  streampark-console/streampark-console-webapp/package.json
  streampark-console/streampark-console-webapp/src/components/Application/src/AppDarkModeToggle.vue
  streampark-console/streampark-console-webapp/src/components/Container/src/collapse/CollapseContainer.vue
  streampark-console/streampark-console-webapp/src/components/ContextMenu/src/ContextMenu.vue
  streampark-console/streampark-console-webapp/src/components/Form/src/BasicForm.vue
  streampark-console/streampark-console-webapp/src/components/Icon/src/SvgIcon.vue
  streampark-console/streampark-console-webapp/src/components/Page/src/PageFooter.vue
  streampark-console/streampark-console-webapp/src/hooks/web/useLockPage.ts
  streampark-console/streampark-console-webapp/src/utils/env.ts
  streampark-console/streampark-console-webapp/src/utils/props.ts
  streampark-console/streampark-console-webapp/src/views/base/login/Login.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/Edit.vue
  streampark-console/streampark-console-webapp/src/views/setting/Alarm/components/AlertModal.vue
  streampark-console/streampark-console-webapp/stylelint.config.js
  streampark-console/streampark-console-webapp/vite.config.ts
Labels: BUILD, WEB UI, BACKEND

fix: remove default Threadstacksize
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
Labels: BUILD, BACKEND

fix: remove default Threadstacksize (#2857)
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
Labels: BUILD, BACKEND

ThreadStackSize parameter bug fixed.
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
Labels: BUILD, BACKEND

[improvement] improvement flink cluster status update
  streampark-common/src/main/java/org/apache/streampark/common/enums/ClusterState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkClusterService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
Labels: BACKEND

[improvement] improvement flink cluster status update (#2858)
  streampark-common/src/main/java/org/apache/streampark/common/enums/ClusterState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkClusterService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
Labels: BACKEND

flink cluster improvement
  streampark-common/src/main/java/org/apache/streampark/common/enums/ClusterState.java
  streampark-common/src/main/scala/org/apache/streampark/common/util/HadoopUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkClusterService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
Labels: BACKEND

flink cluster improvement (#2859)
  streampark-common/src/main/java/org/apache/streampark/common/enums/ClusterState.java
  streampark-common/src/main/scala/org/apache/streampark/common/util/HadoopUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkClusterService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
Labels: BACKEND

resource improvement
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/resource.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/resource.ts
  streampark-console/streampark-console-webapp/src/views/flink/resource/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/resource/components/ResourceDrawer.vue
  streampark-console/streampark-console-webapp/src/views/flink/resource/useResourceRender.tsx
Labels: WEB UI

minor improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ResourceController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ResourceService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/ApplicationServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/ResourceServiceTest.java
  streampark-console/streampark-console-webapp/src/api/flink/resource/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/resource/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/resource/components/Resource.vue
  streampark-console/streampark-console-webapp/src/views/flink/resource/components/ResourceDrawer.vue
  streampark-console/streampark-console-webapp/src/views/flink/resource/useResourceRender.tsx
Labels: WEB UI, BACKEND

improve package bug fixed
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
Labels: BACKEND

Modify CURLBuilder log
  streampark-common/src/main/scala/org/apache/streampark/common/util/CURLBuilder.scala
Labels: BACKEND

Modify CURLBuilder log (#2864)
  streampark-common/src/main/scala/org/apache/streampark/common/util/CURLBuilder.scala
Labels: BACKEND

minor improvement
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigConst.scala
Labels: BACKEND

YarnUtils Deprecated method optimization
  streampark-common/src/main/scala/org/apache/streampark/common/util/YarnUtils.scala
Labels: BACKEND, YARN

YarnUtils Deprecated method optimization (#2866)
  streampark-common/src/main/scala/org/apache/streampark/common/util/YarnUtils.scala
Labels: BACKEND, YARN

Merge branch 'a-dev-branch' into dev
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/UserService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
Labels: BACKEND

SubmitRequest checkBuildResult method optimization
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/SubmitRequest.scala
Labels: FLINK

[catalog] Impl flink catalog use mysql
  streampark-flink/pom.xml
  streampark-flink/streampark-flink-catalog-mysql/pom.xml
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/StreamParkMysqlCatalog.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/factory/StreamParkMysqlCatalogFactory.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/factory/StreamParkMysqlCatalogFactoryOptions.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/utils/Constants.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
Labels: BUILD, FLINK

Add license
  streampark-flink/streampark-flink-catalog-mysql/pom.xml
Labels: BUILD, FLINK

SubmitRequest checkBuildResult method optimization (#2867)
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/SubmitRequest.scala
Labels: FLINK

Rename class file
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/MysqlCatalog.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/factory/MysqlCatalogFactory.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/factory/MysqlCatalogFactoryOptions.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
Labels: FLINK

support Tuple ...
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple.java
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple1.java
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple2.java
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple3.java
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple4.java
Labels: BACKEND

Tuple support
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple.java
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple1.java
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple2.java
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple3.java
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple4.java
Labels: BACKEND

[common] Tuple support (#2873)
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple.java
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple1.java
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple2.java
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple3.java
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple4.java
Labels: BACKEND

Extract common const PARAM_PREFIX
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigConst.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: BACKEND, FLINK

Extract common const PARAM_PREFIX
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/SqlCommandParser.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-test/src/test/scala/org/apache/streampark/flink/core/test/FlinkSqlExecuteFunSuite.scala
  streampark-spark/streampark-spark-core/src/main/scala/org/apache/streampark/spark/core/Spark.scala
Labels: FLINK, SPARK

[catalog] Impl flink catalog use mysql
  streampark-flink/pom.xml
  streampark-flink/streampark-flink-catalog-mysql/pom.xml
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/StreamParkMysqlCatalog.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/factory/StreamParkMysqlCatalogFactory.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/factory/StreamParkMysqlCatalogFactoryOptions.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/utils/Constants.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
Labels: BUILD, FLINK

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"
