Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"

[Improve] change group icon
  streampark-console/streampark-console-webapp/src/assets/icons/group.svg
  streampark-console/streampark-console-webapp/src/views/flink/resource/useResourceRender.tsx
Labels: WEB UI

use gitversion to obtain the version in order to support later versions
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/ingress/IngressController.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/ingress/IngressStrategy.scala
Labels: FLINK, KUBERNETES

spotless apply
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/ingress/IngressStrategy.scala
Labels: FLINK, KUBERNETES

Updated based on zhouli's review comments
  streampark-common/src/main/java/org/apache/streampark/common/enums/ClusterState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
Labels: BACKEND

[fix] fix deploy error
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/WebMvcConfig.java
Labels: BACKEND

[fix] fix deploy error
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/WebMvcConfig.java
Labels: BACKEND

[fix] The resources can only be transferred to users in the same team
  streampark-console/streampark-console-webapp/src/views/system/user/User.vue
Labels: WEB UI

[fix] The resources can only be transferred to users in the same team
  streampark-console/streampark-console-webapp/src/views/system/user/User.vue
Labels: WEB UI

[improve] limit user list with teamId
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/entity/User.java
  streampark-console/streampark-console-service/src/main/resources/mapper/system/UserMapper.xml
Labels: BACKEND

Modify the method of obtaining version information
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/ingress/IngressController.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/ingress/IngressStrategy.scala
Labels: FLINK, KUBERNETES

[FIX]fix parse k8s version (#2741)
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/ingress/IngressController.scala
Labels: FLINK, KUBERNETES

[style] code style spotless
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/WebMvcConfig.java
Labels: BACKEND

[Improve] FE dependencies version update
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker-push.yml
  .github/workflows/maven.yml
  build.sh
  pom.xml
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/resources/md/repl.md
  streampark-flink/streampark-flink-connector/pom.xml
  streampark-flink/streampark-flink-shims/pom.xml
Labels: INFRA, BUILD, BACKEND, FLINK

packageManager update to 8.5.0
  streampark-console/streampark-console-webapp/package.json
Labels: WEB UI

vite version improvement
  streampark-console/streampark-console-webapp/package.json
Labels: WEB UI

rollup version update
  .github/workflows/maven.yml
  streampark-console/streampark-console-webapp/package.json
Labels: INFRA, WEB UI

[Improve] FE dependencies version update (#2747)
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker-push.yml
  .github/workflows/maven.yml
  build.sh
  pom.xml
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/resources/md/repl.md
  streampark-console/streampark-console-webapp/package.json
  streampark-flink/streampark-flink-connector/pom.xml
  streampark-flink/streampark-flink-shims/pom.xml
Labels: INFRA, BUILD, WEB UI, BACKEND, FLINK

[Bug] flink CANCEL_ENABLE bug fixed.
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: FLINK

[Bug] flink CANCEL_ENABLE bug fixed. (#2748)
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: FLINK

add arm support, so mac m1 can run on docker
  .github/workflows/docker-push.yml
Labels: INFRA

add arm support, so mac m1 can run on docker (#2750)
  .github/workflows/docker-push.yml
Labels: INFRA

[Issue-2535] Refactor FlinkClusterService. (#2744)
  streampark-common/src/main/java/org/apache/streampark/common/enums/ClusterState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
Labels: BACKEND

[Issue-2458][Refactor] Refactor 'streampark-flink-proxy' module using java language.
  streampark-common/src/main/java/org/apache/streampark/common/util/Handler.java
  streampark-common/src/main/scala/org/apache/streampark/common/util/Utils.scala
  streampark-flink/streampark-flink-proxy/src/main/java/org/apache/streampark/flink/proxy/ChildFirstClassLoader.java
  streampark-flink/streampark-flink-proxy/src/main/java/org/apache/streampark/flink/proxy/ClassLoaderObjectInputStream.java
  streampark-flink/streampark-flink-proxy/src/main/java/org/apache/streampark/flink/proxy/FlinkShimsProxy.java
  streampark-flink/streampark-flink-proxy/src/main/scala/org/apache/streampark/flink/proxy/ChildFirstClassLoader.scala
  streampark-flink/streampark-flink-proxy/src/main/scala/org/apache/streampark/flink/proxy/ClassLoaderObjectInputStream.scala
  streampark-flink/streampark-flink-proxy/src/main/scala/org/apache/streampark/flink/proxy/FlinkShimsProxy.scala
Labels: BACKEND, FLINK

[fix] fix the user's creation mistake
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
Labels: BACKEND

[WIP][Feature]Support offline scheduling
  streampark-common/src/main/scala/org/apache/streampark/common/util/DateUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Schedule.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/ScheduleState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/SchedulerMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/quartz/JobScheduleTask.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/quartz/QuartzExecutors.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/quartz/QuartzTaskUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/quartz/SchedulerApi.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/SchedulerService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SchedulerServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/application.yml
Labels: BACKEND

fix file not found error on docker image building
  deploy/docker/Dockerfile
Labels: DOCKER

fix file not found error on docker image building (#2758)
  deploy/docker/Dockerfile
Labels: DOCKER

[ISSUE-2498][Feature] [SubTask] The cluster supports remote and yarn session heartbeat monitoring
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.1.0.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
Labels: BUILD, BACKEND

[Bug][issue-2754] correct yarn url address
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/DetailTab.vue
Labels: WEB UI

[fix] do not restrict the user list to only show users belonging to the current teamId
  streampark-console/streampark-console-service/src/main/resources/mapper/system/UserMapper.xml
Labels: BACKEND

[style] user mapper code style change
  streampark-console/streampark-console-service/src/main/resources/mapper/system/UserMapper.xml
Labels: BACKEND

[Bug][issue-2754] correct yarn url address (#2760)
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/DetailTab.vue
Labels: WEB UI

feat: add streampark-console-openapi module & mapstruct convert
  pom.xml
  streampark-console/pom.xml
  streampark-console/streampark-console-openapi/pom.xml
  streampark-console/streampark-console-openapi/src/main/resources/streampark_rest_v2.yaml
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/exception/ApiV2Exception.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/exception/ApiV2ExceptionHandler.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/exception/BadRequestException.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/exception/ForbiddenException.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/exception/NotFoundException.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/AlertConfigsApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/ExternalLinksApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/FlinkApplicationsApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/FlinkClustersApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/FlinkConfigsApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/FlinkEnviromentsApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/FlinkPodTemplatesApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/FlinkSqlApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/HistoriesApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/MembersApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/MenusApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/PassportApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/ProjectApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/RolesApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/SavepointsApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/SettingsApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/TeamsApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/TokensApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/UsersApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/VariablesApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/convert/AlertConfigConvert.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/handler/GlobalExceptionHandler.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/JacksonUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/AlertConfig.java
  streampark-console/streampark-console-service/src/main/resources/application.yml
Labels: BUILD, BACKEND

spotless
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/AlertConfigsApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/exception/ApiV2Exception.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/exception/ApiV2ExceptionHandler.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/exception/BadRequestException.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/exception/ForbiddenException.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/exception/NotFoundException.java
Labels: BACKEND

format
  streampark-console/streampark-console-service/src/main/resources/application.yml
Labels: BACKEND

fix
  streampark-console/streampark-console-openapi/src/main/resources/streampark_rest_v2.yaml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/FlinkApplicationsApiImpl.java
Labels: BACKEND

fix
  streampark-console/streampark-console-openapi/src/main/resources/streampark_rest_v2.yaml
Labels: none

fix jdk11 compile
  streampark-console/streampark-console-openapi/pom.xml
Labels: BUILD

[refactor] refactor application service
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/aspect/StreamParkAspect.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationBuildPipelineController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationHistoryController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SavePointController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/AlertConfigServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/ApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/OpApplicationInfoService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/QueryApplicationInfoService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/ValidateApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/deploy/K8sApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/deploy/YarnApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/deploy/impl/K8sApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/deploy/impl/NoK8sApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/OpApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/QueryApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ValidateApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationBackUpServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ExternalLinkServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkEnvServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/VariableServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/YarnQueueServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/CheckpointProcessor.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sChangeEventListener.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sWatcherWrapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkRESTAPIWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/TeamServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/ApplicationServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/YarnQueueServiceTest.java
Labels: BACKEND

address compile error
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
Labels: BACKEND
