Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

[Feature] [Flink-K8s-V2] Refactor the lifecycle control code of Flink clusters on Kubernetes
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/DeployRequest.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesSessionClientV2.scala
Labels: BACKEND, FLINK

[Feature] [Flink-K8s-V2] Refactor the lifecycle control code of Flink clusters on Kubernetes (#3224)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/DeployRequest.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesSessionClientV2.scala
Labels: BACKEND, FLINK

[WIP][Improve] reorganize the menus
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-webapp/src/assets/icons/app.svg
  streampark-console/streampark-console-webapp/src/components/SimpleMenu/src/SimpleSubMenu.vue
  streampark-console/streampark-console-webapp/src/hooks/web/useLog.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/menu.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/menu.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/LogModal.vue
  streampark-console/streampark-console-webapp/src/views/project/Add.vue
  streampark-console/streampark-console-webapp/src/views/project/Edit.vue
  streampark-console/streampark-console-webapp/src/views/project/View.vue
  streampark-console/streampark-console-webapp/src/views/project/components/ListItem.vue
  streampark-console/streampark-console-webapp/src/views/project/components/LogModal.vue
  streampark-console/streampark-console-webapp/src/views/project/components/RepositoryGroup.tsx
  streampark-console/streampark-console-webapp/src/views/project/project.data.ts
  streampark-console/streampark-console-webapp/src/views/project/useProject.tsx
Labels: WEB UI, BACKEND

icon style improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ProjectController.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-webapp/src/api/project/index.ts
  streampark-console/streampark-console-webapp/src/api/project/model/projectModel.ts
  streampark-console/streampark-console-webapp/src/components/SimpleMenu/src/SimpleSubMenu.vue
  streampark-console/streampark-console-webapp/src/components/SimpleMenu/src/index.less
  streampark-console/streampark-console-webapp/src/locales/lang/en/menu.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/alarm.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/system.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/menu.ts
  streampark-console/streampark-console-webapp/src/views/project/Add.vue
  streampark-console/streampark-console-webapp/src/views/project/Edit.vue
  streampark-console/streampark-console-webapp/src/views/project/View.vue
  streampark-console/streampark-console-webapp/src/views/project/components/ListItem.vue
  streampark-console/streampark-console-webapp/src/views/project/components/LogModal.vue
  streampark-console/streampark-console-webapp/src/views/project/useProject.tsx
Labels: WEB UI, BACKEND

menu icon style improvement
  streampark-console/streampark-console-webapp/src/components/SimpleMenu/src/SimpleSubMenu.vue
  streampark-console/streampark-console-webapp/src/components/SimpleMenu/src/index.less
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateSchema.ts
Labels: WEB UI

FE components path bug fixed.
  streampark-console/streampark-console-webapp/src/views/flink/app/EditFlink.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppConf.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
Labels: WEB UI

[Improve] menu icon improvement
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-webapp/src/api/variable/index.ts
  streampark-console/streampark-console-webapp/src/api/variable/model/variableModel.ts
  streampark-console/streampark-console-webapp/src/assets/icons/spark.svg
  streampark-console/streampark-console-webapp/src/assets/icons/variable.svg
  streampark-console/streampark-console-webapp/src/components/SimpleMenu/src/SimpleSubMenu.vue
  streampark-console/streampark-console-webapp/src/components/SimpleMenu/src/index.less
  streampark-console/streampark-console-webapp/src/layouts/default/header/index.less
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/menu.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/variable/DependApps.vue
  streampark-console/streampark-console-webapp/src/views/variable/View.vue
  streampark-console/streampark-console-webapp/src/views/variable/components/VariableDrawer.vue
  streampark-console/streampark-console-webapp/src/views/variable/components/VariableInfo.vue
  streampark-console/streampark-console-webapp/src/views/variable/variable.data.ts
Labels: WEB UI, BACKEND

[ISSUE-3108][Improve] Improve streampark-testcontainer module based on [3.1 Naming Style]
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkContainer.java
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkStandaloneSessionCluster.java
  streampark-tests/streampark-testcontainer/src/test/java/org/apache/streampark/testcontainer/flink/FlinkStandaloneSessionClusterITest.java
Labels: none

[ISSUE-3108][Improve] Improve streampark-testcontainer module based on [3.1 Naming Style] (#3227)
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkContainer.java
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkStandaloneSessionCluster.java
  streampark-tests/streampark-testcontainer/src/test/java/org/apache/streampark/testcontainer/flink/FlinkStandaloneSessionClusterITest.java
Labels: none

[Improve] Improve streampark-flink-client-core module base on [Naming Style]
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesSessionClientV2.scala
Labels: FLINK

[Improve] Improve streampark-flink-client-core module base on [Naming Style] (#3228)
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesSessionClientV2.scala
Labels: FLINK

[ISSUE-3075][Improve] Improve streampark-console module base on [5 Log] #3075
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/aspect/ConsoleAspect.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/websocket/WebSocketEndpoint.java
Labels: BACKEND

[ISSUE-3075][Improve] Improve streampark-console module base on [5 Log] #3075 (#3229)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/aspect/ConsoleAspect.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/websocket/WebSocketEndpoint.java
Labels: BACKEND

menu improvement
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-webapp/src/assets/icons/resource.svg
  streampark-console/streampark-console-webapp/src/components/SimpleMenu/src/SimpleSubMenu.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/DependApps.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/components/VariableDrawer.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/components/VariableInfo.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/variable.data.ts
  streampark-console/streampark-console-webapp/src/views/resource/View.vue
  streampark-console/streampark-console-webapp/src/views/resource/components/Resource.vue
  streampark-console/streampark-console-webapp/src/views/resource/components/ResourceDrawer.vue
  streampark-console/streampark-console-webapp/src/views/resource/resource.data.ts
  streampark-console/streampark-console-webapp/src/views/resource/useResourceRender.tsx
Labels: WEB UI, BACKEND

[Improve] Improve streampark-flink-client-core module base on Naming Style and add log
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/FlinkClientEndpoint.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesSessionClientV2.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/KubernetesClientV2Trait.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/KubernetesNativeClientTrait.scala
Labels: FLINK

[Improve] Improve streampark-flink-client-core module base on Naming Style and add log (#3231)
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/FlinkClientEndpoint.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesSessionClientV2.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/KubernetesClientV2Trait.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/KubernetesNativeClientTrait.scala
Labels: FLINK

FE component bug fixed.
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-webapp/src/views/resource/View.vue
  streampark-console/streampark-console-webapp/src/views/resource/components/Resource.vue
  streampark-console/streampark-console-webapp/src/views/resource/components/ResourceDrawer.vue
  streampark-console/streampark-console-webapp/src/views/resource/useResourceRender.tsx
Labels: WEB UI

[ISSUE-3110][Improve] Improve streampark-testcontainer module based on [3.3 Methods Rule]
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkContainer.java
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkStandaloneSessionCluster.java
Labels: none

[ISSUE-3114][Improve] Improve streampark-testcontainer module based on [3.7 Code Comments Rule]
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkComponent.java
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkContainer.java
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkStandaloneSessionCluster.java
Labels: none

[ISSUE-3109][Improve] Improve streampark-testcontainer module based on [3.2 Constant Variables Definition]
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkContainer.java
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkStandaloneSessionCluster.java
Labels: none

menu path improvement
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-webapp/src/components/SimpleMenu/src/SimpleSubMenu.vue
  streampark-console/streampark-console-webapp/src/locales/lang/en/menu.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/menu.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-webapp/src/views/resource/material/View.vue
  streampark-console/streampark-console-webapp/src/views/resource/material/components/Resource.vue
  streampark-console/streampark-console-webapp/src/views/resource/material/components/ResourceDrawer.vue
  streampark-console/streampark-console-webapp/src/views/resource/material/material.data.ts
  streampark-console/streampark-console-webapp/src/views/resource/material/useMaterialRender.tsx
  streampark-console/streampark-console-webapp/src/views/resource/project/Add.vue
  streampark-console/streampark-console-webapp/src/views/resource/project/Edit.vue
  streampark-console/streampark-console-webapp/src/views/resource/project/View.vue
  streampark-console/streampark-console-webapp/src/views/resource/project/components/ListItem.vue
  streampark-console/streampark-console-webapp/src/views/resource/project/components/LogModal.vue
  streampark-console/streampark-console-webapp/src/views/resource/project/components/RepositoryGroup.tsx
  streampark-console/streampark-console-webapp/src/views/resource/project/project.data.ts
  streampark-console/streampark-console-webapp/src/views/resource/project/useProject.tsx
  streampark-console/streampark-console-webapp/src/views/resource/variable/DependApps.vue
  streampark-console/streampark-console-webapp/src/views/resource/variable/View.vue
  streampark-console/streampark-console-webapp/src/views/resource/variable/components/VariableDrawer.vue
  streampark-console/streampark-console-webapp/src/views/resource/variable/components/VariableInfo.vue
  streampark-console/streampark-console-webapp/src/views/resource/variable/variable.data.ts
Labels: WEB UI, BACKEND

[ISSUE-3110][Improve] Improve streampark-testcontainer module based on [3.3 Methods Rule] (#3232)
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkContainer.java
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkStandaloneSessionCluster.java
Labels: none

[ISSUE-3114][Improve] Improve streampark-testcontainer module based on [3.7 Code Comments Rule] (#3233)
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkComponent.java
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkContainer.java
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkStandaloneSessionCluster.java
Labels: none

Update based on review comments
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkContainer.java
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkStandaloneSessionCluster.java
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/hadoop/HadoopContainer.java
Labels: none

fix issue 3153
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/FlinkAppHttpWatcher.java
Labels: BACKEND

[ISSUE-3109][Improve] Improve streampark-testcontainer module based on [3.2 Constant Variables Definition] (#3234)
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkContainer.java
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkStandaloneSessionCluster.java
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/hadoop/HadoopContainer.java
Labels: none

[Improve] change log
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesSessionClientV2.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: FLINK

[Improve] Alignment
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesSessionClientV2.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: FLINK

[Improve] git rebase
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: FLINK

optimize alert logic
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/FlinkAppHttpWatcher.java
Labels: BACKEND

[Improve] improve log
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesSessionClientV2.scala
Labels: FLINK

fix spotless check
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/FlinkAppHttpWatcher.java
Labels: BACKEND

[Fix-3153] Alert information cannot be sent in cancelling state (#3157)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/FlinkAppHttpWatcher.java
Labels: BACKEND

[Improve] improve log
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesSessionClientV2.scala
Labels: FLINK

fix issue 3153
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkRESTAPIWatcher.java
Labels: BACKEND

fix spotless error
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkRESTAPIWatcher.java
Labels: BACKEND

[Improve] Change describing ambiguous logs and printing logs (#3235)
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesSessionClientV2.scala
Labels: FLINK

[Fix-3153] Alert information cannot be sent in cancelling state (#3236)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkRESTAPIWatcher.java
Labels: BACKEND

fix issue 3226
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/AuthenticatorImpl.java
Labels: BACKEND

fix issue 3226
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/AuthenticatorImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/LdapService.java
Labels: BACKEND

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"
