Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

[feature][catalog] add test from check catalogtype To db
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/FlinkCatalogParams.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/CatalogServiceTest.java
Labels: BACKEND

[catalog] Introduce catalog managed (#3936)
  streampark-common/src/main/java/org/apache/streampark/common/enums/CatalogType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/JacksonUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/FlinkCatalogParams.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/CatalogController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCatalog.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/CatalogMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/CatalogService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/CatalogServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/CatalogMapper.xml
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/CatalogServiceTest.java
Labels: BACKEND

fix
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/aspect/OpenAPIAspect.java
Labels: BUILD, BACKEND

add registry center
  streampark-console/streampark-console-service/src/main/assembly/conf/config.yaml
Labels: BUILD, BACKEND

add registry center
  streampark-registry/README.md
  streampark-registry/streampark-registry-plugins/streampark-registry-jdbc/README.md
  streampark-registry/streampark-registry-plugins/streampark-registry-zookeeper/README.md
Labels: DOCS

add registry center
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/SpringUnitTestBase.java
  streampark-console/streampark-console-service/src/test/resources/application-test.yml
  tools/dependencies/known-dependencies.txt
Labels: BACKEND

add registry center
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/SpringUnitTestBase.java
Labels: BACKEND

add registry center
  streampark-common/src/test/java/org/apache/streampark/common/utils/UUIDUtilsTestCase.java
Labels: BACKEND

add registry center
  streampark-common/src/main/java/org/apache/streampark/common/model/BaseHeartBeat.java
Labels: BACKEND

add registry center
  streampark-common/src/main/java/org/apache/streampark/common/lifecycle/ServerLifeCycleManager.java
  streampark-common/src/main/java/org/apache/streampark/common/lifecycle/ServerStatus.java
Labels: BACKEND

add registry center
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/SpringProperties.java
Labels: BACKEND

add registry center
  streampark-common/src/main/java/org/apache/streampark/common/lifecycle/ServerLifeCycleManager.java
Labels: BACKEND

add registry center
  streampark-registry/README.md
Labels: DOCS

improve: add comments
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/SparkApplication.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/SparkApplicationConfig.java
  streampark-spark/streampark-spark-core/src/main/scala/org/apache/streampark/spark/core/util/SqlCommandParser.scala
  streampark-spark/streampark-spark-sqlclient/src/main/scala/org/apache/streampark/spark/cli/SqlClient.scala
Labels: BACKEND, SPARK

fix
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/enums/ApplicationMessageStatus.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/enums/ProjectMessageStatus.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/enums/YarnMessageStatus.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/exception/ApiAlertException.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/CatalogServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/YarnQueueServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/utils/YarnQueueLabelExpressionTest.java
Labels: BACKEND

fix
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/YarnQueueServiceTest.java
Labels: BACKEND

[Bug] Fix: Kerberos authentication issues may occur in Flink on YARN mode.
  streampark-common/src/main/scala/org/apache/streampark/common/util/HadoopUtils.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnApplicationClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnPerJobClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/YarnClientTrait.scala
Labels: BACKEND, FLINK

[Bug] Fix: Kerberos authentication issues may occur in Flink on YARN and remove unused code
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnApplicationClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnSessionClient.scala
Labels: FLINK

fix
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/ExternalLinkTest.java
Labels: none

fix: fix status fetching
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/aspect/AppChangeEventAspect.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/SparkApplication.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/SparkApplicationConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/SparkApplicationInfoService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/SparkApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/SparkApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SparkAppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/SparkAppHttpWatcher.java
Labels: BACKEND

change the code comments to English
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/YarnClientTrait.scala
Labels: FLINK

change the code comments to English
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/YarnClientTrait.scala
Labels: FLINK

feat: persist schedule configuration
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigKeys.scala
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/SparkApplication.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/SparkApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/SparkAppHttpWatcher.java
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/SparkApplicationMapper.xml
  streampark-spark/streampark-spark-client/streampark-spark-client-api/src/main/scala/org/apache/streampark/spark/client/bean/SubmitResponse.scala
  streampark-spark/streampark-spark-client/streampark-spark-client-core/src/main/scala/org/apache/streampark/spark/client/impl/YarnClient.scala
Labels: BUILD, BACKEND, SPARK

[Feature] Introduce environment e2e test (#3911)
  .github/workflows/e2e.yml
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/EnvironmentTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/common/CommonFactory.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/setting/SettingPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/setting/env/CommonForm.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/setting/env/DockerSettingForm.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/setting/env/EmailSettingForm.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/setting/env/EnvironmentDetailForm.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/setting/env/EnvironmentPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/setting/env/IngressSettingForm.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/setting/env/MavenSettingForm.java
  streampark-e2e/streampark-e2e-case/src/test/resources/docker/environment/Dockerfile
  streampark-e2e/streampark-e2e-case/src/test/resources/docker/environment/docker-compose.yaml
Labels: INFRA

improve: modify comments
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/SparkSql.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SparkApplicationConfigServiceImpl.java
  streampark-spark/streampark-spark-client/streampark-spark-client-core/src/main/scala/org/apache/streampark/spark/client/trait/SparkClientTrait.scala
Labels: BACKEND, SPARK

improve: modify comments
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/SparkApplicationBackUp.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/SparkSql.java
Labels: BACKEND

set default team member
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/domain/Constant.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/RoleService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/RoleServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
Labels: BACKEND

getTeamId from teamService
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
Labels: BACKEND

[Bug] Fix: Kerberos authentication issues may occur in Flink on YARN (#3951)
  streampark-common/src/main/scala/org/apache/streampark/common/util/HadoopUtils.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnApplicationClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnPerJobClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/YarnClientTrait.scala
Labels: BACKEND, FLINK

set default password
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/entity/User.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/AuthenticatorImpl.java
Labels: BACKEND

[Improve] yarn client improvement
  streampark-common/src/main/scala/org/apache/streampark/common/util/HadoopUtils.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/YarnClientTrait.scala
Labels: BACKEND, FLINK

[Improve] using bug fixed.
  streampark-common/src/main/scala/org/apache/streampark/common/util/Utils.scala
Labels: BACKEND

[Improve] default team member improvement (#3953)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/domain/Constant.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/RoleService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/RoleServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
Labels: BACKEND

modify constant name
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/entity/User.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/AuthenticatorImpl.java
Labels: BACKEND

[Bug] Fix: Set a default password for Ldap user (#3955)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/entity/User.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/AuthenticatorImpl.java
Labels: BACKEND

set default team member
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/domain/Constant.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/RoleService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/RoleServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
Labels: BACKEND

getTeamId from teamService
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
Labels: BACKEND

code format
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/RoleServiceImpl.java
Labels: BACKEND

fix comment
  streampark-common/pom.xml
  streampark-common/src/main/java/org/apache/streampark/common/utils/UUIDUtils.java
  streampark-common/src/test/java/org/apache/streampark/common/utils/UUIDUtilsTestCase.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/registry/ConsoleRegistryClient.java
Labels: BUILD, BACKEND

fix comment
  streampark-common/src/test/java/org/apache/streampark/common/utils/UUIDUtilsTestCase.java
Labels: BACKEND

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"
