Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

[Improve] mysql "current_timestamp" compatibility Improvement
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.0.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.3.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.1.0.sql
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
Labels: BUILD, BACKEND

[Improve] testcase improvement
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/SpringTestBase.java
Labels: BACKEND

[Improve] mysql ddl current_timestamp syntax compatibility improvement (#3573)
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.0.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.3.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.1.0.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SettingController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkSql.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Variable.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ExternalLinkServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkEnvServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SqlCompleteServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/VariableServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/YarnQueueServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/AccessTokenController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/entity/SysLog.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/AccessTokenService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/AccessTokenServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MemberServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MenuServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/RoleServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/TeamServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/SpringTestBase.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/AccessTokenServiceTest.java
  streampark-console/streampark-console-webapp/src/api/flink/setting/index.ts
Labels: BUILD, WEB UI, BACKEND

[Improve] JAVA_OPTS improvement
  streampark-console/streampark-console-service/src/main/assembly/bin/jvm_opts.sh
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
Labels: BUILD, BACKEND

[Improve] JAVA_OPTS improvement #3575
  streampark-console/streampark-console-service/src/main/assembly/bin/jvm_opts.sh
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
Labels: BUILD, BACKEND

[Improve] JAVA_OPTS improvement (#3580)
  streampark-console/streampark-console-service/src/main/assembly/bin/jvm_opts.sh
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
Labels: BUILD, BACKEND

[Improve] JAVA_OPTS improvement #3575 (#3581)
  streampark-console/streampark-console-service/src/main/assembly/bin/jvm_opts.sh
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
Labels: BUILD, BACKEND

[Improve] remove unused method getStreamParkAddress
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/SettingService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SettingServiceImpl.java
Labels: BACKEND

[Improve] docker|email settings improvement
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-webapp/src/assets/icons/edit.svg
  streampark-console/streampark-console-webapp/src/assets/icons/nginx.svg
  streampark-console/streampark-console-webapp/src/assets/icons/save.svg
  streampark-console/streampark-console-webapp/src/assets/icons/settings.svg
  streampark-console/streampark-console-webapp/src/assets/icons/settings2.svg
  streampark-console/streampark-console-webapp/src/views/setting/System/SettingList.vue
Labels: WEB UI, BACKEND

[Improve] db initialization file improvements
  streampark-console/streampark-console-service/src/main/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/main/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.0.0.sql
Labels: BUILD, BACKEND

[Improve] docker|email settings improvement (#3582)
  streampark-console/streampark-console-service/src/main/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/main/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.0.0.sql
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-webapp/src/assets/icons/edit.svg
  streampark-console/streampark-console-webapp/src/assets/icons/nginx.svg
  streampark-console/streampark-console-webapp/src/assets/icons/save.svg
  streampark-console/streampark-console-webapp/src/assets/icons/settings.svg
  streampark-console/streampark-console-webapp/src/assets/icons/settings2.svg
  streampark-console/streampark-console-webapp/src/views/setting/System/SettingList.vue
Labels: BUILD, WEB UI, BACKEND

[Improve] introduce validate the Docker and email info method
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/SettingAlertEmailConfigParams.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/SettingDockerConfigParams.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SettingController.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/bean/SettingAlertEmailConfigParamsTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/bean/SettingDockerConfigParamsTest.java
Labels: BACKEND

Refactor update setting interface
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/DockerConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/SettingAlertEmailConfigParams.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/SettingDockerConfigParams.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SettingController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/SettingService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SettingServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/bean/SettingAlertEmailConfigParamsTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/bean/SettingDockerConfigParamsTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/SettingServiceTest.java
Labels: BACKEND

[Improve] ddl minor improvement
  streampark-console/streampark-console-service/src/main/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/main/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
Labels: BUILD, BACKEND

improve: add setting modal form
  streampark-console/streampark-console-webapp/src/api/flink/setting/index.ts
  streampark-console/streampark-console-webapp/src/views/setting/System/SettingForm.vue
  streampark-console/streampark-console-webapp/src/views/setting/System/SettingList.vue
Labels: WEB UI

improve: add setting modal form (#3584)
  streampark-console/streampark-console-webapp/src/api/flink/setting/index.ts
  streampark-console/streampark-console-webapp/src/views/setting/System/SettingForm.vue
  streampark-console/streampark-console-webapp/src/views/setting/System/SettingList.vue
Labels: WEB UI

[Improve] fix code format
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/SettingAlertEmailConfigParams.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/SettingDockerConfigParams.java
Labels: BACKEND

[Improve] Refactor update setting interface
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/SettingAlertEmailConfigParams.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/SettingDockerConfigParams.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SettingController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/SettingService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SettingServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/bean/SettingAlertEmailConfigParamsTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/bean/SettingDockerConfigParamsTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/SettingServiceTest.java
Labels: BACKEND

[Improve] Refactor update setting interface
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/SettingAlertEmailConfigParams.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/SettingDockerConfigParams.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SettingController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/SettingService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SettingServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/bean/SettingAlertEmailConfigParamsTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/bean/SettingDockerConfigParamsTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/SettingServiceTest.java
Labels: BACKEND

[Improve] Refactor update setting interface (#3585)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/DockerConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/SettingAlertEmailConfigParams.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/SettingDockerConfigParams.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SettingController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/SettingService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SettingServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/bean/SettingAlertEmailConfigParamsTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/bean/SettingDockerConfigParamsTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/SettingServiceTest.java
Labels: BACKEND

[Improve][WIP] docker|email settings improvements
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/DockerConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/SenderEmail.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/SettingAlertEmailConfigParams.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/SettingDockerConfigParams.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SettingController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/SettingService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/EmailAlertNotifyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SettingServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/bean/SettingAlertEmailConfigParamsTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/bean/SettingDockerConfigParamsTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/SettingServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/alert/AlertServiceTest.java
  streampark-console/streampark-console-webapp/src/api/flink/setting/index.ts
  streampark-console/streampark-console-webapp/src/views/setting/System/SettingForm.vue
Labels: WEB UI, BACKEND

[Improve] testcase bug fixed.
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/SettingServiceTest.java
Labels: BACKEND

[Improve] check docker|email support
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SettingController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/SettingService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SettingServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/SettingServiceTest.java
Labels: BACKEND

[Improve] update docker|email info improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SettingController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SettingServiceImpl.java
  streampark-console/streampark-console-webapp/src/views/setting/System/SettingList.vue
Labels: WEB UI, BACKEND

bugfix: if its not session model,ClusterId should null,not use jobName as ClusterId
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

[Improve] testcase improvement
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/SettingServiceTest.java
Labels: BACKEND

[Improve] testcase bug fixed
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/SettingServiceTest.java
Labels: BACKEND

[Improve] docker|email settings improvements (#3586)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/DockerConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/SenderEmail.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/SettingAlertEmailConfigParams.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/SettingDockerConfigParams.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SettingController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/SettingService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/EmailAlertNotifyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SettingServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/bean/SettingAlertEmailConfigParamsTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/bean/SettingDockerConfigParamsTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/SettingServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/alert/AlertServiceTest.java
  streampark-console/streampark-console-webapp/src/api/flink/setting/index.ts
  streampark-console/streampark-console-webapp/src/views/setting/System/SettingForm.vue
  streampark-console/streampark-console-webapp/src/views/setting/System/SettingList.vue
Labels: WEB UI, BACKEND

bugfix: if its not session model,ClusterId should null,not use jobName as ClusterId (#3587)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

fix: setting form modal
  streampark-console/streampark-console-webapp/src/api/flink/setting/index.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/system.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/setting/system.ts
  streampark-console/streampark-console-webapp/src/views/setting/System/SettingForm.vue
  streampark-console/streampark-console-webapp/src/views/setting/System/config.ts
Labels: WEB UI

style: modal center
  streampark-console/streampark-console-webapp/src/views/setting/System/SettingForm.vue
Labels: WEB UI

[Improve]: Optimize Docker and Email Settings Page Popup Content (#3588)
  streampark-console/streampark-console-webapp/src/api/flink/setting/index.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/system.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/setting/system.ts
  streampark-console/streampark-console-webapp/src/views/setting/System/SettingForm.vue
  streampark-console/streampark-console-webapp/src/views/setting/System/config.ts
Labels: WEB UI

[Improve] docker|email setting FE improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SettingController.java
  streampark-console/streampark-console-webapp/src/api/flink/setting/index.ts
  streampark-console/streampark-console-webapp/src/assets/icons/maven.svg
  streampark-console/streampark-console-webapp/src/layouts/default/header/index.vue
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/system.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/setting/system.ts
  streampark-console/streampark-console-webapp/src/utils/http/axios/index.ts
  streampark-console/streampark-console-webapp/src/views/setting/System/SettingForm.vue
  streampark-console/streampark-console-webapp/src/views/setting/System/config.ts
Labels: WEB UI, BACKEND

[Improve] FE alert improvement
  streampark-console/streampark-console-webapp/src/views/setting/System/SettingForm.vue
Labels: WEB UI

[Improve] docker|email setting FE improvement (#3589)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SettingController.java
  streampark-console/streampark-console-webapp/src/api/flink/setting/index.ts
  streampark-console/streampark-console-webapp/src/assets/icons/maven.svg
  streampark-console/streampark-console-webapp/src/layouts/default/header/index.vue
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/system.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/setting/system.ts
  streampark-console/streampark-console-webapp/src/utils/http/axios/index.ts
  streampark-console/streampark-console-webapp/src/views/setting/System/SettingForm.vue
  streampark-console/streampark-console-webapp/src/views/setting/System/config.ts
Labels: WEB UI, BACKEND

[Improve] log4j level improvement
  streampark-console/streampark-console-service/src/main/resources/logback-spring.xml
Labels: BACKEND

[Improve] check email before update
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SettingServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/SettingServiceTest.java
Labels: BACKEND

[Improve] check connection before update email settings
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SettingController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/SettingService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SettingServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/SettingServiceTest.java
Labels: BACKEND

[Improve] ignore email check test
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/SettingServiceTest.java
Labels: BACKEND

[Improve] log4j level minor improvement
  helm/streampark/conf/streampark-console-config/logback-spring.xml
  streampark-console/streampark-console-webapp/src/locales/lang/en/sys.ts
Labels: WEB UI

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"
