Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"

Add license
  streampark-flink/streampark-flink-catalog-mysql/pom.xml
Labels: BUILD, FLINK

Rename class file
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/MysqlCatalog.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/factory/MysqlCatalogFactory.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/factory/MysqlCatalogFactoryOptions.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
Labels: FLINK

Polish code
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/MysqlCatalog.java
Labels: FLINK

[Fix]: JSON string cannot be accurately verified
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/JacksonUtils.java
Labels: BACKEND

Extract common const PARAM_PREFIX (#2874)
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigConst.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/SqlCommandParser.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-test/src/test/scala/org/apache/streampark/flink/core/test/FlinkSqlExecuteFunSuite.scala
  streampark-spark/streampark-spark-core/src/main/scala/org/apache/streampark/spark/core/Spark.scala
Labels: BACKEND, FLINK, SPARK

application minor improvament
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/CommonUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/ObjectUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkSql.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

[catalog] Improve mysql catalog
  streampark-flink/streampark-flink-catalog-mysql/pom.xml
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/MysqlCatalog.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/dao/BaseDao.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/dao/ColumnDao.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/dao/DatabaseDao.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/dao/DatabasePropertiesDao.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/dao/FunctionDao.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/dao/PropertiesDao.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/dao/TableDao.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/dao/TablePropertiesDao.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/pom.xml
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-flink-v1/pom.xml
Labels: BUILD, FLINK

Fix code style
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/dao/BaseDao.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/dao/ColumnDao.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/dao/DatabaseDao.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/dao/DatabasePropertiesDao.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/dao/FunctionDao.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/dao/PropertiesDao.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/dao/TableDao.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/dao/TablePropertiesDao.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/utils/Constants.java
Labels: FLINK

Remove streampark common dependency
  streampark-flink/streampark-flink-catalog-mysql/pom.xml
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/MysqlCatalog.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/dao/ColumnDao.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/dao/DatabaseDao.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/dao/FunctionDao.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/dao/TableDao.java
Labels: BUILD, FLINK

Address comment
  dist-material/release-docs/LICENSE
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/MysqlCatalog.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/java/org/apache/streampark/flink/catalog/dao/BaseDao.java
Labels: FLINK

Address comment
  streampark-flink/streampark-flink-catalog-mysql/pom.xml
Labels: BUILD, FLINK

Remove FlinkClientTrait duplicate code
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: FLINK

Remove FlinkClientTrait duplicate code
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: FLINK

Remove FlinkClientTrait duplicate code (#2893)
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: FLINK

resolveMavenDependencies support
  streampark-common/pom.xml
  streampark-common/src/main/scala/org/apache/streampark/common/util/DependencyUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ResourceController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ResourceService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/DependencyUtilsTest.java
Labels: BUILD, BACKEND

flink connector resource improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ResourceService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/DependencyUtilsTest.java
  streampark-flink/streampark-flink-catalog-mysql/src/main/resources/mysql.sql
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/MavenTool.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/pipeline/impl/FlinkYarnApplicationBuildPipeline.scala
  streampark-flink/streampark-flink-packer/src/test/scala/org/apache/streampark/flink/packer/MavenToolSpec.scala
Labels: BACKEND, FLINK

DependencyUtils improvement
  streampark-common/pom.xml
  streampark-common/src/main/scala/org/apache/streampark/common/util/DependencyUtils.scala
Labels: BUILD, BACKEND

get flink connector id
  streampark-common/src/main/scala/org/apache/streampark/common/util/ClassLoaderUtils.scala
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ResourceService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/DependencyUtilsTest.java
Labels: BUILD, BACKEND

DependencyUtilsTest improvement
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/DependencyUtilsTest.java
Labels: BACKEND

get flink connector improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/Dependency.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/FlinkConnectorResource.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ResourceService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/DependencyUtilsTest.java
Labels: BACKEND

license improvement
  streampark-flink/streampark-flink-catalog-mysql/src/main/resources/mysql.sql
Labels: FLINK

minor improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
Labels: BACKEND

oh. so sad
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/DependencyUtilsTest.java
Labels: BACKEND

minor improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/Dependency.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/Pom.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkSql.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/DependencyUtilsTest.java
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/MavenTool.scala
Labels: BACKEND, FLINK

minor improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/Pom.java
Labels: BACKEND

[improvement] improvement flink cluster verifyClusterConnection
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkHttpWatcher.java
Labels: BACKEND

[Feature] support for flink cluster configuration
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/EditCluster.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/useClusterSetting.ts
Labels: WEB UI, BACKEND

The YarnClientTrait add clusterClient close
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/YarnClientTrait.scala
Labels: FLINK

Modify RemoteClient log
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/RemoteClient.scala
Labels: FLINK

Modify RemoteClient log (#2908)
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/RemoteClient.scala
Labels: FLINK

Optimized code
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/YarnClientTrait.scala
Labels: FLINK

[improvement] improvement flink cluster verifyClusterConnection (#2903)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkHttpWatcher.java
Labels: BACKEND

[Feature] support for flink cluster configuration (#2905)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/EditCluster.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/useClusterSetting.ts
Labels: WEB UI, BACKEND

The YarnClientTrait add clusterClient close (#2906)
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/YarnClientTrait.scala
Labels: FLINK

resource improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/JacksonUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/Dependency.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/FlinkConnectorResource.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/Pom.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ResourceController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Resource.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ResourceService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ResourceMapper.xml
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/DependencyUtilsTest.java
  streampark-console/streampark-console-webapp/src/api/flink/resource/index.ts
  streampark-console/streampark-console-webapp/src/api/flink/resource/model/resourceModel.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/resource.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/resource.ts
  streampark-console/streampark-console-webapp/src/views/flink/resource/components/ResourceDrawer.vue
Labels: WEB UI, BACKEND

testcase improvement
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/DependencyUtilsTest.java
Labels: BACKEND

upload file resource improvement
  streampark-console/streampark-console-webapp/src/views/flink/resource/components/Resource.vue
  streampark-console/streampark-console-webapp/src/views/flink/resource/components/ResourceDrawer.vue
Labels: WEB UI

Shaded module for flink-kubernetes-operator-api dependency #2880
  streampark-shaded/pom.xml
  streampark-shaded/streampark-shaded-flink-kubernetes-operator/pom.xml
Labels: BUILD

ddl improvement
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.2.0.sql
Labels: BUILD, BACKEND

Supplement the license declaration for flink shaded.
  dist-material/release-docs/LICENSE
Labels: none
