Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

[Flink-K8s-V2] Create Shaded module for flink-kubernetes-operator-api dependency (#2909)
  dist-material/release-docs/LICENSE
  streampark-shaded/pom.xml
  streampark-shaded/streampark-shaded-flink-kubernetes-operator/pom.xml
Labels: BUILD

Initialize flink kubernetes v2 modules. #2881
  dist-material/release-docs/LICENSE
  streampark-console/streampark-console-service/pom.xml
  streampark-flink/pom.xml
  streampark-flink/streampark-flink-kubernetes-v2/pom.xml
  streampark-flink/streampark-flink-kubernetes/pom.xml
Labels: BUILD, BACKEND, FLINK, KUBERNETES

Delete configuration A to obtain a more compact lambda format.
  .scalafmt.conf
Labels: none

YarnSessionClient code optimization
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnSessionClient.scala
Labels: FLINK

YarnSessionClient code optimization
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnSessionClient.scala
Labels: FLINK

resource improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/domain/RestRequest.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/domain/RestResponse.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/domain/router/RouterMeta.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/domain/router/VueRouter.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/CommonUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Resource.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Variable.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ResourceService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/authentication/JWTToken.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/entity/AccessToken.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/entity/Member.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/entity/Menu.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/entity/Role.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/entity/RoleMenu.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/entity/SysLog.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/entity/Team.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/entity/User.java
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/resource.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/resource.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/Add.less
  streampark-console/streampark-console-webapp/src/views/flink/resource/components/Resource.vue
  streampark-console/streampark-console-webapp/src/views/flink/resource/components/ResourceDrawer.vue
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/src/main/java/org/apache/streampark/flink/connector/doris/bean/LoadStatusFailedException.java
Labels: WEB UI, BACKEND, FLINK

[style] code style update
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
Labels: BACKEND

[optimization] console service code optimization
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/domain/RestRequest.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/domain/RestResponse.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/interceptor/UploadFileTypeInterceptor.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/CommonUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/FileUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/GZipUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/ObjectUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/ShaHashUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/SpringContextUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/aspect/StreamParkAspect.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/AlertTemplate.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkClusterController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/VariableController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkEnv.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/AppBuildPipeService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkClusterService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkEnvService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ResourceService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/VariableService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/AlertConfigServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationBackUpServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ExternalLinkServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SettingServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SqlCompleteServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/VariableServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/authentication/JWTUtil.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/authentication/ShiroService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/authentication/SsoShiroPlugin.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/mapper/UserMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/MenuService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/UserService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MenuServiceImpl.java
Labels: BACKEND

Migrate util codes #2881
  streampark-flink/streampark-flink-kubernetes-v2/pom.xml
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/util/Parser.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/util/ZIOContainerSubscription.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/util/ZIOExt.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/util/package.scala
Labels: BUILD, FLINK

Migrate zio extension to srteampark-common #2881
  .scalafmt.conf
  pom.xml
  streampark-common/pom.xml
  streampark-common/src/main/scala/org/apache/streampark/common/zio/ZIOContainerSubscription.scala
  streampark-common/src/main/scala/org/apache/streampark/common/zio/ZIOExt.scala
  streampark-common/src/main/scala/org/apache/streampark/common/zio/package.scala
  streampark-flink/streampark-flink-kubernetes-v2/pom.xml
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/util/package.scala
Labels: BUILD, BACKEND, FLINK

mark Deprecated flink-k8s config #2881
  streampark-common/src/main/scala/org/apache/streampark/common/conf/K8sFlinkConfig.scala
Labels: BACKEND

flink-k8s v2 configuration #2881
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/Config.scala
Labels: FLINK

Embedded http file server implementation. #2881
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/httpfs/EmbeddedFileServer.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/httpfs/FileMirror.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/httpfs/FileServerPeerAddress.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/httpfs/package.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/util/K8sTools.scala
Labels: FLINK

update scalafmt
  .scalafmt.conf
Labels: none

remove util package. #2881
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/K8sTools.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/package.scala
Labels: FLINK

Init flink-k8s-v2 model and rest request wrapper. #2881
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/FlinkRestRequest.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/model/ClusterMetrics.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/model/FlinkCRStatus.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/model/FlinkDeploymentDef.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/model/FlinkSessionJobDef.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/model/JobSavepointDef.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/model/JobSavepointStatus.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/model/JobSnapshot.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/model/JobStatus.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/model/RestSvcEndpoint.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/model/TrackKey.scala
Labels: FLINK

format code. #2881
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/httpfs/EmbeddedFileServer.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/httpfs/FileServerPeerAddress.scala
Labels: FLINK

Conversion of Flink K8s JobSnapshot to FlinkAppState. #2881
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/FlinkAppState.java
  streampark-console/streampark-console-service/src/main/scala/org/apache/streampark/console/core/utils/FlinkAppStateConverter.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/model/JobSnapshot.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/model/JobStatus.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/enums/FlinkJobState.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/model/FlinkMetricCV.scala
Labels: BACKEND, FLINK, KUBERNETES

replace deprecated anno. #2881
  streampark-common/src/main/scala/org/apache/streampark/common/conf/K8sFlinkConfig.scala
Labels: BACKEND

YarnSessionClient code optimization
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnSessionClient.scala
Labels: FLINK

Add catalog management and sql gateway api
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.2.0.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/SqlGatewayExecuteResult.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkCatalogController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SqlWorkBenchController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCatalog.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/CatalogMetaType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/FlinkCatalogMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkCatalogService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/SqlWorkBenchService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkCatalogServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SqlWorkBenchServiceImpl.java
  streampark-console/streampark-console-webapp/src/api/flink/setting/flinkCatalog.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/menu.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/flinkCatalog.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/setting/flinkCatalog.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCatalog/components/FlinkCatalogDrawer.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCatalog/index.data.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCatalog/index.vue
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-flink-v1/src/test/java/org/apache/streampark/gateway/flink/FlinkSqlGatewayExample.java
Labels: BUILD, WEB UI, BACKEND, FLINK

[Fix]: JSON string cannot be accurately verified
  streampark-console/streampark-console-service/src/main/resources/application.yml
  streampark-console/streampark-console-service/src/main/resources/logback-spring.xml
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/SpringTestBase.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/FlinkClusterServiceTest.java
Labels: BACKEND

Implementation of flink k8s resources operators and observers. #2881
  .scalafmt.conf
  streampark-common/src/main/scala/org/apache/streampark/common/zio/ZIOExt.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/FlinkRestRequest.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/K8sTools.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/httpfs/EmbeddedFileServer.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/model/TrackKey.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/observer/DeployCRObserver.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/observer/FlinkK8sObserver.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/observer/RawClusterObserver.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/observer/RestSvcEndpointObserver.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/observer/SessionJobCRObserver.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/observer/package.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/operator/CROperator.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/operator/FlinkK8sOperator.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/operator/OprErr.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/operator/package.scala
Labels: BACKEND, FLINK

IngressController code optimization
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/ingress/IngressController.scala
Labels: FLINK, KUBERNETES

YarnSessionClient code optimization (#2911)
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnSessionClient.scala
Labels: FLINK

[improvement] improvement flink cluster alert
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/AlertTemplate.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ApplicationMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-dingTalk.ftl
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-email.ftl
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-lark.ftl
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-weCom.ftl
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
Labels: BACKEND

Reimplement ZIO StreamPark logger backend. #2881
  dist-material/release-docs/LICENSE
  pom.xml
  streampark-common/pom.xml
  streampark-common/src/main/scala/org/apache/streampark/common/zio/LoggerBackend.scala
  streampark-common/src/main/scala/org/apache/streampark/common/zio/ZIOExt.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/K8sTools.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/httpfs/EmbeddedFileServer.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/httpfs/FileServerPeerAddress.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/observer/FlinkK8sObserver.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/observer/SessionJobCRObserver.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/operator/CROperator.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/test/resources/assets/flink-faker-0.5.3.jar
  streampark-flink/streampark-flink-kubernetes-v2/src/test/resources/assets/quick-sql-1.0.jar
  streampark-flink/streampark-flink-kubernetes-v2/src/test/scala/org/apache/streampark/flink/kubernetes/v2/example/UsingEmbeddedFileServer.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/test/scala/org/apache/streampark/flink/kubernetes/v2/example/package.scala
Labels: BUILD, BACKEND, FLINK

Fix the incorrect mirror path . #2881
  streampark-common/src/main/scala/org/apache/streampark/common/conf/Workspace.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/Config.scala
Labels: BACKEND, FLINK

Implement flink gateway v2 api
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/JacksonUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SqlWorkBenchController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/SqlWorkBenchService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkGateWayServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SqlWorkBenchServiceImpl.java
  streampark-flink/streampark-flink-sql-gateway/pom.xml
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/CompleteStatementRequestBody.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/service/SqlGatewayService.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/test/java/org/apache/streampark/gateway/service/SqlGatewayServiceFactoryUtilsTest.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/test/java/org/apache/streampark/gateway/utils/FakeSqlGatewayService.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/test/java/org/apache/streampark/gateway/utils/MockedSqlGatewayService.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-flink-v1/src/main/java/org/apache/streampark/gateway/flink/v1/FlinkSqlGatewayImpl.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-flink-v1/src/main/java/org/apache/streampark/gateway/flink/v1/FlinkSqlGatewayServiceFactory.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-flink-v1/src/test/java/org/apache/streampark/gateway/flink/FlinkSqlGatewayExample.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-flink-v2/pom.xml
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-flink-v2/src/main/java/org/apache/streampark/gateway/flink/v2/FlinkSqlGatewayImpl.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-flink-v2/src/main/java/org/apache/streampark/gateway/flink/v2/FlinkSqlGatewayServiceFactory.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-flink-v2/src/main/resources/META-INF/services/org.apache.streampark.gateway.factories.Factory
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-flink-v2/src/main/resources/flink_sql_gateway_rest_v2.yml
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-flink-v2/src/test/java/org/apache/streampark/gateway/flink/FlinkSqlGateway.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-flink-v2/src/test/java/org/apache/streampark/gateway/flink/FlinkSqlGatewayExample.java
Labels: BUILD, BACKEND, FLINK

Implement flink gateway v2 api
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-flink-v2/src/test/java/org/apache/streampark/gateway/flink/FlinkSqlGatewayExample.java
Labels: FLINK

template store . #2881
  streampark-flink/streampark-flink-kubernetes-v2/src/main/scala/org/apache/streampark/flink/kubernetes/v2/httpfs/FileServerPeerAddress.scala
  streampark-flink/streampark-flink-kubernetes-v2/src/test/scala/org/apache/streampark/flink/kubernetes/v2/example/UsingEmbeddedFileServer.scala
Labels: FLINK

Add catalog management and sql gateway api
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkGateWayController.java
Labels: BACKEND

Replace sttp client to zio-http client due to Java 8 incompatibility #2881
  dist-material/release-docs/LICENSE
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-engine/pom.xml
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-engine/src/main/scala/org/apache/streampark/flink/kubernetes/v2/FlinkRestRequest.scala
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-engine/src/main/scala/org/apache/streampark/flink/kubernetes/v2/observer/FlinkK8sObserver.scala
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-engine/src/test/scala/org/apache/streampark/flink/kubernetes/v2/example/UsingObserver.scala
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-engine/src/test/scala/org/apache/streampark/flink/kubernetes/v2/example/UsingOperator.scala
Labels: BUILD, FLINK

Move the evaluation process of the final status of flink k8s tasks to the flink-k8s-v2 module for better readability. #2881
  streampark-console/streampark-console-service/src/main/scala/org/apache/streampark/console/core/utils/FlinkAppStateConverter.scala
  streampark-flink/pom.xml
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-engine/src/main/scala/org/apache/streampark/flink/kubernetes/v2/FlinkRestRequest.scala
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-engine/src/main/scala/org/apache/streampark/flink/kubernetes/v2/model/JobSnapshot.scala
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-engine/src/main/scala/org/apache/streampark/flink/kubernetes/v2/model/JobState.scala
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-engine/src/main/scala/org/apache/streampark/flink/kubernetes/v2/model/JobStatus.scala
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-engine/src/main/scala/org/apache/streampark/flink/kubernetes/v2/observer/FlinkK8sObserver.scala
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-engine/src/main/scala/org/apache/streampark/flink/kubernetes/v2/observer/RawClusterObserver.scala
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-engine/src/test/scala/org/apache/streampark/flink/kubernetes/v2/example/UsingObserver.scala
Labels: BUILD, BACKEND, FLINK

Format code
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-crd/src/main/resources/crd/flinkdeployments.flink.apache.org-v1.yml
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-crd/src/main/resources/crd/flinksessionjobs.flink.apache.org-v1.yml
Labels: FLINK

Solve compilation issues. #2881
  .scalafmt-fp.conf
  streampark-common/src/main/scala/org/apache/streampark/common/zio/LoggerBackend.scala
  streampark-common/src/main/scala/org/apache/streampark/common/zio/ZIOContainerSubscription.scala
  streampark-common/src/main/scala/org/apache/streampark/common/zio/ZIOExt.scala
  streampark-common/src/main/scala/org/apache/streampark/common/zio/package.scala
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/FlinkAppState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-flink/pom.xml
  streampark-flink/streampark-flink-kubernetes-v2/pom.xml
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-engine/src/main/scala/org/apache/streampark/flink/kubernetes/v2/model/FlinkDeploymentDef.scala
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-engine/src/main/scala/org/apache/streampark/flink/kubernetes/v2/operator/CROperator.scala
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-engine/src/main/scala/org/apache/streampark/flink/kubernetes/v2/operator/OprErr.scala
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-engine/src/test/scala/org/apache/streampark/flink/kubernetes/v2/FlinkMemorySizeParserSpec.scala
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-engine/src/test/scala/org/apache/streampark/flink/kubernetes/v2/example/UsingEmbeddedFileServer.scala
Labels: BUILD, BACKEND, FLINK

KubernetesClient is changed to singleton mode
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/KubernetesRetriever.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/helper/KubernetesDeploymentHelper.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/ingress/IngressController.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/ingress/IngressStrategy.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/ingress/IngressStrategyV1.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/ingress/IngressStrategyV1beta1.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkK8sEventWatcher.scala
Labels: FLINK, KUBERNETES

[improvement] improvement flink cluster alert
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
Labels: BACKEND

avoid errors in batch insert caused by different tables or columns
  streampark-flink/streampark-flink-connector/streampark-flink-connector-base/src/main/scala/org/apache/streampark/flink/connector/failover/SinkRequest.scala
Labels: FLINK

ClusterKey code optimization
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/model/ClusterKey.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/model/TrackId.scala
Labels: FLINK, KUBERNETES

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"
