Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"

[Improve] shell script improvement (#3660)
  .github/workflows/docker-push.yml
  streampark-console/streampark-console-service/src/main/assembly/bin/setclasspath.sh
  streampark-console/streampark-console-service/src/main/assembly/bin/shutdown.sh
  streampark-console/streampark-console-service/src/main/assembly/bin/startup.sh
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
Labels: INFRA, BUILD, BACKEND

Fixed the issue that SSO could not jump when debugging the front-end and backend separation locally (#3658)
  streampark-console/streampark-console-webapp/.env.development
  streampark-console/streampark-console-webapp/src/views/base/login/LoginForm.vue
  streampark-console/streampark-console-webapp/types/global.d.ts
Labels: WEB UI

[Bug][Flink-Submit] Fixed security issues with submitting external applications to manipulate the Jvm
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/utils/SystemSecurityManager.java
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/FlinkClient.scala
Labels: BACKEND, FLINK

Update FlinkClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/FlinkClient.scala
Labels: FLINK

[Bug][Flink-Submit] Fixed security issues with submitting external applications to manipulate the Jvm (#3659)
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/FlinkClient.scala
Labels: FLINK

[Bug][Flink-Submit][dev-2.1.4]Fixed security issues with submitting external applications to manipulate the Jvm FLINK
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/FlinkClient.scala
Labels: FLINK

[Bug][Flink-Submit][dev-2.1.4]Fixed security issues with submitting external applications to manipulate the Jvm FLINK (#3661)
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/FlinkClient.scala
Labels: FLINK

[Improve] shiro permission improvement
  streampark-console/streampark-console-service/src/main/assembly/plugins/.gitkeep
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/MemberController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/UserController.java
Labels: BUILD, BACKEND

[Improve] i18n minor improvements
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/member.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/team.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/member.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/team.ts
Labels: WEB UI

[Improve] docker-push script improve
  .github/workflows/docker-push.yml
Labels: INFRA

docker-push.yml update
  .github/workflows/docker-push.yml
Labels: INFRA

[Improve] access permission check improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/PermissionType.java
Labels: BACKEND

[Improve] permission check improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/annotation/PermissionScope.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/aspect/StreamParkAspect.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationBuildPipelineController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/PermissionType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/MemberController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/UserController.java
  streampark-console/streampark-console-webapp/src/api/flink/app/app.ts
  streampark-console/streampark-console-webapp/src/store/modules/user.ts
Labels: WEB UI, BACKEND

[Improve] plugins dir remove
  streampark-console/streampark-console-service/src/main/assembly/plugins/.gitkeep
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
Labels: BUILD, BACKEND

FIx: Fix the error description
  helm/README.md
Labels: DOCS

[Bug] load logback-spring.xml file bug fixed
  docker/config.yaml
  helm/streampark/templates/configmap.yaml
  helm/streampark/templates/streampark.yml
  logback-spring.xml
  streampark-common/src/main/scala/org/apache/streampark/common/util/Logger.scala
  streampark-console/streampark-console-service/src/main/assembly/assembly.xml
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/SpringProperties.java
  streampark-console/streampark-console-service/src/main/resources/config.yaml
  streampark-console/streampark-console-service/src/main/resources/logback-spring.xml
  streampark-flink/streampark-flink-proxy/src/main/scala/org/apache/streampark/flink/proxy/FlinkShimsProxy.scala
Labels: BUILD, BACKEND, FLINK

[Improve] k8s job state improve
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sChangeEventListener.java
Labels: BACKEND

[Improve] 2.1.4 sql upgrade
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.4.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.1.4.sql
Labels: BUILD, BACKEND

FIx: Fix the error description (#3665)
  helm/README.md
Labels: DOCS

[Improve] k8s deployment check exists improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sChangeEventListener.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sWatcherWrapper.java
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/KubernetesRetriever.scala
Labels: BACKEND, FLINK, KUBERNETES

[Improve] remapping flink job state bug fixed.
  streampark-console/streampark-console-service/src/main/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/main/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.4.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.1.4.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/AlertTemplate.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationHistoryController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ApplicationMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ExternalLinkServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkAppHttpWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sChangeEventListener.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/alert/AlertServiceTest.java
  streampark-console/streampark-console-webapp/src/api/flink/app/flinkHistory.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/EditFlink.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useApp.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/utils/index.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/useClusterSetting.ts
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/enums/FlinkJobState.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
Labels: BUILD, WEB UI, BACKEND, FLINK, KUBERNETES

[Improve] flink job release state improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sChangeEventListener.java
  streampark-console/streampark-console-webapp/src/enums/flinkEnum.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/flinkCluster.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/setting/flinkCluster.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/EditFlink.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/AppDashboard.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/State.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/data/detail.data.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/data/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useApp.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/utils/index.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/useClusterSetting.ts
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/FlinkK8sWatchController.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
Labels: WEB UI, BACKEND, FLINK, KUBERNETES

[Improve] adjust swagger api display range and only retain application op api
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/OpenapiConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/SpringProperties.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/AlertController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationBuildPipelineController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationHistoryController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ConfigController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ExternalLinkController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkClusterController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkEnvController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkPodTemplateController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkSqlController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/MessageController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ProjectController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SavePointController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SettingController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/VariableController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/YarnQueueController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/AccessTokenController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/MemberController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/MenuController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/PassportController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/RoleController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/TeamController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/UserController.java
Labels: BACKEND

[ISSUES-3667] KubernetesClusterDescriptor not closed after use, cause the file handle resource leaks
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/KubernetesRetriever.scala
Labels: FLINK, KUBERNETES

[Improve] project permission bug fixed.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ProjectController.java
  streampark-console/streampark-console-webapp/src/views/flink/app/EditFlink.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
Labels: WEB UI, BACKEND

[Improve] ThreadPoolExecutor param improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sWatcherWrapper.java
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/ChangeEventBus.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/KubernetesRetriever.scala
Labels: BACKEND, FLINK, KUBERNETES

[Improve] api access permission improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkSqlController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SavePointController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SettingController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkSql.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/SavePoint.java
  streampark-console/streampark-console-webapp/src/api/flink/app/flinkSql.ts
  streampark-console/streampark-console-webapp/src/api/flink/app/savepoint.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/DetailTab.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/FlinkSqlCompareModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/FlinkSql.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useDetail.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useEditStreamPark.ts
Labels: WEB UI, BACKEND

[ISSUES-3667] KubernetesClusterDescriptor not closed after use, cause the file handle resource leaks
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/KubernetesRetriever.scala
Labels: FLINK, KUBERNETES

[Improve] Added locale picker to login page
  streampark-console/streampark-console-webapp/src/views/base/login/Login.vue
Labels: WEB UI

[Improve] Added locale picker to login page (#3670)
  streampark-console/streampark-console-webapp/src/views/base/login/Login.vue
Labels: WEB UI

[Improve] application backup improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationBackUpServiceImpl.java
  streampark-console/streampark-console-webapp/src/views/flink/app/Detail.vue
Labels: WEB UI, BACKEND

remove @Operation annotations
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/OpenapiConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/domain/ApiDocConstant.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/AlertController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationBuildPipelineController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationHistoryController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ConfigController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ExternalLinkController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkClusterController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkEnvController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkPodTemplateController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkSqlController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/MessageController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ProjectController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SavePointController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SettingController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/VariableController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/YarnQueueController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/AccessTokenController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/MemberController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/MenuController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/PassportController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/RoleController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/TeamController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/UserController.java
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkCheckpointWatcher.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkMetricsWatcher.scala
Labels: BACKEND, FLINK, KUBERNETES

[Improve] login-page localePicker style improvement
  streampark-console/streampark-console-webapp/src/views/base/login/Login.vue
Labels: WEB UI

[Improve] api access permission improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkSqlController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/AccessTokenController.java
Labels: BACKEND

[ISSUES-3667] KubernetesClusterDescriptor not closed after use, cause the file handle resource leaks (#3668)
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/KubernetesRetriever.scala
Labels: FLINK, KUBERNETES

[Improve] get token api bug fixed.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/AccessTokenController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/UserController.java
Labels: BACKEND

spotless
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
Labels: BACKEND

[Improve] adjust swagger api display range and only retain application op api. (#3669)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/OpenapiConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/SpringProperties.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/domain/ApiDocConstant.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/AlertController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationBuildPipelineController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationHistoryController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ConfigController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ExternalLinkController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkClusterController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkEnvController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkPodTemplateController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkSqlController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/MessageController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ProjectController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SavePointController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SettingController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/VariableController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/YarnQueueController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/AccessTokenController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/MemberController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/MenuController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/PassportController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/RoleController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/TeamController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/UserController.java
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkCheckpointWatcher.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkMetricsWatcher.scala
Labels: BACKEND, FLINK, KUBERNETES

[Improve] StreamPark open api config improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/OpenapiConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/SpringProperties.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/ApplicationBackUp.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/ApplicationLog.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

[Improve] open api config improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationBuildPipelineController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SavePointController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/YarnQueueController.java
Labels: BACKEND
