Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"

[Improve] get flink job state from FsJobArchivist improvement
  streampark-common/src/main/scala/org/apache/streampark/common/conf/Workspace.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkEnv.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sWatcherWrapper.java
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/model/TrackId.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
Labels: BACKEND, FLINK, KUBERNETES

[Improve] apache flink 1.19 support
  streampark-common/src/main/scala/org/apache/streampark/common/conf/FlinkVersion.scala
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkEnv.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkEnvServiceImpl.java
  streampark-flink/streampark-flink-shims/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.19/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.19/src/main/scala/org/apache/streampark/flink/core/FlinkClusterClient.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.19/src/main/scala/org/apache/streampark/flink/core/FlinkKubernetesClient.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.19/src/main/scala/org/apache/streampark/flink/core/StreamTableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.19/src/main/scala/org/apache/streampark/flink/core/TableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.19/src/main/scala/org/apache/streampark/flink/core/TableExt.scala
Labels: BUILD, BACKEND, FLINK

[Improve] 2.1.4 upgrade sql bug fixed.
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.4.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.1.4.sql
Labels: BUILD, BACKEND

[Feature] apache flink 1.19 support (#3673)
  streampark-common/src/main/scala/org/apache/streampark/common/conf/FlinkVersion.scala
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.1.4.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkEnv.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkEnvServiceImpl.java
  streampark-flink/streampark-flink-shims/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.19/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.19/src/main/scala/org/apache/streampark/flink/core/FlinkClusterClient.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.19/src/main/scala/org/apache/streampark/flink/core/FlinkKubernetesClient.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.19/src/main/scala/org/apache/streampark/flink/core/StreamTableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.19/src/main/scala/org/apache/streampark/flink/core/TableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.19/src/main/scala/org/apache/streampark/flink/core/TableExt.scala
Labels: BUILD, BACKEND, FLINK

[Improve] check member permissions improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MemberServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/mapper/system/MemberMapper.xml
Labels: BACKEND

[Feature] apache flink 1.19 support
  streampark-common/src/main/scala/org/apache/streampark/common/conf/FlinkVersion.scala
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-flink/streampark-flink-shims/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.19/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.19/src/main/scala/org/apache/streampark/flink/core/FlinkClusterClient.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.19/src/main/scala/org/apache/streampark/flink/core/FlinkKubernetesClient.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.19/src/main/scala/org/apache/streampark/flink/core/StreamTableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.19/src/main/scala/org/apache/streampark/flink/core/TableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.19/src/main/scala/org/apache/streampark/flink/core/TableExt.scala
Labels: BUILD, BACKEND, FLINK

[Feature] apache flink 1.19 support (#3675)
  streampark-common/src/main/scala/org/apache/streampark/common/conf/FlinkVersion.scala
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-flink/streampark-flink-shims/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.19/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.19/src/main/scala/org/apache/streampark/flink/core/FlinkClusterClient.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.19/src/main/scala/org/apache/streampark/flink/core/FlinkKubernetesClient.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.19/src/main/scala/org/apache/streampark/flink/core/StreamTableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.19/src/main/scala/org/apache/streampark/flink/core/TableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.19/src/main/scala/org/apache/streampark/flink/core/TableExt.scala
Labels: BUILD, BACKEND, FLINK

[Improve][project-build] Limit the number of running build projects
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ProjectController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ProjectMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ProjectService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/application-mysql.yml
  streampark-console/streampark-console-service/src/main/resources/application.yml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ProjectMapper.xml
Labels: BACKEND

[Improve][project-build] Limit the number of running build projects
  streampark-console/streampark-console-service/src/main/resources/application-mysql.yml
Labels: BACKEND

[Improve][project-build] Limit the number of running build projects
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ProjectMapper.xml
Labels: BACKEND

[Fix][Bug] Fix userName to username
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/system.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/setting/system.ts
  streampark-console/streampark-console-webapp/src/views/setting/system/config.ts
Labels: WEB UI

[Fix][Bug] Fix userName to username (#3676)
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/system.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/setting/system.ts
  streampark-console/streampark-console-webapp/src/views/setting/system/config.ts
Labels: WEB UI

[Improve] StreamPark Platform configuration files improvements
  streampark-common/src/main/scala/org/apache/streampark/common/util/HadoopConfigUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/HadoopUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/StreamParkConsoleBootstrap.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/SpringProperties.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/authentication/SsoShiroPlugin.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/SsoController.java
  streampark-console/streampark-console-service/src/main/resources/application-h2.yml
  streampark-console/streampark-console-service/src/main/resources/application-mysql.yml
  streampark-console/streampark-console-service/src/main/resources/application-pgsql.yml
  streampark-console/streampark-console-service/src/main/resources/application-sso.yml
  streampark-console/streampark-console-service/src/main/resources/application.yml
  streampark-console/streampark-console-service/src/main/resources/config.yaml
Labels: BACKEND

[Improve] springboot testcase improve
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/SpringIntegrationTestBase.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/SpringUnitTestBase.java
Labels: BACKEND

[Improve] yarnUtils bug fixed
  streampark-common/src/main/scala/org/apache/streampark/common/util/YarnUtils.scala
Labels: BACKEND, YARN

[Improve] minor improve
  streampark-common/src/main/scala/org/apache/streampark/common/util/HadoopUtils.scala
Labels: BACKEND

[Improve] StreamPark Platform configuration files improvements (#3679)
  streampark-common/src/main/scala/org/apache/streampark/common/util/HadoopConfigUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/HadoopUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/YarnUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/StreamParkConsoleBootstrap.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/SpringProperties.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/authentication/SsoShiroPlugin.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/SsoController.java
  streampark-console/streampark-console-service/src/main/resources/application-h2.yml
  streampark-console/streampark-console-service/src/main/resources/application-mysql.yml
  streampark-console/streampark-console-service/src/main/resources/application-pgsql.yml
  streampark-console/streampark-console-service/src/main/resources/application-sso.yml
  streampark-console/streampark-console-service/src/main/resources/application.yml
  streampark-console/streampark-console-service/src/main/resources/config.yaml
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/SpringIntegrationTestBase.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/SpringUnitTestBase.java
Labels: BACKEND, YARN

[Improve] DISCLAIMER improvement
  DISCLAIMER
  README.md
Labels: DOCS

[Improve] streampark image tag improvement in docker/docker-compose.yaml
  docker/README.md
  docker/docker-compose.yaml
Labels: DOCS

[Hotfix] Fix the Chinese annotation corresponding to projectIsbuildingMessage
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/project.ts
Labels: WEB UI

[Hotfix] Fix the Chinese annotation corresponding to projectIsbuildingMessage (#3685)
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/project.ts
Labels: WEB UI

[Improve] Check the validity of the Docker image
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/DockerImageService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/DockerImageServiceImpl.java
  streampark-flink/streampark-flink-packer/pom.xml
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/docker/DockerImageExist.scala
  streampark-flink/streampark-flink-packer/src/test/scala/org/apache/streampark/flink/packer/DockerClientTest.scala
Labels: BUILD, BACKEND, FLINK

[Improve] Check the validity of the Docker image
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/DockerImageService.java
Labels: BACKEND

[Improve][project-build] Limit the number of running build projects
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ProjectController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ProjectMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ProjectService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/config.yaml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ProjectMapper.xml
Labels: BACKEND

[Improve] Check the validity of the Docker image (#3686)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/DockerImageService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/DockerImageServiceImpl.java
  streampark-flink/streampark-flink-packer/pom.xml
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/docker/DockerImageExist.scala
  streampark-flink/streampark-flink-packer/src/test/scala/org/apache/streampark/flink/packer/DockerClientTest.scala
Labels: BUILD, BACKEND, FLINK

[Improve] init config bug fixed
  streampark-console/streampark-console-service/src/main/assembly/assembly.xml
  streampark-console/streampark-console-service/src/main/assembly/conf/config.yaml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/SpringProperties.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-console/streampark-console-service/src/main/resources/kerberos.yml
Labels: BUILD, BACKEND

[Improve] config init bug fixed. (#3688)
  streampark-console/streampark-console-service/src/main/assembly/assembly.xml
  streampark-console/streampark-console-service/src/main/assembly/conf/config.yaml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/SpringProperties.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-console/streampark-console-service/src/main/resources/kerberos.yml
Labels: BUILD, BACKEND

[Improve] DISCLAIMER and README.md improvement (#3683)
  DISCLAIMER
  README.md
  docker/README.md
  docker/docker-compose.yaml
Labels: DOCS

[Improve] Properly carry vue-vben-admin's license info
  LICENSE
  streampark-console/streampark-console-webapp/LICENSE
  streampark-console/streampark-console-webapp/LICENSE-vue-vben-admin.txt
Labels: WEB UI

[Improve] Properly carry vue-vben-admin's license info (#3689)
  LICENSE
  streampark-console/streampark-console-webapp/LICENSE
  streampark-console/streampark-console-webapp/LICENSE-vue-vben-admin.txt
Labels: WEB UI

[Improve] improve vue-vben-admin's license issue
  dist-material/release-docs/licenses/ui-licenses/license-vue-vben-admin.txt
  streampark-console/streampark-console-webapp/LICENSE
Labels: WEB UI

fixup
  LICENSE
  streampark-console/streampark-console-webapp/README.md
  streampark-console/streampark-console-webapp/README.zh-CN.md
Labels: DOCS, WEB UI

try avoid fp deadlinks
  .dlc.json
Labels: none

[Improve] improve vue-vben-admin's license issue (#3691)
  .dlc.json
  LICENSE
  dist-material/release-docs/licenses/ui-licenses/license-vue-vben-admin.txt
  streampark-console/streampark-console-webapp/LICENSE
  streampark-console/streampark-console-webapp/README.md
  streampark-console/streampark-console-webapp/README.zh-CN.md
Labels: DOCS, WEB UI

[Improve] README.md improvement
  README.md
Labels: DOCS

[Improve] README.md improvement (#3693)
  README.md
Labels: DOCS

[Improve] Properly carry vue-vben-admin's license info
  .dlc.json
  LICENSE
  dist-material/release-docs/licenses/ui-licenses/license-vue-vben-admin.txt
  streampark-console/streampark-console-webapp/LICENSE
  streampark-console/streampark-console-webapp/README.md
  streampark-console/streampark-console-webapp/README.zh-CN.md
Labels: DOCS, WEB UI

[Improve] Limit the number of running build projects #3687
  streampark-console/streampark-console-service/src/main/assembly/assembly.xml
  streampark-console/streampark-console-service/src/main/assembly/conf/config.yaml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/SpringProperties.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ProjectMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ProjectMapper.xml
Labels: BUILD, BACKEND

[Improve] Properly carry vue-vben-admin's license info (#3694)
  .dlc.json
  LICENSE
  dist-material/release-docs/licenses/ui-licenses/license-vue-vben-admin.txt
  streampark-console/streampark-console-webapp/LICENSE
  streampark-console/streampark-console-webapp/README.md
  streampark-console/streampark-console-webapp/README.zh-CN.md
Labels: DOCS, WEB UI

[Improve] Limit the number of running build projects #3687 (#3695)
  streampark-console/streampark-console-service/src/main/assembly/assembly.xml
  streampark-console/streampark-console-service/src/main/assembly/conf/config.yaml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/SpringProperties.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ProjectMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ProjectMapper.xml
Labels: BUILD, BACKEND
