Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

[Improve] Shims base module code optimization
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkSqlExecutor.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkSqlValidator.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/SqlCommandParser.scala
Labels: FLINK

Modify SqlClient
  streampark-flink/streampark-flink-sqlclient/src/main/scala/org/apache/streampark/flink/cli/SqlClient.scala
Labels: FLINK

[ISSUE-3142][Improve] Extract the exception utils methods into ExceptionUtils.
  streampark-common/src/main/java/org/apache/streampark/common/util/ExceptionUtils.java
  streampark-common/src/main/scala/org/apache/streampark/common/util/Utils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/exception/AlertException.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/exception/ApiDetailException.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkSqlServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/YarnClientTrait.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkSqlValidator.scala
Labels: BACKEND, FLINK

Add license header
  streampark-common/src/main/java/org/apache/streampark/common/util/ExceptionUtils.java
Labels: BACKEND

[ISSUE-3142][Improve] Extract the exception utils methods into ExceptionUtils. (#3143)
  streampark-common/src/main/java/org/apache/streampark/common/util/ExceptionUtils.java
  streampark-common/src/main/scala/org/apache/streampark/common/util/Utils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/exception/ApiDetailException.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkSqlServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/YarnClientTrait.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkSqlValidator.scala
Labels: BACKEND, FLINK

[Improve] Shims base module code optimization (#3141)
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkSqlExecutor.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkSqlValidator.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/SqlCommandParser.scala
  streampark-flink/streampark-flink-sqlclient/src/main/scala/org/apache/streampark/flink/cli/SqlClient.scala
Labels: FLINK

[Bug] The incorrect for loop writing method resulted in the same values for the three podTemplates in k8s mode.
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/KubernetesNativeClientTrait.scala
Labels: FLINK

[Feature] Sql parser support jar statements and analyze statements
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/SqlCommandParser.scala
Labels: FLINK

[Feature] Sql parser support jar statements and analyze statements
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/SqlCommandParser.scala
Labels: FLINK

[Feature] Sql parser support jar statements and analyze statements
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/SqlCommandParser.scala
Labels: FLINK

[Bug] The incorrect for loop writing method resulted in the same values for the three podTemplates in k8s mode. (#3144)
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/KubernetesNativeClientTrait.scala
Labels: FLINK

Modify the method name，change the dclaration positions and all calling positions and impletation position
  streampark-common/src/main/java/org/apache/streampark/common/enums/ClusterState.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/DevelopmentMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkK8sRestExposedType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkSqlValidationFailedType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/ResolveOrder.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/RestoreMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/StorageType.java
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigConst.scala
  streampark-common/src/main/scala/org/apache/streampark/common/conf/FlinkVersion.scala
  streampark-common/src/main/scala/org/apache/streampark/common/fs/FsOperator.scala
  streampark-common/src/main/scala/org/apache/streampark/common/fs/HdfsOperator.scala
  streampark-common/src/main/scala/org/apache/streampark/common/fs/LfsOperator.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/DateUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/FileUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/HadoopUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/HdfsUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/PropertiesUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/SqlConvertUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/YarnUtils.scala
  streampark-common/src/test/scala/org/apache/streampark/common/fs/LfsOperatorTest.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/AlertTemplate.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkSqlController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SettingController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/ApplicationConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/AccessTokenServiceImpl.java
  streampark-console/streampark-console-service/src/main/scala/org/apache/streampark/console/core/task/FlinkK8sObserverBroker.scala
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/SavePointServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/alert/AlertServiceTest.java
  streampark-console/streampark-console-webapp/src/views/flink/app/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/UseSysHadoopConf.vue
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/SubmitRequest.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkStreamingInitializer.scala
  streampark-flink/streampark-flink-sqlclient/src/main/scala/org/apache/streampark/flink/cli/SqlClient.scala
Labels: WEB UI, BACKEND, FLINK, YARN

add how to Contribute
  README.md
Labels: DOCS

remove assembly.xml _${scala.binary.version}
  streampark-console/streampark-console-service/src/main/assembly/assembly.xml
Labels: BUILD, BACKEND

[Improve] FlinkAppHttpWatcher improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/StopFrom.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkAppHttpWatcher.java
Labels: BACKEND

add how to Contribute (#3148)
  README.md
Labels: DOCS

remove assembly.xml _${scala.binary.version} (#3151)
  streampark-console/streampark-console-service/src/main/assembly/assembly.xml
Labels: BUILD, BACKEND

[Improve] FlinkAppHttpWatcher improvement (#3150)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/StopFrom.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkAppHttpWatcher.java
Labels: BACKEND

add test
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/src/test/scala/org/apache/streampark/flink/kubernetes/v2/example/UsingOperator.scala
Labels: FLINK

Change namespace
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/src/test/scala/org/apache/streampark/flink/kubernetes/v2/example/UsingOperator.scala
Labels: FLINK

[Improve] Add additional use cases for FlinkOperator on Kubernetes (#3152)
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/src/test/scala/org/apache/streampark/flink/kubernetes/v2/example/UsingOperator.scala
Labels: FLINK

[Fix] Interceptors add /resource/upload
  streampark-common/src/main/scala/org/apache/streampark/common/util/FileUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/WebMvcConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/interceptor/UploadFileTypeInterceptor.java
Labels: BACKEND

Modify message
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/interceptor/UploadFileTypeInterceptor.java
Labels: BACKEND

revert some of the variables to the naming
  streampark-common/src/main/scala/org/apache/streampark/common/util/HadoopUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/HdfsUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/PropertiesUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/YarnUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SettingController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/ApplicationConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
  streampark-console/streampark-console-webapp/src/views/flink/app/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/UseSysHadoopConf.vue
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/SubmitRequest.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkStreamingInitializer.scala
  streampark-flink/streampark-flink-sqlclient/src/main/scala/org/apache/streampark/flink/cli/SqlClient.scala
Labels: WEB UI, BACKEND, FLINK, YARN

Modify the format of the code
  streampark-common/src/main/java/org/apache/streampark/common/enums/ApplicationType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkSqlValidationFailedType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/RestoreMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/Semantic.java
Labels: BACKEND

improve README.md
  README.md
Labels: DOCS

improve README.md (#3156)
  README.md
Labels: DOCS

optimized code
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/GitUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
Labels: BACKEND

Modify FileUtils
  streampark-common/src/main/scala/org/apache/streampark/common/util/FileUtils.scala
Labels: BACKEND

modify the missing method name
  streampark-common/src/main/scala/org/apache/streampark/common/fs/HdfsOperator.scala
  streampark-common/src/main/scala/org/apache/streampark/common/fs/LfsOperator.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/pipeline/impl/FlinkYarnApplicationBuildPipeline.scala
Labels: BACKEND, FLINK

fix the problem generated by the Maven Test
  streampark-common/src/main/scala/org/apache/streampark/common/fs/FsOperator.scala
Labels: BACKEND

Fix the error type conversion of streampark.flink-k8s.enable-v2.
  streampark-common/src/main/scala/org/apache/streampark/common/conf/K8sFlinkConfig.scala
Labels: BACKEND

Modify FileUtils and UploadFileTypeInterceptor
  streampark-common/src/main/scala/org/apache/streampark/common/util/FileUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/interceptor/UploadFileTypeInterceptor.java
Labels: BACKEND

improve code style
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesApplicationClientV2.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesSessionClientV2.scala
Labels: FLINK

[Feature] Add application backup clean task
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationBackUpService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationBackUpServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/ApplicationBackUpCleanTask.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkAppLostWatcher.java
  streampark-console/streampark-console-service/src/main/resources/application.yml
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/session/SessionHandle.java
Labels: BACKEND, FLINK

Fix the issue of Scala calling Mybatis LambdaWrapper with Java function reference parameters.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/scala/org/apache/streampark/console/core/task/FlinkK8sObserverBroker.scala
  streampark-console/streampark-console-service/src/main/scala/org/apache/streampark/console/core/task/FlinkK8sObserverBrokerSidecar.scala
  streampark-console/streampark-console-service/src/main/scala/org/apache/streampark/console/core/utils/MybatisScalaExt.scala
Labels: BACKEND

Resolve conflict
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
Labels: BACKEND

Format code
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
Labels: BACKEND

add tika
  streampark-common/pom.xml
  streampark-common/src/main/scala/org/apache/streampark/common/util/FileUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/interceptor/UploadFileTypeInterceptor.java
Labels: BUILD, BACKEND

[Fix] Fix the issue of Scala calling Mybatis LambdaWrapper with Java function reference (#3164)
  streampark-common/src/main/scala/org/apache/streampark/common/conf/K8sFlinkConfig.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/scala/org/apache/streampark/console/core/task/FlinkK8sObserverBroker.scala
  streampark-console/streampark-console-service/src/main/scala/org/apache/streampark/console/core/task/FlinkK8sObserverBrokerSidecar.scala
  streampark-console/streampark-console-service/src/main/scala/org/apache/streampark/console/core/utils/MybatisScalaExt.scala
Labels: BACKEND

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"
