Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

mavenWrapper improve
  .mvn/wrapper/MavenWrapperHelper.java
Labels: BUILD

[Improve] minor improve
  .mvn/wrapper/MavenWrapperHelper.java
Labels: BUILD

[Improve] check maven-wrapper improvement
  .mvn/wrapper/MavenWrapperHelper.java
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  streampark-console/streampark-console-service/src/main/assembly/bin/mvnw
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
Labels: BUILD, BACKEND

[Improve] minor improve
  .mvn/wrapper/MavenWrapperHelper.java
Labels: BUILD

[Improve] maven-wrapper improvement
  .mvn/wrapper/MavenWrapperHelper.java
Labels: BUILD

[Improve] minor improvement
  .mvn/wrapper/MavenWrapperHelper.java
Labels: BUILD

[Improve] clean distribution unzip files before streampark startup
  .mvn/wrapper/MavenWrapperHelper.java
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
Labels: BUILD, BACKEND

[Improve] clean distribution unzip files before startup
  .mvn/wrapper/MavenWrapperHelper.java
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
Labels: BUILD, BACKEND

[Improve] check maven distribution unzip file improvement
  .mvn/wrapper/MavenWrapperHelper.java
  mvnw
  streampark-console/streampark-console-service/src/main/assembly/bin/mvnw
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
Labels: BUILD, BACKEND

cp pr 3237
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/AuthenticatorImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/LdapService.java
Labels: BACKEND

[Improve] maven distribution file check improvement
  .mvn/wrapper/MavenWrapperHelper.java
Labels: BUILD

[Improve] maven distribution files check improvement
  .mvn/wrapper/MavenWrapperHelper.java
  mvnw
  streampark-console/streampark-console-service/src/main/assembly/bin/mvnw
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
Labels: BUILD, BACKEND

[Improve] maven wrapper check improvement
  .mvn/wrapper/MavenWrapperHelper.java
Labels: BUILD

[Improve] minor improvement
  .mvn/wrapper/MavenWrapperHelper.java
Labels: BUILD

[Improve] startup script improve
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
Labels: BUILD, BACKEND

[Improve] startup script improve
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
Labels: BUILD, BACKEND

user can use different hadoop-user to submit application
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationManageServiceImpl.java
  streampark-console/streampark-console-webapp/src/api/flink/app.type.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/EditFlink.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/utils/index.ts
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/SubmitRequest.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnApplicationClient.scala
Labels: WEB UI, BACKEND, FLINK

[Improve] Check maven-wrapper improvement (#3398)
  .mvn/wrapper/MavenWrapperHelper.java
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  streampark-console/streampark-console-service/src/main/assembly/bin/mvnw
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
Labels: BUILD, BACKEND

[Bug] upgrade ddl bug fixed
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.2.sql
Labels: BUILD, BACKEND

[Improve] maven-wrapper check improvement
  .mvn/wrapper/MavenWrapperHelper.java
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  streampark-console/streampark-console-service/src/main/assembly/bin/mvnw
Labels: BUILD, BACKEND

[Improve] resource improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/ResourceTypeEnum.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-webapp/src/components/Form/src/components/FormItem.vue
  streampark-console/streampark-console-webapp/src/components/Modal/src/components/ModalWrapper.vue
  streampark-console/streampark-console-webapp/src/hooks/setting/useMenuSetting.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/resource.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/menu.ts
  streampark-console/streampark-console-webapp/src/utils/props.ts
  streampark-console/streampark-console-webapp/src/views/base/error-log/data.tsx
  streampark-console/streampark-console-webapp/src/views/resource/upload/View.vue
  streampark-console/streampark-console-webapp/src/views/resource/upload/components/Upload.vue
  streampark-console/streampark-console-webapp/src/views/resource/upload/components/UploadDrawer.vue
  streampark-console/streampark-console-webapp/src/views/resource/upload/upload.data.ts
  streampark-console/streampark-console-webapp/src/views/resource/upload/useUploadRender.tsx
  streampark-console/streampark-console-webapp/src/views/resource/variable/components/VariableDrawer.vue
Labels: WEB UI, BACKEND

[Improve] Twitter links minor improvement
  README.md
Labels: DOCS

Update README.md
  README.md
Labels: DOCS

[Improve] Twitter links minor improvement (#3404)
  README.md
Labels: DOCS

[Improve] ddl improvement
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.3.sql
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
Labels: BUILD, BACKEND

[Improve] maven build env check improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
Labels: BACKEND

user can use different hadoop-user to submit application
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.2.0.sql
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnApplicationClient.scala
Labels: BUILD, BACKEND, FLINK

[Improve] pgsql ddl improve
  streampark-console/streampark-console-service/src/main/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
Labels: BUILD, BACKEND

[Improve] pgsql ddl improve (#3406)
  streampark-console/streampark-console-service/src/main/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
Labels: BUILD, BACKEND

user can use different hadoop-user to submit application
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnApplicationClient.scala
Labels: FLINK

[ISSUE-3405][Feature] Avoid Null Pointer Exception in ApplicationType
  streampark-common/src/main/java/org/apache/streampark/common/enums/ApplicationType.java
Labels: BACKEND

[ISSUE-3405][Feature] Avoid Null Pointer Exception in FlinkDevelopmentMode
  streampark-common/src/main/java/org/apache/streampark/common/enums/ApplicationType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkDevelopmentMode.java
Labels: BACKEND

[ISSUE-3405][Feature] Avoid Null Pointer Exception in FlinkExecutionMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkExecutionMode.java
Labels: BACKEND

[ISSUE-3405][Feature] change UNKNOWN Status code -1
  streampark-common/src/main/java/org/apache/streampark/common/enums/ApplicationType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkDevelopmentMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkExecutionMode.java
Labels: BACKEND

[ISSUE-3405][Feature] Avoid Null Pointer Exception in switch keyword (#3409)
  streampark-common/src/main/java/org/apache/streampark/common/enums/ApplicationType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkDevelopmentMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkExecutionMode.java
Labels: BACKEND

[ISSUE-3057][Improve] Improve streampark-common module base on [3.7 Code Comments Rule]
  streampark-common/src/main/java/org/apache/streampark/common/enums/ApplicationType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/ClusterState.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkDevelopmentMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkExecutionMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkK8sRestExposedType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkRestoreMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkSqlValidationFailedType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/ResolveOrder.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/Semantic.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/StorageType.java
  streampark-common/src/main/java/org/apache/streampark/common/util/ExceptionUtils.java
Labels: BACKEND

[Improve] Flinkclient minor improvement
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: FLINK

[Fix] Fix submit to k8s retry and timeout too less.
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/KubernetesRetriever.scala
Labels: FLINK, KUBERNETES

[Fix] Fix submit to k8s retry and timeout too less.
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/KubernetesRetriever.scala
Labels: FLINK, KUBERNETES

[ISSUE-3057][Improve] Improve streampark-common module base on [3.7 Code Comments Rule] (#3413)
  streampark-common/src/main/java/org/apache/streampark/common/enums/ApplicationType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/ClusterState.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkDevelopmentMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkExecutionMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkK8sRestExposedType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkRestoreMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkSqlValidationFailedType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/ResolveOrder.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/Semantic.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/StorageType.java
  streampark-common/src/main/java/org/apache/streampark/common/util/ExceptionUtils.java
Labels: BACKEND

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"
