Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"

fix issue 3226
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/LdapService.java
Labels: BACKEND

fix spotless error
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/AuthenticatorImpl.java
Labels: BACKEND

[Feature] Optimize the return value of the shutdown interface
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/ShutDownResponse.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesApplicationClientV2.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesSessionClientV2.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnSessionClient.scala
Labels: FLINK

[Feature] Optimize the return value of the shutdown interface (#3239)
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/ShutDownResponse.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesApplicationClientV2.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesSessionClientV2.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnSessionClient.scala
Labels: FLINK

[Fix-3226] If the user does not have any more attributes, they will not be able to log in. (#3237)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/AuthenticatorImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/LdapService.java
Labels: BACKEND

menu improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/MenuController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/MenuService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MenuServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-webapp/src/views/flink/cluster/AddCluster.vue
  streampark-console/streampark-console-webapp/src/views/flink/cluster/EditCluster.vue
  streampark-console/streampark-console-webapp/src/views/flink/cluster/State.less
  streampark-console/streampark-console-webapp/src/views/flink/cluster/State.tsx
  streampark-console/streampark-console-webapp/src/views/flink/cluster/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/cluster/useClusterSetting.ts
  streampark-console/streampark-console-webapp/src/views/flink/gateway/components/FlinkGatewayDrawer.vue
  streampark-console/streampark-console-webapp/src/views/flink/gateway/index.data.ts
  streampark-console/streampark-console-webapp/src/views/flink/gateway/index.vue
  streampark-console/streampark-console-webapp/src/views/flink/home/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/home/components/Drawer.vue
  streampark-console/streampark-console-webapp/src/views/flink/home/components/Modal.vue
  streampark-console/streampark-console-webapp/src/views/flink/home/components/index.ts
  streampark-console/streampark-console-webapp/src/views/system/menu/Menu.vue
  streampark-console/streampark-console-webapp/src/views/system/menu/MenuDrawer.vue
  streampark-console/streampark-console-webapp/src/views/system/menu/menu.data.ts
Labels: WEB UI, BACKEND

menu ddl improve
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-webapp/src/locales/lang/en/menu.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/menu.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-webapp/src/views/flink/cluster/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/cluster/Edit.vue
  streampark-console/streampark-console-webapp/src/views/flink/cluster/View.vue
  streampark-console/streampark-console-webapp/src/views/resource/upload/View.vue
  streampark-console/streampark-console-webapp/src/views/resource/upload/components/Upload.vue
  streampark-console/streampark-console-webapp/src/views/resource/upload/components/UploadDrawer.vue
  streampark-console/streampark-console-webapp/src/views/resource/upload/upload.data.ts
  streampark-console/streampark-console-webapp/src/views/resource/upload/useUploadRender.tsx
Labels: WEB UI, BACKEND

mysql ddl improvement
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.2.2.sql
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
Labels: BUILD, BACKEND

FE page path improvement
  streampark-console/streampark-console-service/src/main/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
Labels: BUILD, BACKEND

logo style improvement
  streampark-console/streampark-console-webapp/src/components/Application/src/AppLogo.vue
Labels: WEB UI

Transactional bug fixed.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationInfoServiceImpl.java
Labels: BACKEND

application services improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/ApplicationInfoService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/ApplicationManageService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationManageServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/FlinkAppHttpWatcher.java
Labels: BACKEND

[Bug] application mybatis Mapper bug fixed
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ApplicationMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/FlinkK8sChangeEventListener.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
Labels: BACKEND

FE build failed bug fixed
  streampark-console/streampark-console-webapp/src/views/flink/app/Detail.vue
Labels: WEB UI

minor improvement
  streampark-console/streampark-console-webapp/src/views/flink/app/Detail.vue
Labels: WEB UI

LinkBadge component improvement
  streampark-console/streampark-console-webapp/src/components/LinkBadge/index.ts
  streampark-console/streampark-console-webapp/src/components/LinkBadge/src/LinkBadge.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/Detail.vue
  streampark-console/streampark-console-webapp/src/views/setting/ExternalLink/View.vue
  streampark-console/streampark-console-webapp/src/views/setting/ExternalLink/components/useExternalLink.tsx
Labels: WEB UI

[Improve] upgrade ddl improvement
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.2.2.sql
Labels: BUILD, BACKEND

[Improve] change serviceaccount
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesSessionClientV2.scala
Labels: FLINK

[Improve] change serviceaccount (#3241)
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesSessionClientV2.scala
Labels: FLINK

change image tag to dev
  deploy/docker/docker-compose.yaml
Labels: DOCKER

[Improve] Improve README.md
  README.md
Labels: DOCS

[Feature] Add datasource, supported mysql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/DatasourceController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Datasource.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/DatasourceMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/datasource/DatasourceService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/datasource/config/DatasourceColumnInfo.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/datasource/config/DatasourceMetaHelper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/datasource/config/DatasourceType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/datasource/impl/DatasourceServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/datasource/meta/AbstractJdbcDatasourceMeta.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/datasource/meta/DatasourceMeta.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/datasource/meta/MysqlDatasourceMeta.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/datasource/meta/PostgresqlDatasourceMeta.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/DatasourceMapper.xml
Labels: BUILD, BACKEND

Add License header
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/datasource/config/DatasourceType.java
Labels: BACKEND

Improve streampark-console module base on [3.2 Constant Variables Definition] #3065
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkSqlController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MenuServiceImpl.java
Labels: BACKEND

[Improve] Improve README.md
  README.md
Labels: DOCS

[Improve][Doc] Improve README.md (#3249)
  README.md
Labels: DOCS

[ISSUE-3065][Improve] Improve streampark-console module base on [3.2 Constant Variables Definition] #3065 (#3251)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkSqlController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MenuServiceImpl.java
Labels: BACKEND

[Improve] Modify the comment
  streampark-console/streampark-console-service/src/main/scala/org/apache/streampark/console/core/task/FlinkK8sObserverBrokerSidecar.scala
Labels: BACKEND

[Improve] Modify the comment
  streampark-console/streampark-console-service/src/main/scala/org/apache/streampark/console/core/task/FlinkK8sObserverBrokerSidecar.scala
Labels: BACKEND

[Improve]Modify the comment (#3253)
  streampark-console/streampark-console-service/src/main/scala/org/apache/streampark/console/core/task/FlinkK8sObserverBrokerSidecar.scala
Labels: BACKEND

[Improve] build project improvement
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/MavenWrapperHelper.java
  build.sh
Labels: BUILD

[Improve] mvnw improvement
  mvnw
Labels: BUILD

[Improve] add wathch restSvcEndpointSnaps test
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/src/test/scala/org/apache/streampark/flink/kubernetes/v2/example/UsingObserver.scala
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/src/test/scala/org/apache/streampark/flink/kubernetes/v2/example/UsingOperator.scala
Labels: FLINK

[Improve] add wathch restSvcEndpointSnaps test
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/src/test/scala/org/apache/streampark/flink/kubernetes/v2/example/UsingOperator.scala
Labels: FLINK

add fork
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/src/test/scala/org/apache/streampark/flink/kubernetes/v2/example/UsingOperator.scala
Labels: FLINK

add fork
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/src/test/scala/org/apache/streampark/flink/kubernetes/v2/example/UsingOperator.scala
Labels: FLINK

remove a fork
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/src/test/scala/org/apache/streampark/flink/kubernetes/v2/example/UsingOperator.scala
Labels: FLINK

[Improve] [Flink-Kubernetes-V2] Add test examples for watching restSvcEndpointSnaps (#3257)
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/src/test/scala/org/apache/streampark/flink/kubernetes/v2/example/UsingObserver.scala
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/src/test/scala/org/apache/streampark/flink/kubernetes/v2/example/UsingOperator.scala
Labels: FLINK

[Improve] Improve streampark-common module base on https://rules.sonarsource.com/java/RSPEC-3457/
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/P6spySqlFormatConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/DingTalkAlertNotifyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/HttpCallbackAlertNotifyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/LarkAlertNotifyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/WeComAlertNotifyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/ProjectBuildTask.java
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/src/main/java/org/apache/streampark/flink/connector/doris/internal/DorisStreamLoader.java
  streampark-flink/streampark-flink-sql-gateway/streampark-flink-sql-gateway-base/src/main/java/org/apache/streampark/gateway/factories/FactoryUtil.java
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkStandaloneSessionCluster.java
Labels: BACKEND, FLINK

use https://rules.sonarsource.com/java/RSPEC-2696/ Update SpringContextUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/SpringContextUtils.java
Labels: BACKEND
