Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

delete objects
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/AccessTokenController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/MemberController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/RoleController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/SsoController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/TeamController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/UserController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/AuthenticatorImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/AccessTokenServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MemberServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/TeamServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
Labels: BACKEND

Modify AccessTokenController
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/AccessTokenController.java
Labels: BACKEND

[Improve] Console core module code optimization (#3202)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/AlertTemplate.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/ApplicationConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkEnv.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Resource.java
Labels: BACKEND

[Improve] System module code optimization (#3197)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/PassportController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/AuthenticatorImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/RoleServiceImpl.java
Labels: BACKEND

[Improve] [Flink-Kubernetes-V2] Change doTriggerSavepoint log (#3199)
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/KubernetesClientV2Trait.scala
Labels: FLINK

[Improve] Storage initialize create python dir
  streampark-common/src/main/scala/org/apache/streampark/common/conf/Workspace.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
Labels: BACKEND

[Improve] Storage Initialize create python directory (#3206)
  streampark-common/src/main/scala/org/apache/streampark/common/conf/Workspace.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
Labels: BACKEND

[BUG] Flink job modify_time change with duration bug fixed #3188
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.2.2.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.2.0.sql
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
Labels: BUILD, BACKEND

checkstyle improvements
  streampark-flink/streampark-flink-core/src/main/scala/org/apache/streampark/flink/core/scala/DataStreamExt.scala
  streampark-flink/streampark-flink-proxy/src/main/scala/org/apache/streampark/flink/proxy/ChildFirstClassLoader.scala
Labels: FLINK

minor improvement
  streampark-common/src/main/scala/org/apache/streampark/common/util/PropertiesUtils.scala
Labels: BACKEND

minor improvement
  streampark-common/src/main/scala/org/apache/streampark/common/util/PropertiesUtils.scala
Labels: BACKEND

[Improve] build project improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/ProjectBuildTask.java
Labels: BACKEND

README linkis minor improvement
  README.md
Labels: DOCS

[Improve] mavenWrapper update to 3.2.0
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
Labels: BUILD, WINDOWS

[Improve] Upgrade maven-wrapper to 3.2.0
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
  streampark-console/streampark-console-service/src/main/assembly/bin/mvnw
  streampark-console/streampark-console-service/src/main/assembly/bin/mvnw.cmd
Labels: BUILD, BACKEND, WINDOWS

[Improve] Upgrade maven-wrapper to 3.2.0
  streampark-console/streampark-console-service/src/main/assembly/bin/mvnw
  streampark-console/streampark-console-service/src/main/assembly/bin/mvnw.cmd
Labels: BUILD, BACKEND, WINDOWS

[Bug] Flink job modify_time change with duration bug fixed #3188 (#3211)
  README.md
  streampark-common/src/main/scala/org/apache/streampark/common/util/PropertiesUtils.scala
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.2.2.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.2.0.sql
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
Labels: BUILD, DOCS, BACKEND

maven-wrapper improvement
  .mvn/wrapper/MavenWrapperChecker.java
  build.sh
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/MavenWrapperChecker.java
Labels: BUILD, BACKEND

project build improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
Labels: BACKEND

[Improve] Upgrade maven-wrapper to 3.2.0 (#3213)
  .mvn/wrapper/MavenWrapperChecker.java
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.properties
  build.sh
  mvnw
  mvnw.cmd
  streampark-console/streampark-console-service/src/main/assembly/bin/mvnw
  streampark-console/streampark-console-service/src/main/assembly/bin/mvnw.cmd
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/MavenWrapperChecker.java
Labels: BUILD, BACKEND, WINDOWS

[Improve] maven-wrapper downloader improvement
  .mvn/wrapper/MavenWrapperChecker.java
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/MavenWrapperHelper.java
  build.sh
  mvnw
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/MavenWrapperChecker.java
Labels: BUILD, BACKEND

mvnw minor improvement
  streampark-console/streampark-console-service/src/main/assembly/bin/mvnw
Labels: BUILD, BACKEND

codestyle improvement
  build.sh
Labels: BUILD

[Feature] yarn application mode support prometheus
  streampark-common/src/main/scala/org/apache/streampark/common/conf/CommonConfig.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/resources/prometheus.md
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: BACKEND, FLINK

[Improve] maven-wrapper downloader improvement (#3214)
  .mvn/wrapper/MavenWrapperChecker.java
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/MavenWrapperHelper.java
  build.sh
  mvnw
  streampark-console/streampark-console-service/src/main/assembly/bin/mvnw
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/MavenWrapperChecker.java
Labels: BUILD, BACKEND

[Bug][Flink-Kubernetes-V2] observer.untrack on FLink-Kubernetes-V2-session
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesSessionClientV2.scala
Labels: FLINK

[Improve] yarn request retry improvement
  streampark-common/src/main/scala/org/apache/streampark/common/util/Utils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/YarnUtils.scala
Labels: BACKEND, YARN

[Improve] yarn request retry improvement
  streampark-common/src/main/scala/org/apache/streampark/common/util/Utils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/YarnUtils.scala
Labels: BACKEND, YARN

scala 2.11 code style improvement
  streampark-flink/streampark-flink-core/src/main/scala/org/apache/streampark/flink/core/scala/DataStreamExt.scala
  streampark-flink/streampark-flink-proxy/src/main/scala/org/apache/streampark/flink/proxy/ChildFirstClassLoader.scala
Labels: FLINK

[Improve] Yarn request retry improvement (#3217)
  streampark-common/src/main/scala/org/apache/streampark/common/util/Utils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/YarnUtils.scala
Labels: BACKEND, YARN

improve streampark-console module base on [3.4 Collection Rule]
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/VueRouterUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/Dependency.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ExternalLinkServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/MenuController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/MenuService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MenuServiceImpl.java
Labels: BACKEND

improve streampark-console module base on [3.4 Collection Rule] (#3219)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/VueRouterUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/Dependency.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ExternalLinkServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/MenuController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/MenuService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MenuServiceImpl.java
Labels: BACKEND

[Feature] Add a userId field to ApplicationLog to record the operator
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.2.2.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.2.2.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/ApplicationBackUp.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/ApplicationLog.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Effective.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Message.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
Labels: BUILD, BACKEND

Improve KubernetesSessionClientV2.scala at PR#3216.
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesSessionClientV2.scala
Labels: FLINK

[Feature] Add a userId field to ApplicationLog to record the operator (#3221)
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.2.2.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.2.2.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/ApplicationBackUp.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/ApplicationLog.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Effective.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Message.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
Labels: BUILD, BACKEND

Imoprove KubernetesApplicationClientV2.scala at PR#3186
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesApplicationClientV2.scala
Labels: FLINK

[Improve] Flink cluster executionMode improvement
  streampark-console/streampark-console-webapp/src/api/flink/setting/types/flinkCluster.type.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
Labels: WEB UI

[Improve] [Flink-Kubernetes-V2] add observer untrack on Flink-Kubernetes-V2-Session (#3216)
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesSessionClientV2.scala
Labels: FLINK

[Feature][Flink-K8s-V2] Add KubernetesApplicationClient.shutdown on Flink-Kubernetes-V2 (#3186)
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/FlinkClientEndpoint.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesApplicationClientV2.scala
Labels: FLINK

[Improve] Flink cluster executionMode improvement (#3223)
  streampark-console/streampark-console-webapp/src/api/flink/setting/types/flinkCluster.type.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
Labels: WEB UI

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"
