Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

[Common] Fix Sonar reliability bugs across common and flink modules
  sonar-project.properties
  streampark-common/src/main/java/org/apache/streampark/common/util/DateUtils.java
  streampark-common/src/main/java/org/apache/streampark/common/util/FlinkConfigurationUtils.java
  streampark-common/src/main/java/org/apache/streampark/common/util/JdbcUtils.java
  streampark-common/src/main/java/org/apache/streampark/common/util/SparkConfigurationUtils.java
  streampark-flink/streampark-flink-connector/streampark-flink-connector-base/src/main/java/org/apache/streampark/flink/connector/failover/FailoverWriter.java
  streampark-flink/streampark-flink-connector/streampark-flink-connector-clickhouse/src/main/java/org/apache/streampark/flink/connector/clickhouse/conf/ClickHouseSinkConfigOption.java
  streampark-flink/streampark-flink-connector/streampark-flink-connector-clickhouse/src/main/java/org/apache/streampark/flink/connector/clickhouse/internal/ClickHouseSinkWriter.java
  streampark-flink/streampark-flink-connector/streampark-flink-connector-clickhouse/src/main/java/org/apache/streampark/flink/connector/clickhouse/internal/ClickHouseWriterTask.java
  streampark-flink/streampark-flink-connector/streampark-flink-connector-clickhouse/src/main/java/org/apache/streampark/flink/connector/clickhouse/util/ClickhouseConvertUtils.java
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/src/main/java/org/apache/streampark/connector/doris/conf/DorisSinkConfigOption.java
  streampark-flink/streampark-flink-connector/streampark-flink-connector-http/src/main/java/org/apache/streampark/flink/connector/http/internal/HttpSinkWriter.java
  streampark-flink/streampark-flink-connector/streampark-flink-connector-http/src/main/java/org/apache/streampark/flink/connector/http/internal/HttpWriterTask.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/watcher/FlinkCheckpointWatcher.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/watcher/FlinkMetricWatcher.java
  streampark-flink/streampark-flink-packer/src/main/java/org/apache/streampark/flink/packer/maven/MavenTool.java
  streampark-flink/streampark-flink-packer/src/main/java/org/apache/streampark/flink/packer/pipeline/BuildPipeline.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/java/org/apache/streampark/flink/core/FlinkTableInitializer.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/java/org/apache/streampark/flink/core/SqlCommand.java
Labels: BACKEND, FLINK, KUBERNETES

[Common] Fix remaining Sonar bugs and add SonarCloud CPD exclusions
  .sonarcloud.properties
  streampark-common/src/main/java/org/apache/streampark/common/util/DateUtils.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/watcher/FlinkMetricWatcher.java
  streampark-spark/streampark-spark-core/src/main/java/org/apache/streampark/spark/core/serializable/MultipleOutputsFormat.java
Labels: BACKEND, FLINK, SPARK, KUBERNETES

[Flink] Throw IllegalArgumentException in FlinkTableInitializerV2 SQL init
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base-v2/src/main/java/org/apache/streampark/flink/core/FlinkTableInitializerV2.java
Labels: FLINK

[CI] Sync workflow config with StreamPark 3.0 baseline
  .github/workflows/backend.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/unit-test.yml
Labels: INFRA

[CI] Sync workflow config with StreamPark 3.0 baseline
  .github/workflows/backend.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/unit-test.yml
Labels: INFRA

[CI] Sync workflow config with StreamPark 3.0 baseline
  .github/workflows/backend.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/unit-test.yml
Labels: INFRA

[CI] Sync workflow config with StreamPark 3.0 baseline
  .github/workflows/backend.yml
  .github/workflows/docs.yml
  .github/workflows/e2e.yml
  .github/workflows/unit-test.yml
Labels: INFRA

[CI] Align backend/unit-test/e2e workflows with JDK 11 and webapp-v2
  .github/workflows/backend.yml
  .github/workflows/e2e.yml
  .github/workflows/unit-test.yml
Labels: INFRA

[CI] Add ASF license headers and SafePathUtils Sonar ignore rules
  .sonarcloud.properties
  sonar-project.properties
Labels: none

[CI] Add ASF license headers and SafePathUtils Sonar ignore rules
  .sonarcloud.properties
  sonar-project.properties
Labels: none

[CI] Add ASF license headers and SafePathUtils Sonar ignore rules
  .sonarcloud.properties
  sonar-project.properties
Labels: none

[CI] Add ASF license headers and SafePathUtils Sonar ignore rules
  .sonarcloud.properties
  sonar-project.properties
Labels: none

[Common] Fix Sonar reliability gate and reduce open issues
  streampark-common/src/main/java/org/apache/streampark/common/conf/FlinkVersion.java
  streampark-common/src/main/java/org/apache/streampark/common/conf/K8sFlinkConfig.java
  streampark-common/src/main/java/org/apache/streampark/common/util/FlinkConfigurationUtils.java
  streampark-common/src/main/java/org/apache/streampark/common/util/SparkConfigurationUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/FlinkAppStateEnum.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkSavepointServiceImpl.java
  streampark-flink/streampark-flink-connector/streampark-flink-connector-base/src/main/java/org/apache/streampark/flink/connector/failover/SinkRequest.java
  streampark-flink/streampark-flink-core/src/main/java/org/apache/streampark/flink/core/scala/StreamingContext.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/ingress/IngressController.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/ingress/IngressStrategyV1.java
  streampark-flink/streampark-flink-packer/src/main/java/org/apache/streampark/flink/packer/pipeline/SilentDockerProgressWatcher.java
  streampark-flink/streampark-flink-packer/src/main/java/org/apache/streampark/flink/packer/pipeline/SilentPipeWatcher.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/java/org/apache/streampark/flink/core/FlinkSqlValidator.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/java/org/apache/streampark/flink/core/FlinkStreamTableTrait.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/java/org/apache/streampark/flink/core/FlinkTableTrait.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/java/org/apache/streampark/flink/core/SqlCommand.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.12/src/main/java/org/apache/streampark/flink/core/StreamTableContext.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.12/src/main/java/org/apache/streampark/flink/core/TableContext.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.13/src/main/java/org/apache/streampark/flink/core/StreamTableContext.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.13/src/main/java/org/apache/streampark/flink/core/TableContext.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.14/src/main/java/org/apache/streampark/flink/core/StreamTableContext.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.14/src/main/java/org/apache/streampark/flink/core/TableContext.java
Labels: BACKEND, FLINK, KUBERNETES

[CI] Expand SonarCloud CPD exclusions and issue suppressions
  .sonarcloud.properties
  sonar-project.properties
Labels: none

[CI] Fix E2E failures from CentOS 7 mirror retirement and flaky email test
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/EnvironmentTest.java
  streampark-e2e/streampark-e2e-case/src/test/resources/docker/flink-1.16-on-yarn/Dockerfile
  streampark-e2e/streampark-e2e-case/src/test/resources/docker/flink-1.17-on-yarn/Dockerfile
  streampark-e2e/streampark-e2e-case/src/test/resources/docker/flink-1.18-on-yarn/Dockerfile
  streampark-e2e/streampark-e2e-case/src/test/resources/docker/flink-1.20-on-yarn/Dockerfile
Labels: none

[CI] Bundle JDK 8 from Eclipse Temurin in Yarn E2E Dockerfiles
  streampark-e2e/streampark-e2e-case/src/test/resources/docker/flink-1.16-on-yarn/Dockerfile
  streampark-e2e/streampark-e2e-case/src/test/resources/docker/flink-1.17-on-yarn/Dockerfile
  streampark-e2e/streampark-e2e-case/src/test/resources/docker/flink-1.18-on-yarn/Dockerfile
  streampark-e2e/streampark-e2e-case/src/test/resources/docker/flink-1.20-on-yarn/Dockerfile
Labels: none

[Build] Register javax.annotation-api for JDK 11 dependency license check
  dist-material/release-docs/LICENSE
  dist-material/release-docs/licenses/license-javax.annotation-javax.annotation-api.txt
  tools/dependencies/known-dependencies.txt
Labels: none

[E2E] Use JDK 11 in Yarn E2E Docker images for StreamPark 3.0
  streampark-e2e/streampark-e2e-case/src/test/resources/docker/flink-1.16-on-yarn/Dockerfile
  streampark-e2e/streampark-e2e-case/src/test/resources/docker/flink-1.17-on-yarn/Dockerfile
  streampark-e2e/streampark-e2e-case/src/test/resources/docker/flink-1.18-on-yarn/Dockerfile
  streampark-e2e/streampark-e2e-case/src/test/resources/docker/flink-1.20-on-yarn/Dockerfile
Labels: none

[Feature] [Flink] Define FlinkStreamingJob Java lifecycle base class
  streampark-flink/streampark-flink-core/pom.xml
  streampark-flink/streampark-flink-core/src/main/java/org/apache/streampark/flink/core/FlinkJobException.java
  streampark-flink/streampark-flink-core/src/main/java/org/apache/streampark/flink/core/FlinkStreamingJob.java
  streampark-flink/streampark-flink-core/src/test/java/org/apache/streampark/flink/core/FlinkStreamingJobTest.java
Labels: BUILD, FLINK

[Feature][Common] Migrate conf package from Scala to Java
  .gitignore
  streampark-common/src/main/java/org/apache/streampark/common/conf/CommonConfig.java
  streampark-common/src/main/java/org/apache/streampark/common/conf/ConfigKeys.java
  streampark-common/src/main/java/org/apache/streampark/common/conf/ConfigOption.java
  streampark-common/src/main/java/org/apache/streampark/common/conf/FlinkVersion.java
  streampark-common/src/main/java/org/apache/streampark/common/conf/InternalConfigHolder.java
  streampark-common/src/main/java/org/apache/streampark/common/conf/InternalOption.java
  streampark-common/src/main/java/org/apache/streampark/common/conf/InternalOptionSpec.java
  streampark-common/src/main/java/org/apache/streampark/common/conf/K8sFlinkConfig.java
  streampark-common/src/main/java/org/apache/streampark/common/conf/SparkVersion.java
  streampark-common/src/main/java/org/apache/streampark/common/conf/Workspace.java
  streampark-common/src/main/java/org/apache/streampark/common/util/TypeCastUtils.java
  streampark-common/src/main/scala/org/apache/streampark/common/conf/CommonConfig.scala
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigKeys.scala
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigOption.scala
  streampark-common/src/main/scala/org/apache/streampark/common/conf/FlinkVersion.scala
  streampark-common/src/main/scala/org/apache/streampark/common/conf/InternalConfigHolder.scala
  streampark-common/src/main/scala/org/apache/streampark/common/conf/K8sFlinkConfig.scala
  streampark-common/src/main/scala/org/apache/streampark/common/conf/SparkVersion.scala
  streampark-common/src/main/scala/org/apache/streampark/common/conf/Workspace.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
Labels: INFRA, BACKEND

[Hotfix][service] Apply InternalOptionSpec in EnvInitializer.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
Labels: BACKEND

[Flink] Define FlinkTableJob and FlinkStreamTableJob Java base classes
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/java/org/apache/streampark/flink/core/javaapi/FlinkStreamTableJob.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/java/org/apache/streampark/flink/core/javaapi/FlinkTableJob.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/test/java/org/apache/streampark/flink/core/javaapi/FlinkStreamTableJobTest.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/test/java/org/apache/streampark/flink/core/javaapi/FlinkTableJobTest.java
Labels: FLINK

[Flink] Define FlinkTableJob and FlinkStreamTableJob Java base classes
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/test/java/org/apache/streampark/flink/core/javaapi/FlinkTableJobTest.java
Labels: FLINK

[Flink] Fix SonarCloud code duplication in Job base classes
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/java/org/apache/streampark/flink/core/javaapi/FlinkJobSupport.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/java/org/apache/streampark/flink/core/javaapi/FlinkStreamTableJob.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/java/org/apache/streampark/flink/core/javaapi/FlinkTableJob.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/test/java/org/apache/streampark/flink/core/javaapi/FlinkStreamTableJobTest.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/test/java/org/apache/streampark/flink/core/javaapi/FlinkTableJobTest.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/test/java/org/apache/streampark/flink/core/javaapi/JobTestParams.java
Labels: FLINK

[Flink] Extract shared lifecycle into AbstractFlinkJob to fix remaining duplication
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/java/org/apache/streampark/flink/core/javaapi/AbstractFlinkJob.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/java/org/apache/streampark/flink/core/javaapi/FlinkStreamTableJob.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/java/org/apache/streampark/flink/core/javaapi/FlinkTableJob.java
Labels: FLINK

[Build] Gitignore flatten-maven-plugin generated POM files
  .flattened-pom.xml
  .gitignore
  streampark-common/.flattened-pom.xml
  streampark-flink/.flattened-pom.xml
  streampark-flink/streampark-flink-shims/.flattened-pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/.flattened-pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.14/.flattened-pom.xml
  streampark-flink/streampark-flink-sqlclient/.flattened-pom.xml
  streampark-spark/.flattened-pom.xml
  streampark-spark/streampark-spark-core/.flattened-pom.xml
  streampark-spark/streampark-spark-sqlclient/.flattened-pom.xml
Labels: INFRA, BUILD, BACKEND, FLINK, SPARK

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"
