Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

[Fix]: border
  streampark-console/streampark-console-webapp/src/design/ant/index.less
Labels: WEB UI

[Style]: Unified Tag Component Style (#2568)
  streampark-console/streampark-console-webapp/src/design/ant/index.less
Labels: WEB UI

parameter name improvement
  streampark-common/src/main/scala/org/apache/streampark/common/conf/FlinkVersion.scala
Labels: BACKEND

[Improve] Flink version check improvement (#2566)
  streampark-common/src/main/scala/org/apache/streampark/common/conf/FlinkVersion.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationBuildPipelineController.java
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/FlinkClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnApplicationClient.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/pipeline/BuildRequest.scala
  streampark-flink/streampark-flink-proxy/src/main/scala/org/apache/streampark/flink/proxy/ChildFirstClassLoader.scala
  streampark-flink/streampark-flink-proxy/src/main/scala/org/apache/streampark/flink/proxy/FlinkShimsProxy.scala
Labels: BACKEND, FLINK

[Improve] antd-tag style improvement
  streampark-console/streampark-console-webapp/src/design/ant/index.less
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/DetailTab.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StopApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/State.less
  streampark-console/streampark-console-webapp/src/views/flink/app/components/State.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/data/detail.data.ts
  streampark-console/streampark-console-webapp/src/views/system/user/user.data.ts
Labels: WEB UI

[Improve] antd-tag style improvement
  streampark-console/streampark-console-webapp/src/design/ant/index.less
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/DetailTab.vue
Labels: WEB UI

[Improve] antd-tag style improvement (#2569)
  streampark-console/streampark-console-webapp/src/design/ant/index.less
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/DetailTab.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StopApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/State.less
  streampark-console/streampark-console-webapp/src/views/flink/app/components/State.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/data/detail.data.ts
  streampark-console/streampark-console-webapp/src/views/system/user/user.data.ts
Labels: WEB UI

[Improve] page title style improvement
  streampark-console/streampark-console-webapp/src/design/ant/index.less
  streampark-console/streampark-console-webapp/src/locales/lang/en/menu.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/Detail.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/Detail.less
  streampark-console/streampark-console-webapp/src/views/flink/project/components/ListItem.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/DependApps.vue
  streampark-console/streampark-console-webapp/src/views/setting/Alarm/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/System/index.vue
Labels: WEB UI

[Improve] page title style improvement (#2571)
  streampark-console/streampark-console-webapp/src/design/ant/index.less
  streampark-console/streampark-console-webapp/src/locales/lang/en/menu.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/Detail.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/Detail.less
  streampark-console/streampark-console-webapp/src/views/flink/project/components/ListItem.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/DependApps.vue
  streampark-console/streampark-console-webapp/src/views/setting/Alarm/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/System/index.vue
Labels: WEB UI

[Improve] modal style improvement
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/SavepointApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StartApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StopApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useApp.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableAction.ts
Labels: WEB UI

[Improve] modal style improvement
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/SavepointApplicationModal.vue
Labels: WEB UI

[Improve] modal style improvement
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/SavepointApplicationModal.vue
Labels: WEB UI

[Improve] modal style improvement
  streampark-console/streampark-console-webapp/src/locales/lang/en/menu.ts
Labels: WEB UI

[Improve] menu icon improvement
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.0.sql
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
Labels: BUILD, BACKEND

[Improve] modal style improvement
  streampark-console/streampark-console-webapp/src/design/ant/index.less
  streampark-console/streampark-console-webapp/src/views/flink/app/data/index.ts
Labels: WEB UI

[Improve] modal style improvement (#2572)
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.0.sql
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-webapp/src/design/ant/index.less
  streampark-console/streampark-console-webapp/src/locales/lang/en/menu.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/SavepointApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StartApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StopApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/data/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useApp.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableAction.ts
Labels: BUILD, WEB UI, BACKEND

[Bug] Trigger savepoint timeout bug fixed.
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: FLINK

[Bug] Trigger savepoint timeout bug fixed. (#2575)
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: FLINK

[Bug] cancel job with savePoint bug fixed
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/YarnQueue.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: BACKEND, FLINK

[Bug] cancel job with savepoint bug fixed (#2577)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/YarnQueue.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: BACKEND, FLINK

[Improve] remove flink dependency in streampark-common module
  streampark-common/pom.xml
  streampark-common/src/main/scala/org/apache/streampark/common/util/FlinkClientUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-flink/streampark-flink-client/streampark-flink-client-api/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/DeployRequest.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/SubmitRequest.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnPerJobClient.scala
  streampark-flink/streampark-flink-connector/streampark-flink-connector-hbase/src/main/scala/org/apache/streampark/flink/connector/hbase/internal/HBaseSourceFunction.scala
  streampark-flink/streampark-flink-connector/streampark-flink-connector-jdbc/src/main/scala/org/apache/streampark/flink/connector/jdbc/internal/JdbcSourceFunction.scala
  streampark-flink/streampark-flink-connector/streampark-flink-connector-mongo/src/main/scala/org/apache/streampark/flink/connector/mongo/internal/MongoSourceFunction.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/util/FlinkUtils.scala
Labels: BUILD, BACKEND, FLINK

[fix] fix build error with scala 2.11
  streampark-flink/streampark-flink-connector/streampark-flink-connector-redis/src/main/scala/org/apache/streampark/flink/connector/redis/sink/RedisSink.scala
Labels: FLINK

[Improve] remove flink dependency in streampark-common module (#2578)
  streampark-common/pom.xml
  streampark-common/src/main/scala/org/apache/streampark/common/util/FlinkClientUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-flink/streampark-flink-client/streampark-flink-client-api/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/DeployRequest.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/SubmitRequest.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnPerJobClient.scala
  streampark-flink/streampark-flink-connector/streampark-flink-connector-hbase/src/main/scala/org/apache/streampark/flink/connector/hbase/internal/HBaseSourceFunction.scala
  streampark-flink/streampark-flink-connector/streampark-flink-connector-jdbc/src/main/scala/org/apache/streampark/flink/connector/jdbc/internal/JdbcSourceFunction.scala
  streampark-flink/streampark-flink-connector/streampark-flink-connector-mongo/src/main/scala/org/apache/streampark/flink/connector/mongo/internal/MongoSourceFunction.scala
  streampark-flink/streampark-flink-connector/streampark-flink-connector-redis/src/main/scala/org/apache/streampark/flink/connector/redis/sink/RedisSink.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/util/FlinkUtils.scala
Labels: BUILD, BACKEND, FLINK

[Improve]: Display savepoint pop-up using tsx syntax
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/SavepointApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StartApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useApp.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useSavepoint.tsx
Labels: WEB UI

fix: close text and openSavepoint text
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useApp.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableAction.ts
Labels: WEB UI

[fix]The K8S Application Mode deployment job has been in the INITIALIZING state since it was started
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/FlinkK8sWatchController.scala
Labels: FLINK, KUBERNETES

[Improve]: Display savepoint pop-up using tsx syntax (#2580)
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/SavepointApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StartApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useApp.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableAction.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useSavepoint.tsx
Labels: WEB UI

[Improve] trigger savepoint modal position improvement
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useSavepoint.tsx
Labels: WEB UI

[Improve] trigger savepoint modal position improvement (#2581)
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useSavepoint.tsx
Labels: WEB UI

[Improve] support delete flink home
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkEnvController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkClusterService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkEnvService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkEnvServiceImpl.java
  streampark-console/streampark-console-webapp/src/api/flink/setting/flinkEnv.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/flinkHome.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/setting/flinkHome.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
Labels: WEB UI, BACKEND

Handling Code Format Issues
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/FlinkK8sWatchController.scala
Labels: FLINK, KUBERNETES

[Improve] move jackson setting into profile
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/WebMvcConfig.java
  streampark-console/streampark-console-service/src/main/resources/application.yml
Labels: BACKEND

[Improve] disable delete button in some cases
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
Labels: WEB UI

[Fix]Ingress Metadata cannot obtain the field. title. io/publicEndpoints annotation
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/IngressController.scala
Labels: FLINK, KUBERNETES

Cancel modifying code unrelated to PR
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/IngressController.scala
Labels: FLINK, KUBERNETES

[Fix]The K8S Application Mode deployment job has been in the INITIALI… (#2579)
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/FlinkK8sWatchController.scala
Labels: FLINK, KUBERNETES

feat: add operation and tag
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationBuildPipelineController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationHistoryController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ConfigController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ExternalLinkController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkClusterController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkEnvController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkPodTemplateController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkSqlController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/IndexController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/MessageController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ProjectController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SavePointController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SettingController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/VariableController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/MemberController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/MenuController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/PassportController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/RoleController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/TeamController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/UserController.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/AccessTokenServiceTest.java
Labels: BACKEND

adjust code
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/IngressController.scala
Labels: FLINK, KUBERNETES

[Feature][Issue-2324/Issue-2420] Support selection on yarn queue when create/edit yarn per-job/application-mode application & yarn-session cluster.
  streampark-common/src/main/java/org/apache/streampark/common/enums/ExecutionMode.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/YarnQueueService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/YarnQueueServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/utils/YarnQueueLabelExpression.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/SpringTestBase.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/ApplicationServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/FlinkClusterServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/YarnQueueServiceTest.java
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/yarnQueue.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/setting/yarnQueue.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/useClusterSetting.ts
Labels: WEB UI, BACKEND

adjust code
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/IngressController.scala
Labels: FLINK, KUBERNETES

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"
