Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"

add license
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/OpApplicationInfoService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/QueryApplicationInfoService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/ValidateApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/deploy/impl/K8sApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/deploy/impl/NoK8sApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/OpApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/QueryApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ValidateApplicationServiceImpl.java
Labels: BACKEND

fix conflict
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/OpApplicationInfoServiceImpl.java
Labels: BACKEND

add license
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/deploy/impl/YarnApplicationServiceImpl.java
Labels: BACKEND

fix conflict
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/deploy/impl/K8sApplicationServiceImpl.java
Labels: BACKEND

rebase dev
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/OpApplicationInfoService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/ValidateApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/OpApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ValidateApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/SavePointServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/UserServiceTest.java
Labels: BACKEND

[ISSUE-2498][Feature] [SubTask] The cluster supports remote and yarn session heartbeat monitoring
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
Labels: BACKEND

[Bug] pass flinkClusterId & clusterId parameters for app running in k8s session mode
  streampark-console/streampark-console-webapp/src/views/flink/app/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
Labels: WEB UI

feat: refactor alert config v2 api
  streampark-console/streampark-console-openapi/pom.xml
  streampark-console/streampark-console-openapi/src/main/resources/streampark_rest_v2.yaml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/controller/AlertConfigsApiImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/api/v2/convert/AlertConfigConvert.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/domain/RestRequest.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/JacksonUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/AlertTemplate.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/AlertConfigService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/AlertConfigServiceImpl.java
Labels: BUILD, BACKEND

[fix] fix the value submitted for 'application type' is not consistent with the saved value(#2765)
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateSchema.ts
Labels: WEB UI

[fix] fix the value submitted for 'application type' is not consistent with the saved value(#2765) (#2767)
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateSchema.ts
Labels: WEB UI

[improve] Update the "Lock User" tip message.
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/user.ts
Labels: WEB UI

[improve] Update the "Transfer resources" tip message.
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/user.ts
Labels: WEB UI

[improve] Update the "Lock User" tip message.
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/user.ts
Labels: WEB UI

[improve] rename UserLogoutException to UserLockedException
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/exception/UserLockedException.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/handler/GlobalExceptionHandler.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/interceptor/UserStatusCheckInterceptor.java
Labels: BACKEND

[improve] UserId and transferToUserId cannot be same, and transferToUserId cannot be a locked user.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
Labels: BACKEND

[improve] transferToUserId cannot be a locked user.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
Labels: BACKEND

[fix] userName.value is the current logined user, not the user to be locked. Besides, we should also exclude users who are already locked.
  streampark-console/streampark-console-webapp/src/views/system/user/User.vue
Labels: WEB UI

[improve] We'd better hide lock button for the logined user
  streampark-console/streampark-console-webapp/src/views/system/user/User.vue
Labels: WEB UI

[style] code spotless
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
Labels: BACKEND

[improve] Support resource transfer for variable, alertconfig, and flinkcluster
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/AlertConfigMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/FlinkClusterMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ResourceMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/VariableMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkClusterService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/VariableService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/AlertConfigService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/AlertConfigServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/VariableServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/UserService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/AlertConfigMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/FlinkClusterMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/VariableMapper.xml
Labels: BACKEND

[BUG] fix ldap login error
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/LdapService.java
Labels: BACKEND

[BUG] fix ldap login error in dev-2.1.1
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/LdapService.java
Labels: BACKEND

[BUG] Fix wrong app type
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useEdit.ts
Labels: WEB UI

[BUG] Fix wrong app type in dev 2.1.1
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useEdit.ts
Labels: WEB UI

[BUG] Fix wrong app type in dev 2.1.1 (#2778)
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useEdit.ts
Labels: WEB UI

[BUG] fix ldap login error (#2774)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/LdapService.java
Labels: BACKEND

[BUG] Fix wrong app type (#2777)
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useEdit.ts
Labels: WEB UI

[BUG] fix ldap login error in dev-2.1.1 (#2775)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/LdapService.java
Labels: BACKEND

[Feature] support set RestoreMode when starting app
  streampark-common/src/main/java/org/apache/streampark/common/enums/RestoreMode.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-webapp/src/enums/flinkEnum.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StartApplicationModal.vue
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/SubmitRequest.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: WEB UI, BACKEND, FLINK

[ISSUE-2498][Feature] [SubTask] The cluster supports remote and yarn session heartbeat monitoring
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.2.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.1.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.2.0.sql
Labels: BUILD, BACKEND

[test] fix the lockUser test case
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/UserServiceTest.java
Labels: BACKEND

[ISSUE-2498][Feature] [SubTask] The cluster supports remote and yarn session heartbeat monitoring (#2675)
  streampark-common/src/main/java/org/apache/streampark/common/enums/ClusterState.java
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.2.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.2.0.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/FlinkClusterMapper.xml
Labels: BUILD, BACKEND

[FIX] check flink version in fe&be
  streampark-common/src/main/java/org/apache/streampark/common/enums/RestoreMode.java
  streampark-common/src/main/scala/org/apache/streampark/common/conf/FlinkVersion.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StartApplicationModal.vue
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: WEB UI, BACKEND, FLINK

[Feature][ISSUE-2780] support set RestoreMode when starting app (#2782)
  streampark-common/src/main/java/org/apache/streampark/common/enums/RestoreMode.java
  streampark-common/src/main/scala/org/apache/streampark/common/conf/FlinkVersion.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-webapp/src/enums/flinkEnum.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StartApplicationModal.vue
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/SubmitRequest.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: WEB UI, BACKEND, FLINK

[Bug] pass flinkClusterId & clusterId parameters for app running in k8s session mode (#2751)
  streampark-console/streampark-console-webapp/src/views/flink/app/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
Labels: WEB UI

Correct doStart() method comment message.
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
Labels: FLINK, KUBERNETES

Correct doStart() method comment message. (#2787)
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
Labels: FLINK, KUBERNETES

[Improve] support resource group (#2742)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-webapp/src/assets/icons/group.svg
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/resource.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/resource.ts
  streampark-console/streampark-console-webapp/src/views/flink/resource/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/resource/components/Resource.vue
  streampark-console/streampark-console-webapp/src/views/flink/resource/components/ResourceDrawer.vue
  streampark-console/streampark-console-webapp/src/views/flink/resource/resource.data.ts
  streampark-console/streampark-console-webapp/src/views/flink/resource/useResourceRender.tsx
Labels: WEB UI, BACKEND

[Improve] Upgrade Scala patch versions to build on JDK 17
  dist-material/release-docs/LICENSE
  pom.xml
Labels: BUILD

[Improve] Upgrade Scala patch versions to build on JDK 17 (#2791)
  dist-material/release-docs/LICENSE
  pom.xml
Labels: BUILD
