Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"

adjust code
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/IngressController.scala
Labels: FLINK, KUBERNETES

[Fix] More comprehensive acquisition of Flink-K8s Ingress public endpoints (#2584)
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/IngressController.scala
Labels: FLINK, KUBERNETES

[Fix] address comments
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkEnvServiceImpl.java
Labels: BACKEND

[Improve] remove annotation @JsonFormat
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/YarnQueue.java
Labels: BACKEND

[Improve] use mvn spotless:apply to format code
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
Labels: BACKEND

[Improve] move jackson setting into profile (#2583)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/WebMvcConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/YarnQueue.java
  streampark-console/streampark-console-service/src/main/resources/application.yml
Labels: BACKEND

[Fix] The value displayed in the input box is incorrect
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useEdit.ts
Labels: WEB UI

[Fix] The value displayed in the input box is incorrect (#2587)
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useEdit.ts
Labels: WEB UI

[Fix] parse key with fraction suffix to float
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useEdit.ts
Labels: WEB UI

[Fix] parse key with fraction suffix to float (#2588)
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useEdit.ts
Labels: WEB UI

[Improve] In the Flink Cluster module, a new browser window is opened when the Cluster URL is clicked #2589
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
Labels: WEB UI

[Improve] parse app config improvement
  streampark-common/src/main/scala/org/apache/streampark/common/util/FileUtils.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/SubmitRequest.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkStreamingInitializer.scala
Labels: BACKEND, FLINK

[Improve] In the Flink Cluster module, a new browser window is opened when the Cluster URL is clicked #2589 (#2590)
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
Labels: WEB UI

[Improve] parse app config improvement (#2591)
  streampark-common/src/main/scala/org/apache/streampark/common/util/FileUtils.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/SubmitRequest.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkStreamingInitializer.scala
Labels: BACKEND, FLINK

Update based on review comments.
  streampark-common/src/main/java/org/apache/streampark/common/enums/ExecutionMode.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/YarnQueueService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/YarnQueueServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/ApplicationServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/FlinkClusterServiceTest.java
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
Labels: WEB UI, BACKEND

[Fix] address comments
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkEnvServiceImpl.java
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
Labels: WEB UI, BACKEND

Update streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/setting/yarnQueue.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/setting/yarnQueue.ts
Labels: WEB UI

[Improve] support delete flink home (#2582)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkEnvController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkClusterService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkEnvService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkEnvServiceImpl.java
  streampark-console/streampark-console-webapp/src/api/flink/setting/flinkEnv.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/flinkHome.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/setting/flinkHome.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
Labels: WEB UI, BACKEND

Update based on review comments.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/YarnQueueService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/YarnQueueServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/ApplicationServiceTest.java
Labels: BACKEND

feat: update operation
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/AlertController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationBuildPipelineController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationHistoryController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/IndexController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SavePointController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/AccessTokenController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/UserController.java
Labels: BACKEND

[Feature][Issue-2324/Issue-2420] Support selection on yarn queue when create/edit yarn per-job/application-mode application & yarn-session cluster. (#2448)
  streampark-common/src/main/java/org/apache/streampark/common/enums/ExecutionMode.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/YarnQueueService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/YarnQueueServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/utils/YarnQueueLabelExpression.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/SpringTestBase.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/ApplicationServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/FlinkClusterServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/YarnQueueServiceTest.java
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/yarnQueue.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/setting/yarnQueue.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/useClusterSetting.ts
Labels: WEB UI, BACKEND

[Bug] Modifications should be disabled when building a project (#2596)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-webapp/src/views/flink/project/components/ListItem.vue
Labels: WEB UI, BACKEND

[Bug] Delete application will not remove k8s watching
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

[Bug] Delete application will not remove k8s watching (#2598)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

[bug] there is no log output in kubernetes session cluster
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeSessionClient.scala
Labels: FLINK

[bug] there is no log output in kubernetes session cluster (#2599)
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeSessionClient.scala
Labels: FLINK

Fix can't copy config of application
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

[Bug] Modifications should be disabled when building a project , Remove useless code (#2596)
  streampark-console/streampark-console-webapp/src/views/flink/project/components/ListItem.vue
Labels: WEB UI

[Improve] Flink CONF_DIR improvement
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeApplicationClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/KubernetesNativeClientTrait.scala
Labels: FLINK

Fix can't copy config of application (#2601)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

[Improve][kubernetes] ingress support ownerReferences
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/IngressController.scala
Labels: FLINK, KUBERNETES

[Improve] add timestamp behind sql version
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
Labels: WEB UI

[Fix]: No event triggered when changing execmode
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useEditFlinkSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useEditStreamPark.ts
Labels: WEB UI

[Fix]: setInterval not cleaned
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
Labels: WEB UI

[Fix]: Change the role permission judgment method
  streampark-console/streampark-console-webapp/src/views/system/role/components/RoleDrawer.vue
Labels: WEB UI

[Improve]: login select team modal
  streampark-console/streampark-console-webapp/src/locales/lang/en/sys.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/sys.ts
  streampark-console/streampark-console-webapp/src/views/base/login/teamModal.vue
  streampark-console/streampark-console-webapp/src/views/base/login/useTeamModal.tsx
Labels: WEB UI

fix
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sChangeEventListener.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/KubernetesNativeClientTrait.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/FlinkK8sWatchController.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/IngressController.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
Labels: BACKEND, FLINK, KUBERNETES

[Improve] add timestamp behind sql version (#2607)
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
Labels: WEB UI

[Improve] mysql, postgresql, h2 menu data keep consistent #2595
  streampark-console/streampark-console-service/src/main/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/main/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.0.sql
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
Labels: BUILD, BACKEND

fix
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/IgsMeta.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/IngressController.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/KubernetesRetriever.java
Labels: FLINK, KUBERNETES
