Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

[Impeove] hadoopUtils minor improvement
  streampark-common/src/main/scala/org/apache/streampark/common/util/ClassLoaderUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/HadoopUtils.scala
Labels: BACKEND

feature: optimize flink proxy
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/AppControl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ProxyController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProxyServiceImpl.java
  streampark-console/streampark-console-webapp/src/views/flink/app/Detail.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
Labels: WEB UI, BACKEND

fix: add log for proxy failed
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProxyServiceImpl.java
Labels: BACKEND

[Improve] project page minor improvement
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
  streampark-console/streampark-console-webapp/src/views/flink/project/useProject.tsx
Labels: BUILD, WEB UI, BACKEND

[Improve] i18n minor improvement
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/project.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/token.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/user.ts
Labels: WEB UI

finish task action
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/AsyncExecutorPoolConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/TaskAction.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/TaskActionMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/TaskActionService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/TaskActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/FlinkAppHttpWatcher.java
Labels: BACKEND

[Improve] flink app cancel bug fixed.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-webapp/src/views/flink/app/components/State.tsx
Labels: WEB UI, BACKEND

[Improve] flink app cancel bug fixed. (#4013)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-webapp/src/views/flink/app/components/State.tsx
Labels: WEB UI, BACKEND

Optimize the user experience of the Flink web page proxy. (#4012)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/AppControl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ProxyController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProxyServiceImpl.java
  streampark-console/streampark-console-webapp/src/views/flink/app/Detail.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
Labels: WEB UI, BACKEND

[Improve]: Adjusting the project page layout to a table
  streampark-console/streampark-console-webapp/src/components/Page/src/PageWrapper.vue
  streampark-console/streampark-console-webapp/src/components/SimpleMenu/src/SimpleSubMenu.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/BasicTable.vue
  streampark-console/streampark-console-webapp/src/hooks/web/useContentHeight.ts
  streampark-console/streampark-console-webapp/src/layouts/default/footer/index.vue
  streampark-console/streampark-console-webapp/src/layouts/default/menu/index.vue
  streampark-console/streampark-console-webapp/src/layouts/default/sider/LayoutSider.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableColumns.ts
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/View.vue
  streampark-console/streampark-console-webapp/src/views/setting/Alarm/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/ExternalLink/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/System/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/YarnQueue/index.vue
  streampark-console/streampark-console-webapp/src/views/system/member/Member.vue
  streampark-console/streampark-console-webapp/src/views/system/menu/Menu.vue
  streampark-console/streampark-console-webapp/src/views/system/role/Role.vue
  streampark-console/streampark-console-webapp/src/views/system/team/Team.vue
  streampark-console/streampark-console-webapp/src/views/system/token/Token.vue
  streampark-console/streampark-console-webapp/src/views/system/user/User.vue
Labels: WEB UI

[Improve]: flink cluster & flink home style
  streampark-console/streampark-console-webapp/src/views/flink/cluster/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/home/View.vue
  streampark-console/streampark-console-webapp/src/views/resource/project/View.vue
  streampark-console/streampark-console-webapp/src/views/setting/alarm/View.vue
  streampark-console/streampark-console-webapp/src/views/setting/extlink/View.vue
Labels: WEB UI

[Improve]: Adjusting the project page layout to a table (#4014)
  streampark-console/streampark-console-webapp/src/components/Page/src/PageWrapper.vue
  streampark-console/streampark-console-webapp/src/components/SimpleMenu/src/SimpleSubMenu.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/BasicTable.vue
  streampark-console/streampark-console-webapp/src/hooks/web/useContentHeight.ts
  streampark-console/streampark-console-webapp/src/layouts/default/footer/index.vue
  streampark-console/streampark-console-webapp/src/layouts/default/menu/index.vue
  streampark-console/streampark-console-webapp/src/layouts/default/sider/LayoutSider.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableColumns.ts
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/View.vue
  streampark-console/streampark-console-webapp/src/views/setting/Alarm/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/ExternalLink/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/System/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/YarnQueue/index.vue
  streampark-console/streampark-console-webapp/src/views/system/member/Member.vue
  streampark-console/streampark-console-webapp/src/views/system/menu/Menu.vue
  streampark-console/streampark-console-webapp/src/views/system/role/Role.vue
  streampark-console/streampark-console-webapp/src/views/system/team/Team.vue
  streampark-console/streampark-console-webapp/src/views/system/token/Token.vue
  streampark-console/streampark-console-webapp/src/views/system/user/User.vue
Labels: WEB UI

[Fix]: app table resize bug
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
Labels: WEB UI

[Fix]: hidden resize toolbar when dataSource is empty
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
Labels: WEB UI

[Improve] project page minor improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/FlinkAppState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/project.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/Detail.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/data/detail.data.ts
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
  streampark-console/streampark-console-webapp/src/views/setting/ExternalLink/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
Labels: WEB UI, BACKEND

[Improve] project page minor improvement (#4015)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/FlinkAppState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/project.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/Detail.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/data/detail.data.ts
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
  streampark-console/streampark-console-webapp/src/views/setting/ExternalLink/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
Labels: WEB UI, BACKEND

[Fix]: app table resize tool
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppResize.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableAction.ts
Labels: WEB UI

Revert "finish task action"
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/AsyncExecutorPoolConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/TaskAction.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/TaskActionMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/TaskActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/TaskManager.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/FlinkAppHttpWatcher.java
Labels: BACKEND

Revert "add TaskManager"
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/TaskActionEnum.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/TaskManager.java
Labels: BACKEND

Revert "refine docs"
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/ConsistentHash.java
Labels: BACKEND

Revert "spotless"
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/ConsistentHashTest.java
Labels: BACKEND

Revert "add test"
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/ConsistentHashTest.java
Labels: BACKEND

Revert "init hash"
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/ConsistentHash.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/Murmur3Hash.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/ConsistentHashTest.java
Labels: BACKEND

spotless
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationInfoServiceImpl.java
Labels: BACKEND

spotless
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/ConsistentHashTest.java
Labels: BACKEND

refine docs
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/ConsistentHash.java
Labels: BACKEND

add test
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/ConsistentHashTest.java
Labels: BACKEND

init hash
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/ConsistentHash.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/Murmur3Hash.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/ConsistentHashTest.java
Labels: BACKEND

finish task action
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/AsyncExecutorPoolConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/TaskAction.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/TaskActionMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/TaskActionService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/TaskActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/FlinkAppHttpWatcher.java
Labels: BACKEND

add TaskManager
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/TaskActionEnum.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/TaskManager.java
Labels: BACKEND

[Fix]: app table resize tool
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppResize.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableAction.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
Labels: WEB UI

[Fix]: app table resize tool (#4017)
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppResize.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableAction.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
Labels: WEB UI

[Improve] page minor improvement
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/DependApps.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/View.vue
  streampark-console/streampark-console-webapp/src/views/setting/YarnQueue/index.vue
  streampark-console/streampark-console-webapp/src/views/system/member/Member.vue
  streampark-console/streampark-console-webapp/src/views/system/menu/Menu.vue
  streampark-console/streampark-console-webapp/src/views/system/role/Role.vue
  streampark-console/streampark-console-webapp/src/views/system/team/Team.vue
  streampark-console/streampark-console-webapp/src/views/system/token/Token.vue
  streampark-console/streampark-console-webapp/src/views/system/user/User.vue
Labels: WEB UI

[Improve] flink version page improvement
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/flinkHome.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/setting/flinkHome.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
Labels: WEB UI

[Improve] project style minor improvement
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StatisticCard.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/View.less
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
Labels: WEB UI

[Improve] FE style improvement
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/AppDashboard.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StatisticCard.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/View.less
Labels: WEB UI

[Improve]: table style
  streampark-console/streampark-console-webapp/.vscode/settings.json
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/variable.data.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/YarnQueue/YarnQueueModal.vue
  streampark-console/streampark-console-webapp/src/views/setting/YarnQueue/index.data.ts
  streampark-console/streampark-console-webapp/src/views/setting/YarnQueue/index.vue
  streampark-console/streampark-console-webapp/src/views/system/member/Member.vue
  streampark-console/streampark-console-webapp/src/views/system/member/MemberModal.vue
  streampark-console/streampark-console-webapp/src/views/system/role/Role.vue
  streampark-console/streampark-console-webapp/src/views/system/role/role.data.ts
  streampark-console/streampark-console-webapp/src/views/system/team/Team.vue
  streampark-console/streampark-console-webapp/src/views/system/team/TeamModal.vue
  streampark-console/streampark-console-webapp/src/views/system/team/team.data.ts
  streampark-console/streampark-console-webapp/src/views/system/token/Token.vue
  streampark-console/streampark-console-webapp/src/views/system/user/User.vue
  streampark-console/streampark-console-webapp/src/views/system/user/user.data.ts
Labels: WEB UI

[Improve]: table style (#4018)
  streampark-console/streampark-console-webapp/.vscode/settings.json
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/variable.data.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/YarnQueue/YarnQueueModal.vue
  streampark-console/streampark-console-webapp/src/views/setting/YarnQueue/index.data.ts
  streampark-console/streampark-console-webapp/src/views/setting/YarnQueue/index.vue
  streampark-console/streampark-console-webapp/src/views/system/member/Member.vue
  streampark-console/streampark-console-webapp/src/views/system/member/MemberModal.vue
  streampark-console/streampark-console-webapp/src/views/system/role/Role.vue
  streampark-console/streampark-console-webapp/src/views/system/role/role.data.ts
  streampark-console/streampark-console-webapp/src/views/system/team/Team.vue
  streampark-console/streampark-console-webapp/src/views/system/team/TeamModal.vue
  streampark-console/streampark-console-webapp/src/views/system/team/team.data.ts
  streampark-console/streampark-console-webapp/src/views/system/token/Token.vue
  streampark-console/streampark-console-webapp/src/views/system/user/User.vue
  streampark-console/streampark-console-webapp/src/views/system/user/user.data.ts
Labels: WEB UI

move to registry
  streampark-common/src/main/java/org/apache/streampark/common/enums/ServerStatus.java
  streampark-common/src/main/java/org/apache/streampark/common/thread/DefaultUncaughtExceptionHandler.java
  streampark-console/streampark-console-registry/streampark-registry-api/src/main/java/org/apache/streampark/registry/api/RegistryClient.java
  streampark-console/streampark-console-registry/streampark-registry-api/src/main/java/org/apache/streampark/registry/api/enums/ServerStatusEnum.java
  streampark-console/streampark-console-registry/streampark-registry-api/src/main/java/org/apache/streampark/registry/api/ha/AbstractHAServer.java
  streampark-console/streampark-console-registry/streampark-registry-api/src/main/java/org/apache/streampark/registry/api/ha/DefaultServerStatusChangeListener.java
  streampark-console/streampark-console-registry/streampark-registry-api/src/main/java/org/apache/streampark/registry/api/ha/HAServer.java
  streampark-console/streampark-console-registry/streampark-registry-api/src/main/java/org/apache/streampark/registry/api/lifecycle/ServerLifeCycle.java
  streampark-console/streampark-console-registry/streampark-registry-api/src/main/java/org/apache/streampark/registry/api/lifecycle/ServerLifeCycleException.java
  streampark-console/streampark-console-registry/streampark-registry-api/src/main/java/org/apache/streampark/registry/api/lifecycle/ServerLifeCycleManager.java
  streampark-console/streampark-console-registry/streampark-registry-api/src/main/java/org/apache/streampark/registry/api/model/BaseHeartBeat.java
  streampark-console/streampark-console-registry/streampark-registry-api/src/main/java/org/apache/streampark/registry/api/model/BaseHeartBeatTask.java
  streampark-console/streampark-console-registry/streampark-registry-api/src/main/java/org/apache/streampark/registry/api/model/ConsoleHeartBeat.java
  streampark-console/streampark-console-registry/streampark-registry-api/src/main/java/org/apache/streampark/registry/api/model/HeartBeat.java
  streampark-console/streampark-console-registry/streampark-registry-api/src/main/java/org/apache/streampark/registry/api/model/Server.java
  streampark-console/streampark-console-registry/streampark-registry-api/src/main/java/org/apache/streampark/registry/api/sql/ClasspathSqlScriptParser.java
  streampark-console/streampark-console-registry/streampark-registry-api/src/main/java/org/apache/streampark/registry/api/sql/SqlScriptParser.java
  streampark-console/streampark-console-registry/streampark-registry-api/src/main/java/org/apache/streampark/registry/api/sql/SqlScriptRunner.java
  streampark-console/streampark-console-registry/streampark-registry-api/src/main/java/org/apache/streampark/registry/api/thread/BaseDaemonThread.java
  streampark-console/streampark-console-registry/streampark-registry-api/src/main/java/org/apache/streampark/registry/api/thread/DefaultUncaughtExceptionHandler.java
  streampark-console/streampark-console-registry/streampark-registry-api/src/main/java/org/apache/streampark/registry/api/thread/ThreadUtils.java
  streampark-console/streampark-console-registry/streampark-registry-plugins/streampark-registry-jdbc/src/main/java/org/apache/streampark/plugin/registry/jdbc/JdbcRegistryThreadFactory.java
  streampark-console/streampark-console-registry/streampark-registry-plugins/streampark-registry-jdbc/src/main/java/org/apache/streampark/plugin/registry/jdbc/server/JdbcRegistryLockManager.java
  streampark-console/streampark-console-registry/streampark-registry-plugins/streampark-registry-jdbc/src/test/java/org/apache/streampark/plugin/registry/jdbc/MysqlJdbcRegistryTestCase.java
  streampark-console/streampark-console-registry/streampark-registry-plugins/streampark-registry-jdbc/src/test/java/org/apache/streampark/plugin/registry/jdbc/PostgresqlJdbcRegistryTestCase.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/StreamParkConsoleBootstrap.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/registry/ConsoleConnectionStateListener.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/registry/ConsoleRegistryClient.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/ConsoleHeartBeatTask.java
Labels: BACKEND

feature: change "Rest-Service Exposed Type" from LoadBalancer to ClusterIP
  streampark-console/streampark-console-webapp/src/views/flink/app/Add.vue
Labels: WEB UI

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"
