Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"

[Improve] springTest ci failed fixed
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/SpringTestBase.java
Labels: BACKEND

[Improve] testcase bug fixed.
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/SpringTestBase.java
Labels: BACKEND

[Improve] StreamPark Platform configuration files improvements (#3653)
  streampark-common/src/main/scala/org/apache/streampark/common/util/HadoopConfigUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/HadoopUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/PropertiesUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/YarnUtils.scala
  streampark-console/streampark-console-service/src/main/assembly/assembly.xml
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/StreamParkConsoleBootstrap.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/MybatisConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/SpringProperties.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/properties/ShiroProperties.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/authentication/JWTFilter.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/authentication/JWTUtil.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/PassportController.java
  streampark-console/streampark-console-service/src/main/resources/application-h2.yml
  streampark-console/streampark-console-service/src/main/resources/application-mysql.yml
  streampark-console/streampark-console-service/src/main/resources/application-pgsql.yml
  streampark-console/streampark-console-service/src/main/resources/application.yml
  streampark-console/streampark-console-service/src/main/resources/config.yaml
  streampark-console/streampark-console-service/src/main/resources/kerberos.yml
  streampark-console/streampark-console-service/src/main/resources/logback.xml
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/SpringTestBase.java
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/ingress/IngressStrategyV1.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/ingress/IngressStrategyV1beta1.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkCheckpointWatcher.scala
Labels: BUILD, BACKEND, FLINK, KUBERNETES, YARN

[Improve] maven build args bug fixed.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
Labels: BACKEND

[ISSUE-3007][Improve] Introduce a utils to process conditions check and exceptions thrown for console-service module. (#3652)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/Throws.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/utils/ThrowsTest.java
Labels: BACKEND

Revert "[Improve] mybatis-plus updateStrategy improvements (#3615)"
  .licenserc.yaml
  dist-material/release-docs/LICENSE
  dist-material/release-docs/licenses/license-cn.hutool-hutool-core.txt
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/MybatisConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/ApplicationConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Setting.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/YarnQueue.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/AlertConfigServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationManageServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ExternalLinkServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkEnvServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/VariableServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/YarnQueueServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/utils/BeanUtil.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/AccessTokenServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MemberServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/RoleServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/TeamServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/SavePointServiceTest.java
Labels: INFRA, BUILD, BACKEND

Revert "[Improve] mybatis-plus updateStrategy improvements (#3615)" (#3655)
  .licenserc.yaml
  dist-material/release-docs/LICENSE
  dist-material/release-docs/licenses/license-cn.hutool-hutool-core.txt
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/MybatisConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/ApplicationConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Setting.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/YarnQueue.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/AlertConfigServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationManageServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ExternalLinkServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkEnvServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/VariableServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/YarnQueueServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/utils/BeanUtil.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/AccessTokenServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MemberServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/RoleServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/TeamServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/SavePointServiceTest.java
Labels: INFRA, BUILD, BACKEND

[Improve][Flink-Kubnernetes-V2] Improve UsingObserver test
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/src/test/scala/org/apache/streampark/flink/kubernetes/v2/example/UsingObserver.scala
Labels: FLINK

[Improve] project add new failed improve
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/AccessTokenServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MenuServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/RoleServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/TeamServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
Labels: BACKEND

[Improve] project add new failed improve (#3656)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/AccessTokenServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MenuServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/RoleServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/TeamServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
Labels: BACKEND

[Improve] Objects.isNull improvements
  streampark-common/src/main/scala/org/apache/streampark/common/util/ReflectUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/exception/ApiAlertException.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/SettingAlertEmailConfigParams.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/SettingDockerConfigParams.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/metrics/flink/CheckPoints.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/AccessTokenServiceImpl.java
Labels: BACKEND

[Improve] Objects.nonNull minor improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/metrics/flink/CheckPoints.java
Labels: BACKEND

[Improve] k8s app mode tracking job state bug fixed.
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkCheckpointWatcher.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkK8sEventWatcher.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkMetricsWatcher.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkWatcher.scala
Labels: FLINK, KUBERNETES

[Improve] flink metrics watch minor improve
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkMetricsWatcher.scala
Labels: FLINK, KUBERNETES

[Improve] code style improvement
  streampark-common/src/main/scala/org/apache/streampark/common/util/ReflectUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/YarnUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkAppHttpWatcher.java
Labels: BACKEND, YARN

[Improve] config.yaml format improvement
  streampark-console/streampark-console-service/src/main/resources/config.yaml
Labels: BACKEND

[Improve] config.yaml configuration file compatibility improvements
  streampark-console/streampark-console-service/src/main/assembly/bin/jvm_opts.sh
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/MybatisConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/SpringProperties.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/BashJavaUtils.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/conf/ParameterCli.scala
Labels: BUILD, BACKEND, FLINK

[Improve] import package minor improvement
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/conf/ParameterCli.scala
Labels: FLINK

[Improve][Flink-Kubnernetes-V2] Improve UsingObserver test (#3654)
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/src/test/scala/org/apache/streampark/flink/kubernetes/v2/example/UsingObserver.scala
Labels: FLINK

[Improve] docker-compose.yaml config improvement
  helm/streampark/conf/streampark-console-config/ValidationMessages.properties
  helm/streampark/conf/streampark-console-config/application-h2.yml
  helm/streampark/conf/streampark-console-config/application-mysql.yml
  helm/streampark/conf/streampark-console-config/application-pgsql.yml
  helm/streampark/conf/streampark-console-config/application.yml
  helm/streampark/conf/streampark-console-config/config.yaml
  helm/streampark/conf/streampark-console-config/kerberos.yml
  helm/streampark/conf/streampark-console-config/logback.xml
  helm/streampark/conf/streampark-console-config/spy.properties
  helm/streampark/templates/configmap.yaml
  helm/streampark/templates/streampark.yml
  streampark-console/streampark-console-service/src/main/resources/ValidationMessages.properties
  streampark-console/streampark-console-service/src/main/resources/spy.properties
Labels: BACKEND

[Improve] docker-compose.yaml improvement
  docker/.env
  docker/config.yaml
  docker/docker-compose.yaml
Labels: none

[Improve] code style improvement
  docker/.env
Labels: none

[Improve] docker-compose.yaml improvement
  docker/.env
  docker/config.yaml
  docker/docker-compose.yaml
Labels: none

[Improve] docker-compose.yaml env_file improve
  docker/docker-compose.yaml
Labels: none

[Improve] test push docker image
  .github/workflows/docker-push.yml
Labels: INFRA

Fixed the issue that SSO could not jump when debugging the front-end and backend separation locally
  streampark-console/streampark-console-webapp/.env.development
  streampark-console/streampark-console-webapp/src/views/base/login/LoginForm.vue
  streampark-console/streampark-console-webapp/types/global.d.ts
Labels: WEB UI

[Improve] docker ci trigger test
  .github/workflows/docker-push.yml
  streampark-console/streampark-console-service/src/main/assembly/plugins/.gitkeep
Labels: INFRA, BUILD, BACKEND

[Bug][Flink-Submit] Fixed security issues with submitting external applications to manipulate the Jvm
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/utils/SystemSecurityManager.java
Labels: BACKEND

[Improve] docker-push script improvement
  .github/workflows/docker-push.yml
Labels: INFRA

[Improve] test docker-push trigger
  .github/workflows/docker-push.yml
Labels: INFRA

test ci
  .github/workflows/docker-push.yml
Labels: INFRA

docker-push updated
  .github/workflows/docker-push.yml
Labels: INFRA

test ci
  .github/workflows/docker-push.yml
Labels: INFRA

[Improve] docker-push.yml updated
  .github/workflows/docker-push.yml
Labels: INFRA

[Improve] test docker-push script
  .github/workflows/docker-push.yml
Labels: INFRA

docker-push.yml update
  .github/workflows/docker-push.yml
Labels: INFRA

docker-push.yml updated
  .github/workflows/docker-push.yml
Labels: INFRA

[Improve] docker latest tag delete
  .github/workflows/docker-push.yml
Labels: INFRA

[Improve] docker-push.yml update
  .github/workflows/docker-push.yml
Labels: INFRA

[Improve] shell script improvement
  .github/workflows/docker-push.yml
  streampark-console/streampark-console-service/src/main/assembly/bin/setclasspath.sh
  streampark-console/streampark-console-service/src/main/assembly/bin/shutdown.sh
  streampark-console/streampark-console-service/src/main/assembly/bin/startup.sh
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
Labels: INFRA, BUILD, BACKEND
