Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"

[Improve] code style improvement
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/MavenTool.scala
Labels: FLINK

[Improve] MavenWrapperHelper getFileMd5 method minor improvement
  .mvn/wrapper/MavenWrapperHelper.java
Labels: BUILD

[Improve] FE get dependency latest value improvement
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/Dependency.vue
  streampark-console/streampark-console-webapp/src/views/resource/upload/components/UploadDrawer.vue
Labels: WEB UI

[Improve] FE job dependency component improvements (#3373)
  .mvn/wrapper/MavenWrapperHelper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-webapp/src/views/flink/app/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditFlink.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/Dependency.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useEditStreamPark.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/Add.less
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/MavenTool.scala
Labels: BUILD, WEB UI, BACKEND, FLINK

When submitting a task, check whether tasks with the same name are running in the yarn queue to prevent multiple tasks from running in the yarn queue.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
Labels: BACKEND

yarn submission mode: Check whether the submission job name is running in the queue. If yes, the submission cannot be performed
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
Labels: BACKEND

yarn submission mode: Check whether the submission job name is running in the queue. If yes, the submission cannot be performed
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
Labels: BACKEND

[Improve] yarn submission mode: Check whether the same task is submitted repeatedly (#3378)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
Labels: BACKEND

[Improve] mvnw check maven-wrapper.jar improvement (#3372)
  .mvn/wrapper/MavenWrapperHelper.java
  .mvn/wrapper/maven-wrapper.properties
  build.sh
  mvnw
  streampark-console/streampark-console-service/src/main/assembly/bin/mvnw
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/Dependency.vue
  streampark-console/streampark-console-webapp/src/views/resource/upload/components/UploadDrawer.vue
Labels: BUILD, WEB UI, BACKEND

add code add
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/FlinkAppHttpWatcher.java
Labels: BACKEND

[fixBug] yarnUtil restRequest error,illegal character in RM url bug
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/FlinkAppHttpWatcher.java
Labels: BACKEND

[Improve] improve startup log annotation
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/StreamParkConsoleBootstrap.java
Labels: BACKEND

[Improve] improve startup log annotation
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/StreamParkConsoleBootstrap.java
Labels: BACKEND

[Improve] improve startup log annotation
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/StreamParkConsoleBootstrap.java
Labels: BACKEND

[Improve] improve startup log annotation
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/StreamParkConsoleBootstrap.java
Labels: BACKEND

[Improve] FE links improvement
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-webapp/src/views/setting/extlink/View.vue
  streampark-console/streampark-console-webapp/src/views/setting/extlink/components/Modal.vue
  streampark-console/streampark-console-webapp/src/views/setting/extlink/components/index.ts
  streampark-console/streampark-console-webapp/src/views/setting/extlink/components/useExternalLink.tsx
Labels: WEB UI, BACKEND

[Improve] FE links improvement (#3383)
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-webapp/src/views/setting/extlink/View.vue
  streampark-console/streampark-console-webapp/src/views/setting/extlink/components/Modal.vue
  streampark-console/streampark-console-webapp/src/views/setting/extlink/components/index.ts
  streampark-console/streampark-console-webapp/src/views/setting/extlink/components/useExternalLink.tsx
Labels: WEB UI, BACKEND

[Improve] FE links improvement
  streampark-console/streampark-console-service/src/main/assembly/script/data/mysql-data.sql
Labels: BUILD, BACKEND

[Fix] Fix rabc lost ingress/deployments resources permission when flink on k8s.
  deploy/helm/streampark/templates/rbac.yaml
Labels: DOCKER

[Fix] Fix rabc lost ingress/deployments resources permission when flink on k8s. (#3385)
  deploy/helm/streampark/templates/rbac.yaml
Labels: DOCKER

[Improve] http check improvement
  streampark-common/src/main/scala/org/apache/streampark/common/util/Utils.scala
Labels: BACKEND

[Improve] http check improvement (#3386)
  streampark-common/src/main/scala/org/apache/streampark/common/util/Utils.scala
Labels: BACKEND

Update FlinkAppHttpWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/FlinkAppHttpWatcher.java
Labels: BACKEND

Update FlinkAppHttpWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/FlinkAppHttpWatcher.java
Labels: BACKEND

[fixBug] yarnUtil restRequest error,illegal character in RM url bug (#3380)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/FlinkAppHttpWatcher.java
Labels: BACKEND

[Improve] FE links improvement (#3384)
  streampark-console/streampark-console-service/src/main/assembly/script/data/mysql-data.sql
Labels: BUILD, BACKEND

[ISSUE-3046][Improve] Improve streampark-common module base on 3.3 Methods Rule
  streampark-common/src/main/java/org/apache/streampark/common/enums/ApplicationType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/ClusterState.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkDevelopmentMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkExecutionMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkK8sRestExposedType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkRestoreMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkSqlValidationFailedType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/ResolveOrder.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/Semantic.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/StorageType.java
  streampark-common/src/main/java/org/apache/streampark/common/util/ExceptionUtils.java
Labels: BACKEND

fix code format
  streampark-common/src/main/java/org/apache/streampark/common/enums/Semantic.java
Labels: BACKEND

Improve streampark-common enums of method
  streampark-common/src/main/java/org/apache/streampark/common/enums/ApplicationType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkDevelopmentMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkExecutionMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkK8sRestExposedType.java
Labels: BACKEND

fix format
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkRestoreMode.java
Labels: BACKEND

fix format
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkRestoreMode.java
Labels: BACKEND

fix sql default bug
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.2.sql
Labels: BUILD, BACKEND

[ISSUE-3393][Fix]:fix mybatis-plus enum annotation
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/MybatisConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Message.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/MessageServiceImpl.java
Labels: BACKEND

[Improve] upgrade ddl improvement
  streampark-common/src/main/scala/org/apache/streampark/common/conf/Workspace.scala
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.3.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BUILD, BACKEND

Update 2.1.2.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.2.sql
Labels: BUILD, BACKEND

[ISSUE-3393][Fix]fix mybatis-plus enum annotation
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/MybatisConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Message.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/MessageServiceImpl.java
Labels: BACKEND

[ISSUE-3393][Fix]fix mybatis-plus enum annotation (#3395)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/MybatisConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Message.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/MessageServiceImpl.java
Labels: BACKEND

[ISSUE-3046][Improve] Improve streampark-common module base on 3.3 Methods Rule (#3389)
  streampark-common/src/main/java/org/apache/streampark/common/enums/ApplicationType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/ClusterState.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkDevelopmentMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkExecutionMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkK8sRestExposedType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkRestoreMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkSqlValidationFailedType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/ResolveOrder.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/Semantic.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/StorageType.java
  streampark-common/src/main/java/org/apache/streampark/common/util/ExceptionUtils.java
Labels: BACKEND

[Improve] mavenWrapper check improvement
  .mvn/wrapper/MavenWrapperHelper.java
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  streampark-console/streampark-console-service/src/main/assembly/bin/mvnw
Labels: BUILD, BACKEND

[Improve] mavenWrapper improvement
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
Labels: BUILD, BACKEND
