Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

fix
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sChangeEventListener.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/KubernetesNativeClientTrait.scala
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/FlinkK8sWatchController.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/IgsMeta.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/IngressController.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/KubernetesRetriever.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.java
Labels: BACKEND, FLINK, KUBERNETES

fix
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

[Improve][kubernetes] Bind Flink's Ingress resources to the lifecycle of Deployment (#2605)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sChangeEventListener.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/KubernetesNativeClientTrait.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/FlinkK8sWatchController.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/IngressController.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
Labels: BACKEND, FLINK, KUBERNETES

[Fix]: No event triggered when changing execmode (#2608)
  streampark-console/streampark-console-webapp/src/locales/lang/en/sys.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/sys.ts
  streampark-console/streampark-console-webapp/src/views/base/login/teamModal.vue
  streampark-console/streampark-console-webapp/src/views/base/login/useTeamModal.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useEditFlinkSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useEditStreamPark.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
  streampark-console/streampark-console-webapp/src/views/system/role/components/RoleDrawer.vue
Labels: WEB UI

Update KubernetesNativeClientTrait.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/KubernetesNativeClientTrait.scala
Labels: FLINK

Update KubernetesNativeApplicationClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeApplicationClient.scala
Labels: FLINK

[Improve] modification of flink home is not allowed when it is still in use
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkEnvController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkEnvService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkEnvServiceImpl.java
  streampark-console/streampark-console-webapp/src/api/flink/setting/flinkEnv.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
Labels: WEB UI, BACKEND

[Improve] shaded log4j dependencies
  pom.xml
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigConst.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/ClassLoaderUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/FileUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/Logger.scala
  streampark-console/streampark-console-service/pom.xml
  streampark-flink/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/pom.xml
  streampark-shade/pom.xml
  streampark-shaded/pom.xml
  streampark-shaded/streampark-shaded-jackson/pom.xml
  streampark-shaded/streampark-shaded-slf4j/pom.xml
  streampark-spark/streampark-spark-core/src/main/resources/application.properties
  streampark-spark/streampark-spark-core/src/main/resources/spark-firemonitor
  streampark-spark/streampark-spark-core/src/main/resources/spark-rpcdemo
  streampark-spark/streampark-spark-core/src/main/resources/start-firemonitor-server.sh
  streampark-spark/streampark-spark-core/src/main/resources/start-rpcdemo-server.sh
  streampark-spark/streampark-spark-core/src/main/resources/stop-firemonitor-server.sh
  streampark-spark/streampark-spark-core/src/main/resources/stop-rpcdemo-server.sh
  streampark-spark/streampark-spark-core/src/main/scala/org/apache/streampark/spark/core/Spark.scala
  streampark-spark/streampark-spark-core/src/main/scala/org/apache/streampark/spark/core/SparkBatch.scala
  streampark-spark/streampark-spark-quickstart/assembly.xml
  streampark-spark/streampark-spark-quickstart/assembly/conf/application.yml
  streampark-spark/streampark-spark-quickstart/assembly/lib/.gitkeep
  streampark-spark/streampark-spark-quickstart/assembly/logs/.gitkeep
  streampark-spark/streampark-spark-quickstart/assembly/temp/.gitkeep
  streampark-spark/streampark-spark-quickstart/src/main/resources/logback.xml
  streampark-spark/streampark-spark-quickstart/src/main/scala/org/apache/streampark/spark/quickstart/HiveSourceApp.scala
Labels: BUILD, BACKEND, FLINK, SPARK

delete streampark-spark-quickstart module
  streampark-spark/pom.xml
  streampark-spark/streampark-spark-quickstart/assembly.xml
  streampark-spark/streampark-spark-quickstart/assembly/conf/application.yml
  streampark-spark/streampark-spark-quickstart/assembly/lib/.gitkeep
  streampark-spark/streampark-spark-quickstart/assembly/logs/.gitkeep
  streampark-spark/streampark-spark-quickstart/assembly/temp/.gitkeep
  streampark-spark/streampark-spark-quickstart/src/main/resources/logback.xml
  streampark-spark/streampark-spark-quickstart/src/main/scala/org/apache/streampark/spark/quickstart/HiveSourceApp.scala
Labels: BUILD, SPARK

[Improve] shaded log4j dependencies (#2616)
  pom.xml
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigConst.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/ClassLoaderUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/FileUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/Logger.scala
  streampark-console/streampark-console-service/pom.xml
  streampark-flink/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeApplicationClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/KubernetesNativeClientTrait.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/pom.xml
  streampark-shade/pom.xml
  streampark-shaded/pom.xml
  streampark-shaded/streampark-shaded-jackson/pom.xml
  streampark-shaded/streampark-shaded-slf4j/pom.xml
  streampark-spark/pom.xml
  streampark-spark/streampark-spark-core/src/main/resources/application.properties
  streampark-spark/streampark-spark-core/src/main/resources/spark-firemonitor
  streampark-spark/streampark-spark-core/src/main/resources/spark-rpcdemo
  streampark-spark/streampark-spark-core/src/main/resources/start-firemonitor-server.sh
  streampark-spark/streampark-spark-core/src/main/resources/start-rpcdemo-server.sh
  streampark-spark/streampark-spark-core/src/main/resources/stop-firemonitor-server.sh
  streampark-spark/streampark-spark-core/src/main/resources/stop-rpcdemo-server.sh
  streampark-spark/streampark-spark-core/src/main/scala/org/apache/streampark/spark/core/Spark.scala
  streampark-spark/streampark-spark-core/src/main/scala/org/apache/streampark/spark/core/SparkBatch.scala
Labels: BUILD, BACKEND, FLINK, SPARK

[Improve] log4j shaded module improvement
  .github/workflows/maven.yml
  build.sh
  pom.xml
  streampark-common/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeApplicationClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/KubernetesNativeClientTrait.scala
  streampark-shade/pom.xml
  streampark-shaded/pom.xml
  streampark-shaded/streampark-shaded-jackson/pom.xml
  streampark-shaded/streampark-shaded-slf4j/pom.xml
Labels: INFRA, BUILD, BACKEND, FLINK

KubernetesNativeClientTrait bug fixed
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/KubernetesNativeClientTrait.scala
Labels: FLINK

[Improve] rename log4j shaded module
  pom.xml
  streampark-common/pom.xml
  streampark-common/src/main/scala/org/apache/streampark/common/util/Logger.scala
  streampark-console/streampark-console-service/pom.xml
  streampark-shaded/pom.xml
  streampark-shaded/streampark-shaded-logback/pom.xml
  streampark-spark/streampark-spark-cli/create_app.sh
Labels: BUILD, BACKEND, SPARK

[Improve] log4j shaded module improvement (#2617)
  .github/workflows/maven.yml
  build.sh
  pom.xml
  streampark-common/pom.xml
  streampark-common/src/main/scala/org/apache/streampark/common/util/Logger.scala
  streampark-console/streampark-console-service/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeApplicationClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/KubernetesNativeClientTrait.scala
  streampark-shade/pom.xml
  streampark-shaded/pom.xml
  streampark-shaded/streampark-shaded-jackson/pom.xml
  streampark-shaded/streampark-shaded-logback/pom.xml
  streampark-spark/streampark-spark-cli/create_app.sh
Labels: INFRA, BUILD, BACKEND, FLINK, SPARK

Modify the scheduling cycle and triggering conditions of CodeQl
  .github/workflows/codeql-analysis.yml
Labels: INFRA

Modify the scheduling cycle and triggering conditions of CodeQl (#2619)
  .github/workflows/codeql-analysis.yml
Labels: INFRA

[Improve] Translate comments into English for FlinkAppState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/FlinkAppState.java
Labels: BACKEND

[Improve] Translate comments into English for FlinkAppState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/FlinkAppState.java
Labels: BACKEND

[Improve] Logger improvement
  streampark-common/src/main/scala/org/apache/streampark/common/util/Logger.scala
Labels: BACKEND

[Improve] Logger Improvement
  streampark-common/src/main/scala/org/apache/streampark/common/util/Logger.scala
Labels: BACKEND

[Improve] Logger improvement (#2624)
  streampark-common/src/main/scala/org/apache/streampark/common/util/Logger.scala
Labels: BACKEND

[improve] support auto format scala code with spotless plugin
  .scalafmt.conf
  pom.xml
  tools/checkstyle/scalastyle-config.xml
Labels: BUILD

[Improve] delete unused scala class
  streampark-spark/streampark-spark-core/src/main/scala/org/apache/streampark/spark/core/sink/EsSink.scala
  streampark-spark/streampark-spark-core/src/main/scala/org/apache/streampark/spark/core/sink/HBaseSink.scala
  streampark-spark/streampark-spark-core/src/main/scala/org/apache/streampark/spark/core/sink/MySQLSink.scala
  streampark-spark/streampark-spark-core/src/main/scala/org/apache/streampark/spark/core/sink/RedisSink.scala
  streampark-spark/streampark-spark-core/src/main/scala/org/apache/streampark/spark/core/sink/RichHBSink.scala
Labels: SPARK

Translate comments into English
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/FlinkAppState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/GitAuthorizedError.java
Labels: BACKEND

[Fix] format redis connector withe spotless plugin
  streampark-flink/streampark-flink-connector/streampark-flink-connector-redis/src/main/scala/org/apache/streampark/flink/connector/redis/bean/RedisContainer.scala
  streampark-flink/streampark-flink-connector/streampark-flink-connector-redis/src/main/scala/org/apache/streampark/flink/connector/redis/bean/RedisMapper.scala
  streampark-flink/streampark-flink-connector/streampark-flink-connector-redis/src/main/scala/org/apache/streampark/flink/connector/redis/bean/RedisTransaction.scala
  streampark-flink/streampark-flink-connector/streampark-flink-connector-redis/src/main/scala/org/apache/streampark/flink/connector/redis/conf/RedisConfig.scala
  streampark-flink/streampark-flink-connector/streampark-flink-connector-redis/src/main/scala/org/apache/streampark/flink/connector/redis/conf/RedisSinkConfigOption.scala
  streampark-flink/streampark-flink-connector/streampark-flink-connector-redis/src/main/scala/org/apache/streampark/flink/connector/redis/internal/Redis2PCSinkFunction.scala
  streampark-flink/streampark-flink-connector/streampark-flink-connector-redis/src/main/scala/org/apache/streampark/flink/connector/redis/internal/RedisSinkFunction.scala
  streampark-flink/streampark-flink-connector/streampark-flink-connector-redis/src/main/scala/org/apache/streampark/flink/connector/redis/sink/RedisSink.scala
Labels: FLINK

[Improve] add commitid of pr-2625 in git blame ignore
  .git-blame-ignore-revs
Labels: none

[Improve] spark app support user args
  streampark-spark/streampark-spark-core/src/main/scala/org/apache/streampark/spark/core/Spark.scala
Labels: SPARK

[Improve] add commitid of pr-2625 in git blame ignore (#2626)
  .git-blame-ignore-revs
Labels: none

code optimization
  streampark-spark/streampark-spark-core/src/main/scala/org/apache/streampark/spark/core/Spark.scala
Labels: SPARK

Update Spark.scala
  streampark-spark/streampark-spark-core/src/main/scala/org/apache/streampark/spark/core/Spark.scala
Labels: SPARK

[Improve] spark app support user args (#2627)
  streampark-spark/streampark-spark-core/src/main/scala/org/apache/streampark/spark/core/Spark.scala
Labels: SPARK

[Improve] Remove unused methods in the controller
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/MenuController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/UserController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/UserService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
Labels: BACKEND

[Improve] Remove unused classes
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/AuthenticationType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/AuthenticatorImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/LdapService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/ldap/LdapUserNotExistActionType.java
Labels: BACKEND

[Improve] Remove unused menus
  streampark-common/src/main/scala/org/apache/streampark/common/enums/CheckpointStorage.scala
  streampark-common/src/main/scala/org/apache/streampark/common/enums/RestartStrategy.scala
  streampark-common/src/main/scala/org/apache/streampark/common/enums/StateBackend.scala
Labels: BACKEND

code optimization
  streampark-common/pom.xml
  streampark-common/src/main/scala/org/apache/streampark/common/util/JsonUtils.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-api/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-core/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/src/main/java/org/apache/streampark/flink/connector/doris/internal/DorisSinkFunction.java
  streampark-flink/streampark-flink-connector/streampark-flink-connector-http/src/main/scala/org/apache/streampark/flink/connector/http/internal/HttpWriterTask.scala
  streampark-shaded/streampark-shaded-jackson/pom.xml
Labels: BUILD, BACKEND, FLINK

[Improve] mysql, postgresql, h2 menu data keep consistent #2595
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.1.0.sql
Labels: BUILD, BACKEND

[Improve] mysql, postgresql, h2 menu data keep consistent #2595
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.1.0.sql
Labels: BUILD, BACKEND

jackson dependency bug fixed
  pom.xml
  streampark-common/pom.xml
  streampark-common/src/main/scala/org/apache/streampark/common/util/Logger.scala
  streampark-console/streampark-console-service/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/SubmitRequest.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/src/main/java/org/apache/streampark/flink/connector/doris/bean/RespContent.java
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/src/main/java/org/apache/streampark/flink/connector/doris/internal/DorisStreamLoader.java
  streampark-flink/streampark-flink-proxy/src/main/scala/org/apache/streampark/flink/proxy/FlinkShimsProxy.scala
  streampark-shaded/pom.xml
  streampark-shaded/streampark-shaded-jackson/pom.xml
  streampark-shaded/streampark-shaded-slf4j/pom.xml
Labels: BUILD, BACKEND, FLINK

[Improve] Remove unused methods in the controller (#2628)
  pom.xml
  streampark-common/pom.xml
  streampark-common/src/main/scala/org/apache/streampark/common/enums/CheckpointStorage.scala
  streampark-common/src/main/scala/org/apache/streampark/common/enums/RestartStrategy.scala
  streampark-common/src/main/scala/org/apache/streampark/common/enums/StateBackend.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/JsonUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/Logger.scala
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/MenuController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/UserController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/AuthenticationType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/AuthenticatorImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/LdapService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/security/impl/ldap/LdapUserNotExistActionType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/UserService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
  streampark-flink/streampark-flink-client/streampark-flink-client-api/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/SubmitRequest.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/src/main/java/org/apache/streampark/flink/connector/doris/bean/RespContent.java
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/src/main/java/org/apache/streampark/flink/connector/doris/internal/DorisSinkFunction.java
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/src/main/java/org/apache/streampark/flink/connector/doris/internal/DorisStreamLoader.java
  streampark-flink/streampark-flink-connector/streampark-flink-connector-http/src/main/scala/org/apache/streampark/flink/connector/http/internal/HttpWriterTask.scala
  streampark-flink/streampark-flink-proxy/src/main/scala/org/apache/streampark/flink/proxy/FlinkShimsProxy.scala
  streampark-shaded/pom.xml
  streampark-shaded/streampark-shaded-jackson/pom.xml
  streampark-shaded/streampark-shaded-slf4j/pom.xml
Labels: BUILD, BACKEND, FLINK

[Improve] mysql, postgresql, h2 menu data keep consistent #2595
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.1.0.sql
Labels: BUILD, BACKEND

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"
