Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

limit 1
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/FlinkClusterMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ProjectMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/VariableMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/YarnQueueMapper.xml
Labels: BACKEND

修改本地配置
  streampark-console/streampark-console-service/src/main/resources/application-mysql.yml
Labels: BACKEND

[bug] fix the wrong duration value in webui
  streampark-console/streampark-console-webapp/src/utils/dateUtil.ts
Labels: WEB UI

[bug] fix the wrong duration value in webui (#2523)
  streampark-console/streampark-console-webapp/src/utils/dateUtil.ts
Labels: WEB UI

[hotfix] Add console module pid write operation back
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/StreamParkConsoleBootstrap.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/CommonUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/src/main/java/org/apache/streampark/flink/connector/doris/internal/DorisStreamLoader.java
Labels: BACKEND, FLINK

[Fixed] During the use of postgresql, the 'state' field in the 't_fli… (#2509)
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.1.0.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/FlinkClusterMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/FlinkSqlMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ProjectMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/VariableMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/YarnQueueMapper.xml
Labels: BUILD, BACKEND

[hotfix] Add console module pid write operation back (#2524)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/StreamParkConsoleBootstrap.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/CommonUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/src/main/java/org/apache/streampark/flink/connector/doris/internal/DorisStreamLoader.java
Labels: BACKEND, FLINK

修复调试时提示url与官网地址不符，无法跳转至官网页
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
Labels: BACKEND

Revert "自己本地环境配置"
  package-lock.json
  streampark-console/streampark-console-service/conf/core-site.xml
  streampark-console/streampark-console-service/conf/flink-conf.yaml
  streampark-console/streampark-console-service/conf/hdfs-site.xml
  streampark-console/streampark-console-service/conf/hive-env.sh
  streampark-console/streampark-console-service/conf/hive-site.xml
  streampark-console/streampark-console-service/conf/yarn-site.xml
  streamx-console-service-1.2.3/client/.gitkeep
  streamx-console-service-1.2.3/conf/ValidationMessages.properties
  streamx-console-service-1.2.3/conf/application.yml
  streamx-console-service-1.2.3/conf/core-site.xml
  streamx-console-service-1.2.3/conf/flink-conf.yaml
  streamx-console-service-1.2.3/conf/hdfs-site.xml
  streamx-console-service-1.2.3/conf/hive-env.sh
  streamx-console-service-1.2.3/conf/hive-site.xml
  streamx-console-service-1.2.3/conf/kerberos.yml
  streamx-console-service-1.2.3/conf/spy.properties
  streamx-console-service-1.2.3/conf/yarn-site.xml
  streamx-console-service-1.2.3/logs/.gitkeep
  streamx-console-service-1.2.3/plugins/.gitkeep
  streamx-console-service-1.2.3/script/final.sql
  streamx-console-service-1.2.3/script/upgrade.sql
  streamx-console-service-1.2.3/temp/.gitkeep
  streamx-console/streamx-console-service/src/main/resources/application.yml
Labels: BACKEND

Revert "修改本地配置"
  streampark-console/streampark-console-service/src/main/resources/application-mysql.yml
Labels: BACKEND

Delete tutorial backend code.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/TutorialController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Tutorial.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/TutorialMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/TutorialService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/TutorialServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/TutorialMapper.xml
Labels: BACKEND

delete
  streamx-console/streamx-console-service/src/main/resources/application.yml
Labels: none

u
  tools/checkstyle/checkstyle.xml
Labels: BUILD

Delete tutorial fe code.
  streampark-console/streampark-console-webapp/src/api/flink/notebook.ts
  streampark-console/streampark-console-webapp/src/views/flink/notebook/Submit.less
  streampark-console/streampark-console-webapp/src/views/flink/notebook/Submit.vue
Labels: WEB UI

added the changed sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.1.0.sql
Labels: BUILD, BACKEND

[Issue-2513][Polish] Delete tutorial backend code. (#2528)
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.1.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.1.0.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/TutorialController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Tutorial.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/TutorialMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/TutorialService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/TutorialServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/TutorialMapper.xml
  streampark-console/streampark-console-webapp/src/api/flink/notebook.ts
  streampark-console/streampark-console-webapp/src/views/flink/notebook/Submit.less
  streampark-console/streampark-console-webapp/src/views/flink/notebook/Submit.vue
Labels: BUILD, WEB UI, BACKEND

[bug] change flinksql to a history version does not take effect
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
Labels: WEB UI

[fix] When configuring or modifying the ingress domain name, the old jobs will not take effect
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SettingServiceImpl.java
Labels: BACKEND

fix
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkClientTrait.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkKubernetesClientTrait.scala
Labels: FLINK

fix call deleteIngress reverse (#2516)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
Labels: BACKEND, FLINK, KUBERNETES

[Improve][Issue-2522] remove required password in jwt
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/authentication/JWTUtil.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/authentication/ShiroRealm.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/PassportController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/AccessTokenServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/AccessTokenServiceTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/system/authentication/JWTTest.java
Labels: BACKEND

[bug] change flinksql to a history version does not take effect (#2531)
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
Labels: WEB UI

[Bug]Fix application Run Status incorrect(#2536)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/ReleaseState.java
Labels: BACKEND

[Feature] Support Flink 1.17 application submit (#2533)
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigConst.scala
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnApplicationClient.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/pipeline/BuildRequest.scala
  streampark-flink/streampark-flink-proxy/src/main/scala/org/apache/streampark/flink/proxy/FlinkShimsProxy.scala
  streampark-flink/streampark-flink-shims/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.17/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.17/src/main/scala/org/apache/streampark/flink/core/FlinkClusterClient.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.17/src/main/scala/org/apache/streampark/flink/core/FlinkKubernetesClient.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.17/src/main/scala/org/apache/streampark/flink/core/StreamTableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.17/src/main/scala/org/apache/streampark/flink/core/TableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.17/src/main/scala/org/apache/streampark/flink/core/TableExt.scala
Labels: BUILD, BACKEND, FLINK

[Improve] flink shims regexp pattern imporvement
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigConst.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnApplicationClient.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/pipeline/BuildRequest.scala
  streampark-flink/streampark-flink-proxy/src/main/scala/org/apache/streampark/flink/proxy/FlinkShimsProxy.scala
Labels: BACKEND, FLINK

[Improve] flink shims regexp pattern imporvement (#2540)
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigConst.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnApplicationClient.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/pipeline/BuildRequest.scala
  streampark-flink/streampark-flink-proxy/src/main/scala/org/apache/streampark/flink/proxy/FlinkShimsProxy.scala
Labels: BACKEND, FLINK

[Hotfix] Fix the redundant deleteIngress calling when 'doTriggerSavepoint' for k8s.
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/KubernetesNativeClientTrait.scala
Labels: FLINK

[Hotfix] Fix the redundant deleteIngress calling when 'doTriggerSavepoint' for k8s. (#2543)
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/KubernetesNativeClientTrait.scala
Labels: FLINK

[Feature][flink-k8s] Refactor event and enums package
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/FlinkAppState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sChangeEventListener.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sWatcherWrapper.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeSessionClient.scala
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/enums/FlinkJobState.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/enums/FlinkK8sExecuteMode.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/event/BuildInEvent.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/event/FlinkClusterMetricChangeEvent.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/event/FlinkJobCheckpointChangeEvent.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/event/FlinkJobStateEvent.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/event/FlinkJobStatusChangeEvent.java
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/DefaultFlinkK8sWatcher.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/FlinkK8sWatcher.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/FlinkK8sWatcherLazyStartAop.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/KubernetesRetriever.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/enums/FlinkJobState.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/enums/FlinkK8sExecuteMode.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/model/ClusterKey.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/model/JobStatusCV.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/model/TrackId.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkCheckpointWatcher.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkMetricsWatcher.scala
Labels: BACKEND, FLINK, KUBERNETES

[Feature][flink-k8s] Correct package name
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/FlinkAppState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sChangeEventListener.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sWatcherWrapper.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/ChangeEventBus.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/KubernetesRetriever.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/PodTemplatePool.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/TrackConfig.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/enums/FlinkJobState.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/enums/FlinkK8sExecuteMode.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/event/BuildInEvent.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/event/FlinkClusterMetricChangeEvent.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/event/FlinkJobCheckpointChangeEvent.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/event/FlinkJobStateEvent.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/event/FlinkJobStatusChangeEvent.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/helper/KubernetesDeploymentHelper.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/model/CheckpointCV.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/model/ClusterKey.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/model/FlinkMetricCV.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/model/JobStatusCV.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/model/K8sDeploymentEventCV.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/model/K8sEventKey.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/model/K8sPodTemplates.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/model/TrackId.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/watcher/FlinkCheckpointWatcher.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/watcher/FlinkWatcher.java
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkCheckpointWatcher.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
Labels: BACKEND, FLINK, KUBERNETES

[Feature][flink-k8s] Refactor watcher package
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/FlinkK8sWatchController.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/FlinkK8sWatcherFactory.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/cache/CacheKey.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/cache/EndpointCache.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/cache/JobStatusCache.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/cache/K8sDeploymentEventCache.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/cache/MetricCache.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/cache/TrackIdCache.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/model/ClusterKey.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/model/TrackId.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/watcher/FlinkCheckpointWatcher.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/watcher/FlinkK8sEventWatcher.java
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/FlinkK8sWatchController.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkCheckpointWatcher.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkK8sEventWatcher.scala
Labels: FLINK, KUBERNETES

[Feature][flink-k8s] Refactor watcher package
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sWatcherWrapper.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/model/JobStatusCV.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/model/TrackId.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.java
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkWatcher.scala
Labels: BACKEND, FLINK, KUBERNETES

[Feature][flink-k8s] Refactor KubernetesRetriever
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sWatcherWrapper.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/KubernetesRetriever.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/enums/FlinkK8sExecuteMode.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/event/BuildInEvent.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/event/FlinkClusterMetricChangeEvent.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/event/FlinkJobCheckpointChangeEvent.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/event/FlinkJobStateEvent.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/helper/KubernetesDeploymentHelper.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/model/ClusterKey.java
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/KubernetesRetriever.scala
Labels: BACKEND, FLINK, KUBERNETES

[Feature][flink-k8s] Refactor kubernetes package
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/ChangeEventBus.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/PodTemplatePool.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/TrackConfig.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/event/FlinkClusterMetricChangeEvent.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/event/FlinkJobStateEvent.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/event/FlinkJobStatusChangeEvent.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/helper/KubernetesDeploymentHelper.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/watcher/FlinkCheckpointWatcher.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/watcher/FlinkWatcher.java
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/ChangeEventBus.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/PodTemplateTool.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/TrackConfig.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/helper/KubernetesDeploymentHelper.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
Labels: FLINK, KUBERNETES

[Feature][flink-k8s] Refactor model package
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/KubernetesRetriever.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/model/CheckpointCV.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/model/FlinkMetricCV.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/model/JobStatusCV.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/model/K8sDeploymentEventCV.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/model/K8sEventKey.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/model/K8sPodTemplates.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/flink/kubernetes/model/TrackId.java
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/KubernetesRetriever.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/model/CheckpointCV.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/model/ClusterKey.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/model/FlinkMetricCV.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/model/JobStatusCV.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/model/K8sPodTemplates.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/model/TrackId.scala
Labels: FLINK, KUBERNETES

[Feature][flink-k8s] Add PodTemplateParser
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/PodTemplateParser.java
Labels: FLINK, KUBERNETES

[Feature][flink-k8s] Refactor Kubernetes package
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sChangeEventListener.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sWatcherWrapper.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/DefaultFlinkK8sWatcher.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/FlinkK8sWatcher.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/FlinkK8sWatcherFactory.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/IngressController.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/KubernetesRetriever.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/PodTemplateParser.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/PodTemplatePool.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/helper/KubernetesDeploymentHelper.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/model/TrackId.java
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/DefaultFlinkK8sWatcher.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/FlinkK8sWatcher.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/FlinkK8sWatcherLazyStartAop.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/IngressController.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/PodTemplateParser.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkCheckpointWatcher.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkMetricsWatcher.scala
Labels: BACKEND, FLINK, KUBERNETES

[Feature][flink-k8s] Refactor watcher package
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/watcher/FlinkMetricsWatcher.java
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.scala
Labels: FLINK, KUBERNETES

[Feature][flink-k8s] fix compile error
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeSessionClient.scala
Labels: FLINK

[Fix] fix on k8s application status error
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/FlinkK8sWatcherFactory.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/FlinkK8sWatcherLazyStarter.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/IngressController.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/cache/CacheKey.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/model/ClusterKey.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/watcher/FlinkCheckpointWatcher.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/watcher/FlinkJobStatusWatcher.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/watcher/FlinkK8sEventWatcher.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/watcher/FlinkMetricsWatcher.java
  streampark-flink/streampark-flink-kubernetes/src/main/java/org/apache/streampark/flink/kubernetes/watcher/FlinkWatcher.java
Labels: FLINK, KUBERNETES

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"
