Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"

edit database service to private
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/DatabaseController.java
Labels: BACKEND

Update FlinkCatalogMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/FlinkCatalogMapper.xml
Labels: BACKEND

[Improve] query sql bug fixed.
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ResourceMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/SparkApplicationMapper.xml
Labels: BACKEND

[Fix] Upload Flink App jar got "flink app jar must exist" error on windows (#4052) (#4053)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Resource.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
Labels: BACKEND

[fixed] fixed envsetting unload flink-conf.yaml,if not like catalogstore conf will not work
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkTableInitializer.scala
Labels: FLINK

[Improve] read flinkConf bug fixed.
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkStreamingInitializer.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkTableInitializer.scala
Labels: FLINK

[Improve] get flink default conf improvements
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkStreamingInitializer.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkTableInitializer.scala
Labels: FLINK

[Improve] scala map bug fixed.
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkStreamingInitializer.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkTableInitializer.scala
Labels: FLINK

[Improve] scala map bug fixed.
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkStreamingInitializer.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkTableInitializer.scala
Labels: FLINK

[Improve] flink-webui icon style improvements
  streampark-console/streampark-console-webapp/src/views/flink/app/Detail.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppResize.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useSavepoint.tsx
Labels: WEB UI

[Bug] load flink-conf bug fixed. (#4109)
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkStreamingInitializer.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkTableInitializer.scala
Labels: FLINK

[Improve] load flink-config minor improvements
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkStreamingInitializer.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkTableInitializer.scala
Labels: FLINK

[Improve] app backup minor improvements
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationBackUpServiceImpl.java
Labels: BACKEND

[Improve] project state style improvements
  streampark-console/streampark-console-webapp/src/views/flink/project/View.vue
Labels: WEB UI

[Bug] When launching a job on a Kubernetes cluster on Windows using an IDE, the job status cannot be properly updated. #4112
  streampark-flink/streampark-flink-kubernetes/pom.xml
Labels: BUILD, FLINK, KUBERNETES

[Bug] When initializing MySQL table data, Duplicate entry.
  streampark-console/streampark-console-service/src/main/assembly/script/data/mysql-data.sql
Labels: BUILD, BACKEND

[WIP] update quickstart in README (#3968)
  README.md
  streampark.sh
Labels: DOCS

Update README.md
  README.md
Labels: DOCS

Update README.md (#4118)
  README.md
Labels: DOCS

change conf
  streampark-console/streampark-console-registry/streampark-registry-api/src/main/java/org/apache/streampark/registry/api/RegistryClient.java
  streampark-console/streampark-console-registry/streampark-registry-core/src/test/resources/application-mysql.yaml
  streampark-console/streampark-console-registry/streampark-registry-core/src/test/resources/application-postgresql.yaml
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/registry/ConsoleRegistryClient.java
  streampark-console/streampark-console-service/src/test/resources/application-test.yml
Labels: BUILD, BACKEND

[Improve] query sql bug fixed. (#4106)
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ResourceMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/SparkApplicationMapper.xml
Labels: BACKEND

[Common] Fix ClassLoaderUtils dynamic classpath on JDK 9+
  streampark-common/pom.xml
  streampark-common/src/main/scala/org/apache/streampark/common/util/ClassLoaderUtils.scala
  streampark-common/src/test/scala/org/apache/streampark/common/util/ClassLoaderUtilsTest.scala
Labels: BUILD, BACKEND

[Console] JDK 11 runtime readiness for StreamPark Console
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/assembly/bin/jvm_opts.sh
  streampark-console/streampark-console-service/src/main/assembly/bin/setclasspath.sh
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
  streampark-console/streampark-console-service/src/main/assembly/conf/streampark-env.sh
  streampark-console/streampark-console-service/src/main/assembly/script/JDK_UPGRADE_GUIDE.md
Labels: BUILD, BACKEND

[Build] Raise StreamPark compile and CI baseline to JDK 11
  .github/workflows/backend.yml
  .github/workflows/docker-push.yml
  .github/workflows/e2e.yml
  .github/workflows/unit-test.yml
  docker/Dockerfile
  pom.xml
  streampark-e2e/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch5/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch6/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch7/pom.xml
  streampark-spark/streampark-spark-cli/create_app.sh
  tools/checkstyle/spotless_streampark_formatter.xml
Labels: INFRA, BUILD, FLINK, SPARK

[Build][E2E] Fix JDK 11 MavenWrapper and stabilize local basic E2E
  mvnw
  streampark-console/streampark-console-service/src/main/assembly/assembly.xml
  streampark-console/streampark-console-service/src/main/assembly/bin/mvnw
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/ProjectsManagementTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/common/CommonFactory.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/resource/ProjectsPage.java
  streampark-e2e/streampark-e2e-case/src/test/resources/docker/basic/gitconfig
  streampark-e2e/streampark-e2e-core/src/main/java/org/apache/streampark/e2e/core/StreamParkExtension.java
  streampark-e2e/streampark-e2e-core/src/main/resources/docker-java.properties
Labels: BUILD, BACKEND

[Spark] Baseline Spark 3.5+ and add Spark 4.x support
  pom.xml
  streampark-common/src/main/java/org/apache/streampark/common/conf/SparkVersion.java
  streampark-common/src/main/java/org/apache/streampark/common/util/SparkEnvUtils.java
  streampark-common/src/test/java/org/apache/streampark/common/conf/SparkVersionTest.java
  streampark-common/src/test/java/org/apache/streampark/common/util/SparkEnvUtilsTest.java
  streampark-console/streampark-console-webapp/src/locales/lang/en/spark/home.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/spark/home.ts
  streampark-spark/streampark-spark-client/streampark-spark-client-api/src/main/java/org/apache/streampark/spark/client/proxy/SparkShimsProxy.java
  streampark-spark/streampark-spark-client/streampark-spark-client-core/src/main/java/org/apache/streampark/spark/client/impl/YarnClient.java
Labels: BUILD, WEB UI, BACKEND, SPARK

[Console] Exclude webapp-v2 from RAT check to fix CI license header
  .licenserc.yaml
  pom.xml
Labels: INFRA, BUILD

[Console] Clean up webapp-v2 comments: English only, remove redundant
  streampark-console/streampark-console-webapp-v2/build/autoProxy.ts
  streampark-console/streampark-console-webapp-v2/src/components/common/IconSelect.vue
  streampark-console/streampark-console-webapp-v2/src/components/common/NaiveProvider.vue
  streampark-console/streampark-console-webapp-v2/src/components/common/Pagination.vue
  streampark-console/streampark-console-webapp-v2/src/components/custom/Editor/RichTextEditor/index.vue
  streampark-console/streampark-console-webapp-v2/src/components/custom/PcaCascader.vue
  streampark-console/streampark-console-webapp-v2/src/hooks/useBoolean.ts
  streampark-console/streampark-console-webapp-v2/src/layouts/components/header/Search.vue
  streampark-console/streampark-console-webapp-v2/src/modules/assets.ts
  streampark-console/streampark-console-webapp-v2/src/modules/directives.ts
  streampark-console/streampark-console-webapp-v2/src/router/index.ts
  streampark-console/streampark-console-webapp-v2/src/router/routes.inner.ts
  streampark-console/streampark-console-webapp-v2/src/service/http/config.ts
  streampark-console/streampark-console-webapp-v2/src/store/app/index.ts
  streampark-console/streampark-console-webapp-v2/src/store/dict.ts
  streampark-console/streampark-console-webapp-v2/src/store/tab.ts
  streampark-console/streampark-console-webapp-v2/src/styles/naive.css
  streampark-console/streampark-console-webapp-v2/src/typings/api/login.d.ts
  streampark-console/streampark-console-webapp-v2/src/typings/entities/dict.d.ts
  streampark-console/streampark-console-webapp-v2/src/typings/entities/message.d.ts
  streampark-console/streampark-console-webapp-v2/src/typings/entities/role.d.ts
  streampark-console/streampark-console-webapp-v2/src/typings/entities/user.d.ts
  streampark-console/streampark-console-webapp-v2/src/typings/env.d.ts
  streampark-console/streampark-console-webapp-v2/src/typings/global.d.ts
  streampark-console/streampark-console-webapp-v2/src/typings/route.d.ts
  streampark-console/streampark-console-webapp-v2/src/typings/service.d.ts
  streampark-console/streampark-console-webapp-v2/src/utils/array.ts
  streampark-console/streampark-console-webapp-v2/src/utils/cache/memory.ts
  streampark-console/streampark-console-webapp-v2/src/utils/normalize.ts
  streampark-console/streampark-console-webapp-v2/src/utils/storage.ts
  streampark-console/streampark-console-webapp-v2/types/global.d.ts
Labels: none

[Build] Bump project version to 3.0.0-preview for StreamPark 3.0
  build.sh
  pom.xml
Labels: BUILD

[Build] Bump common module version to 3.0.0-preview
  streampark-common/pom.xml
  streampark-common/src/main/java/org/apache/streampark/common/util/Utils.java
  streampark-shaded/pom.xml
Labels: BUILD, BACKEND

[Build] Bump Spark module version to 3.0.0-preview
  streampark-spark/pom.xml
  streampark-spark/streampark-spark-cli/pom.xml
  streampark-spark/streampark-spark-client/pom.xml
  streampark-spark/streampark-spark-client/streampark-spark-client-api/pom.xml
  streampark-spark/streampark-spark-client/streampark-spark-client-core/pom.xml
  streampark-spark/streampark-spark-connector/pom.xml
  streampark-spark/streampark-spark-connector/streampark-spark-connector-base/pom.xml
  streampark-spark/streampark-spark-connector/streampark-spark-connector-kafka/pom.xml
  streampark-spark/streampark-spark-core/pom.xml
  streampark-spark/streampark-spark-sqlclient/pom.xml
Labels: BUILD, SPARK

[Build] Bump Flink module version to 3.0.0-preview
  streampark-flink/pom.xml
  streampark-flink/streampark-flink-client/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-api/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-core/pom.xml
  streampark-flink/streampark-flink-connector/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-base/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-clickhouse/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch5/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch6/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch7/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-hbase/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-http/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-influx/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-jdbc/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-kafka/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-mongo/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-redis/pom.xml
  streampark-flink/streampark-flink-core/pom.xml
  streampark-flink/streampark-flink-kubernetes/pom.xml
  streampark-flink/streampark-flink-packer/pom.xml
  streampark-flink/streampark-flink-proxy/pom.xml
  streampark-flink/streampark-flink-shims/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base-v2/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-test/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.17/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.18/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.19/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.20/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-2.0/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-2.1/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-2.2/pom.xml
  streampark-flink/streampark-flink-sqlclient/pom.xml
  streampark-flink/streampark-flink-udf/pom.xml
Labels: BUILD, FLINK, KUBERNETES

[Console] Fix missing HTTP deps and bump version to 3.0.0-preview
  streampark-console/pom.xml
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/runner/StartedUpRunner.java
  streampark-console/streampark-console-webapp-v2/package.json
  streampark-console/streampark-console-webapp/package.json
Labels: BUILD, WEB UI, BACKEND

[Common] Fix Sonar security findings after Scala-to-Java migration
  streampark-common/src/main/java/org/apache/streampark/common/fs/LfsOperator.java
  streampark-common/src/main/java/org/apache/streampark/common/util/DeflaterUtils.java
  streampark-common/src/main/java/org/apache/streampark/common/util/HdfsUtils.java
  streampark-common/src/main/java/org/apache/streampark/common/util/JdbcUtils.java
  streampark-common/src/main/java/org/apache/streampark/common/util/StreamParkLoggerFactory.java
  streampark-common/src/main/java/org/apache/streampark/common/util/YarnUtils.java
  streampark-common/src/main/java/org/apache/streampark/common/util/ZooKeeperUtils.java
Labels: BACKEND

[Flink] Fix Sonar security findings in Flink modules
  streampark-flink/streampark-flink-connector/streampark-flink-connector-clickhouse/src/main/java/org/apache/streampark/flink/connector/clickhouse/internal/ClickHouseSinkFunction.java
  streampark-flink/streampark-flink-packer/src/main/java/org/apache/streampark/flink/packer/pipeline/impl/FlinkYarnApplicationBuildPipeline.java
  streampark-flink/streampark-flink-packer/src/main/java/org/apache/streampark/flink/packer/pipeline/impl/SparkYarnBuildPipeline.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base-v2/src/main/java/org/apache/streampark/flink/core/conf/ParameterCli.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/java/org/apache/streampark/flink/core/conf/ParameterCli.java
Labels: FLINK

[Common] Fix Sonar security findings for path handling and debug output
  streampark-common/src/main/java/org/apache/streampark/common/util/FileUtils.java
  streampark-common/src/main/java/org/apache/streampark/common/util/PropertiesUtils.java
  streampark-common/src/main/java/org/apache/streampark/common/util/Utils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/WebUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/FlinkApplicationManageServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/SparkApplicationManageServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-flink/streampark-flink-connector/streampark-flink-connector-clickhouse/src/main/java/org/apache/streampark/flink/connector/clickhouse/internal/ClickHouseSinkFunction.java
  streampark-flink/streampark-flink-packer/src/main/java/org/apache/streampark/flink/packer/pipeline/impl/FlinkYarnApplicationBuildPipeline.java
  streampark-flink/streampark-flink-packer/src/main/java/org/apache/streampark/flink/packer/pipeline/impl/SparkYarnBuildPipeline.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/java/org/apache/streampark/flink/core/conf/ParameterCli.java
Labels: BACKEND, FLINK

[Common] Harden path validation and fix Sonar reliability findings
  streampark-common/src/main/java/org/apache/streampark/common/util/AutoCloseUtils.java
  streampark-common/src/main/java/org/apache/streampark/common/util/DateUtils.java
  streampark-common/src/main/java/org/apache/streampark/common/util/FileUtils.java
  streampark-common/src/main/java/org/apache/streampark/common/util/PropertiesUtils.java
  streampark-common/src/main/java/org/apache/streampark/common/util/Utils.java
  streampark-flink/streampark-flink-connector/streampark-flink-connector-clickhouse/src/main/java/org/apache/streampark/flink/connector/clickhouse/internal/ClickHouseSinkFunction.java
Labels: BACKEND, FLINK

[Common] Address Sonar path injection review comments
  streampark-common/src/main/java/org/apache/streampark/common/util/FileUtils.java
  streampark-common/src/main/java/org/apache/streampark/common/util/PropertiesUtils.java
  streampark-common/src/main/java/org/apache/streampark/common/util/SafePathUtils.java
  streampark-common/src/main/java/org/apache/streampark/common/util/Utils.java
  streampark-flink/streampark-flink-connector/streampark-flink-connector-clickhouse/src/main/java/org/apache/streampark/flink/connector/clickhouse/internal/ClickHouseSinkFunction.java
  streampark-flink/streampark-flink-packer/src/main/java/org/apache/streampark/flink/packer/pipeline/impl/FlinkYarnApplicationBuildPipeline.java
  streampark-flink/streampark-flink-packer/src/main/java/org/apache/streampark/flink/packer/pipeline/impl/SparkYarnBuildPipeline.java
Labels: BACKEND, FLINK

[Common] Fix Sonar path I/O taint and reliability findings
  sonar-project.properties
  streampark-common/src/main/java/org/apache/streampark/common/util/FileUtils.java
  streampark-common/src/main/java/org/apache/streampark/common/util/RedisClient.java
  streampark-common/src/main/java/org/apache/streampark/common/util/RedisEndpoint.java
  streampark-common/src/main/java/org/apache/streampark/common/util/SafePathUtils.java
  streampark-common/src/main/java/org/apache/streampark/common/util/Utils.java
Labels: BACKEND

[Common] Add NOSONAR for validated config/jar path I/O
  streampark-common/src/main/java/org/apache/streampark/common/util/SafePathUtils.java
Labels: BACKEND
