Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

fix: app create err & fix type error
  streampark-console/streampark-console-webapp/src/api/flink/setting/types/flinkEnv.type.ts
  streampark-console/streampark-console-webapp/src/api/system/user.ts
  streampark-console/streampark-console-webapp/src/components/Form/src/components/FormItem.vue
  streampark-console/streampark-console-webapp/src/components/Form/src/helper.ts
  streampark-console/streampark-console-webapp/src/components/Icon/src/IconPicker.vue
  streampark-console/streampark-console-webapp/src/components/Modal/src/components/ModalWrapper.vue
  streampark-console/streampark-console-webapp/src/components/Page/src/PageWrapper.vue
  streampark-console/streampark-console-webapp/src/components/Scrollbar/src/Scrollbar.vue
  streampark-console/streampark-console-webapp/src/components/SimpleMenu/src/SimpleMenu.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/BasicTable.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/components/TableAction.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/components/editable/EditableCell.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/hooks/useDataSource.ts
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/notify/NoticeList.vue
  streampark-console/streampark-console-webapp/src/locales/useLocale.ts
  streampark-console/streampark-console-webapp/src/store/modules/lock.ts
  streampark-console/streampark-console-webapp/src/utils/bem.ts
  streampark-console/streampark-console-webapp/src/utils/http/axios/Axios.ts
  streampark-console/streampark-console-webapp/src/utils/props.ts
  streampark-console/streampark-console-webapp/src/views/base/login/LoginSlogan.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useSavepoint.tsx
  streampark-console/streampark-console-webapp/src/views/flink/resource/components/ResourceDrawer.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
  streampark-console/streampark-console-webapp/types/store.d.ts
Labels: WEB UI

build: engines
  streampark-console/streampark-console-webapp/package.json
Labels: WEB UI

[Feature] Flink remote support pyflink maven dependency
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/pipeline/impl/FlinkRemoteBuildPipeline.scala
Labels: BACKEND, FLINK

fix: app create err & fix type error (#3123)
  streampark-console/streampark-console-webapp/package.json
  streampark-console/streampark-console-webapp/src/api/flink/setting/types/flinkEnv.type.ts
  streampark-console/streampark-console-webapp/src/api/system/user.ts
  streampark-console/streampark-console-webapp/src/components/Form/src/components/FormItem.vue
  streampark-console/streampark-console-webapp/src/components/Form/src/helper.ts
  streampark-console/streampark-console-webapp/src/components/Icon/src/IconPicker.vue
  streampark-console/streampark-console-webapp/src/components/Modal/src/components/ModalWrapper.vue
  streampark-console/streampark-console-webapp/src/components/Page/src/PageWrapper.vue
  streampark-console/streampark-console-webapp/src/components/Scrollbar/src/Scrollbar.vue
  streampark-console/streampark-console-webapp/src/components/SimpleMenu/src/SimpleMenu.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/BasicTable.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/components/TableAction.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/components/editable/EditableCell.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/hooks/useDataSource.ts
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/notify/NoticeList.vue
  streampark-console/streampark-console-webapp/src/locales/useLocale.ts
  streampark-console/streampark-console-webapp/src/store/modules/lock.ts
  streampark-console/streampark-console-webapp/src/utils/bem.ts
  streampark-console/streampark-console-webapp/src/utils/http/axios/Axios.ts
  streampark-console/streampark-console-webapp/src/utils/props.ts
  streampark-console/streampark-console-webapp/src/views/base/login/LoginSlogan.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useSavepoint.tsx
  streampark-console/streampark-console-webapp/src/views/flink/resource/components/ResourceDrawer.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
  streampark-console/streampark-console-webapp/types/store.d.ts
Labels: WEB UI

[Improve] project clone openssh higher version improvement
  dist-material/release-docs/LICENSE
  streampark-common/src/main/scala/org/apache/streampark/common/util/SystemPropertyUtils.scala
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/GitUtils.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
Labels: BUILD, BACKEND

[Improve] project clone openssh higher version improvement (#3125)
  dist-material/release-docs/LICENSE
  streampark-common/src/main/scala/org/apache/streampark/common/util/SystemPropertyUtils.scala
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/GitUtils.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
Labels: BUILD, BACKEND

[Improve] Improve streampark-console module base on [3.2 Constant Variables Definition] (#3121)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/CommonUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/FreemarkerUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/WebUtils.java
Labels: BACKEND

[Improve][All] Improvement of StringUtils.isEmpty method
  streampark-common/src/main/java/org/apache/streampark/common/enums/StorageType.java
  streampark-common/src/main/scala/org/apache/streampark/common/util/PropertiesUtils.scala
  streampark-common/src/test/scala/org/apache/streampark/common/util/PropertiesUtilsTestCase.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/GitUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenPom.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkPodTemplateController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkEnv.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/VariableServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/YarnQueueServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkHttpWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/utils/YarnQueueLabelExpression.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/PassportController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/AccessTokenServiceImpl.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/src/main/java/org/apache/streampark/flink/connector/doris/internal/DorisSinkFunction.java
Labels: BACKEND, FLINK

[Improve] project page improvement
  streampark-console/streampark-console-webapp/src/assets/icons/http.svg
  streampark-console/streampark-console-webapp/src/assets/icons/net.svg
  streampark-console/streampark-console-webapp/src/assets/icons/ssh.svg
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/project.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/project.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StopApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/components/RepositoryGroup.tsx
Labels: WEB UI

[Improve][All] Improvement of StringUtils.isEmpty method (#3126)
  streampark-common/src/main/java/org/apache/streampark/common/enums/StorageType.java
  streampark-common/src/main/scala/org/apache/streampark/common/util/PropertiesUtils.scala
  streampark-common/src/test/scala/org/apache/streampark/common/util/PropertiesUtilsTestCase.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/GitUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenPom.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkPodTemplateController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkEnv.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/VariableServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/YarnQueueServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkHttpWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/utils/YarnQueueLabelExpression.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/PassportController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/AccessTokenServiceImpl.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/src/main/java/org/apache/streampark/flink/connector/doris/internal/DorisSinkFunction.java
Labels: BACKEND, FLINK

[Feature] StreamPark Autonomous Health Probing
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/AlertTemplate.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/ApplicationManageService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/AutoHealthProbingTask.java
Labels: BACKEND

[Feature] StreamPark Autonomous Health Probing
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/OptionState.java
Labels: BACKEND

[Feature] StreamPark Autonomous Health Probing
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/AlertServiceImpl.java
Labels: BACKEND

[Feature] StreamPark Autonomous Health Probing
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkHttpWatcher.java
Labels: BACKEND

[Feature] StreamPark Autonomous Health Probing
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-dingTalk.ftl
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-email.ftl
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-lark.ftl
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-weCom.ftl
Labels: BACKEND

[Improve] project build minor improve
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/ProjectBuildTask.java
Labels: BACKEND

[Bug] app start bug fixed.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
Labels: BACKEND

[Improve] project page improvement (#3127)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/ProjectBuildTask.java
  streampark-console/streampark-console-webapp/src/assets/icons/http.svg
  streampark-console/streampark-console-webapp/src/assets/icons/net.svg
  streampark-console/streampark-console-webapp/src/assets/icons/ssh.svg
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/project.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/project.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StopApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/components/RepositoryGroup.tsx
Labels: WEB UI, BACKEND

[Bug] project build bug fixed
  dist-material/release-docs/LICENSE
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/GitUtils.java
  streampark-console/streampark-console-webapp/src/api/system/user.ts
  streampark-console/streampark-console-webapp/src/assets/icons/http.svg
  streampark-console/streampark-console-webapp/src/assets/icons/ssh.svg
  streampark-console/streampark-console-webapp/src/components/Application/src/AppDarkModeToggle.vue
  streampark-console/streampark-console-webapp/src/components/ContextMenu/src/ContextMenu.vue
  streampark-console/streampark-console-webapp/src/components/Form/src/BasicForm.vue
  streampark-console/streampark-console-webapp/src/components/Icon/src/SvgIcon.vue
  streampark-console/streampark-console-webapp/src/components/Page/src/PageFooter.vue
  streampark-console/streampark-console-webapp/src/hooks/web/useLockPage.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/project.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/yarnQueue.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/user.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/project.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/setting/yarnQueue.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/user.ts
  streampark-console/streampark-console-webapp/src/utils/props.ts
  streampark-console/streampark-console-webapp/src/views/base/login/Login.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StopApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/utils/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/project/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/Edit.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/components/LogModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/components/RepositoryGroup.tsx
  streampark-console/streampark-console-webapp/src/views/setting/Alarm/components/AlertModal.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
  streampark-console/streampark-console-webapp/src/views/system/user/user.data.ts
Labels: BUILD, WEB UI, BACKEND

[Improve] update Copyright year to 2023
  streampark-console/streampark-console-webapp/src/views/base/login/Login.vue
Labels: WEB UI

[Improve] build project find tar|jar improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/ProjectBuildTask.java
Labels: BACKEND

[Feature] StreamPark Autonomous Health Probing (#3036)
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/mysql/2.2.0.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.2.0.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/AlertProbeMsg.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/AlertTemplate.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/FlinkAppState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ApplicationMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/ApplicationManageService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationManageServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/AutoHealthProbingTask.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkHttpWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sChangeEventListener.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sWatcherWrapper.java
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-dingTalk.ftl
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-email.ftl
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-lark.ftl
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-weCom.ftl
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
  streampark-console/streampark-console-webapp/src/enums/flinkEnum.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/State.less
  streampark-console/streampark-console-webapp/src/views/flink/app/components/State.tsx
Labels: BUILD, WEB UI, BACKEND

Modify FlinkRemoteBuildPipeline
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/pipeline/impl/FlinkRemoteBuildPipeline.scala
Labels: FLINK

[Improve] application state improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/annotation/AppUpdated.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/aspect/StreamParkAspect.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/AlertProbeMsg.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationManageServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkAppHttpWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkAppLostWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkCheckpointProcessor.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sChangeEventListener.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sWatcherWrapper.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/ApplicationManageServiceITest.java
Labels: BACKEND

[Improve] Application state improvement (#3128)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/annotation/AppUpdated.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/aspect/StreamParkAspect.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/AlertProbeMsg.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationManageServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkAppHttpWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkAppLostWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkCheckpointProcessor.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sChangeEventListener.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sWatcherWrapper.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/ApplicationManageServiceITest.java
Labels: BACKEND

[Feature] Flink remote support pyflink maven dependency (#3124)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/pipeline/impl/FlinkRemoteBuildPipeline.scala
Labels: BACKEND, FLINK

[Improve] Improve streampark-common module base on 3.1 Naming Style
  streampark-common/src/main/java/org/apache/streampark/common/enums/ApplicationType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/ClusterState.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/ExecutionMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkSqlValidationFailedType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/ResolveOrder.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/RestoreMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/Semantic.java
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigConst.scala
  streampark-common/src/main/scala/org/apache/streampark/common/conf/K8sFlinkConfig.scala
Labels: BACKEND

fix the Annotation style
  streampark-common/src/main/java/org/apache/streampark/common/enums/ClusterState.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/Semantic.java
Labels: BACKEND

Modify savepoint parameter name
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkClientTrait.scala
Labels: FLINK

[Improve] Unified enumeration comparison methods #3129
  streampark-common/src/main/java/org/apache/streampark/common/enums/ExecutionMode.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/GitCredential.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationManageServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkAppHttpWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkCheckpointProcessor.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sChangeEventListener.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MenuServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/TeamServiceImpl.java
Labels: BACKEND

[Improve] Unified enumeration comparison methods #3129 code formatting
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkAppHttpWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkCheckpointProcessor.java
Labels: BACKEND

[Improve] Unified enumeration comparison methods #3129 add
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationConfigServiceImpl.java
Labels: BACKEND

Modify savepoint parameter name (#3134)
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkClientTrait.scala
Labels: FLINK

[Cleanup] Remove the redundant Serializable implementation for all Enums of the project. (#3131)
  streampark-common/src/main/java/org/apache/streampark/common/enums/ApplicationType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/ClusterState.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/DevelopmentMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/ExecutionMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkK8sRestExposedType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkSqlValidationFailedType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/ResolveOrder.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/RestoreMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/Semantic.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/StorageType.java
Labels: BACKEND

[Cleanup] Remove the redundant Serializable implementation for all Enums of the project. (#3131) (#3137)
  streampark-common/src/main/java/org/apache/streampark/common/enums/ApplicationType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/ClusterState.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/DevelopmentMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/ExecutionMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkK8sRestExposedType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/FlinkSqlValidationFailedType.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/ResolveOrder.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/RestoreMode.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/Semantic.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/StorageType.java
Labels: BACKEND

[Cleanup] Remove the package org.apache.streampark.common.tuple of streampark-common module. #3132
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple.java
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple1.java
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple2.java
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple3.java
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple4.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
Labels: BACKEND

Add missing changes
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/FlinkAppState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sWatcherWrapper.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: BACKEND, FLINK

[ISSUE-3129][Improve] Unified enumeration comparison methods (#3135)
  streampark-common/src/main/java/org/apache/streampark/common/enums/ExecutionMode.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/FlinkAppState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/GitCredential.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationManageServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationConfigServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkAppHttpWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkCheckpointProcessor.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sChangeEventListener.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sWatcherWrapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MenuServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/TeamServiceImpl.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: BACKEND, FLINK

[Cleanup] Remove the package org.apache.streampark.common.tuple of streampark-common module. #3132 fix code style
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
Labels: BACKEND

[Cleanup] Remove the package org.apache.streampark.common.tuple of streampark-common module. #3132 (#3139)
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple.java
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple1.java
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple2.java
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple3.java
  streampark-common/src/main/java/org/apache/streampark/common/tuple/Tuple4.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
Labels: BACKEND

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"
