Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"

[Improve] application entity drop appId column
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/Tuple.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/Tuple1.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/Tuple2.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/Tuple3.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/Tuple4.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/AlertTemplate.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationManageServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ExternalLinkServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/FlinkAppHttpWatcher.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/alert/AlertServiceTest.java
  streampark-console/streampark-console-webapp/src/api/flink/flinkSql.ts
  streampark-console/streampark-console-webapp/src/api/flink/savepoint.ts
  streampark-console/streampark-console-webapp/src/components/Application/src/AppDarkModeToggle.vue
  streampark-console/streampark-console-webapp/src/components/ContextMenu/src/ContextMenu.vue
  streampark-console/streampark-console-webapp/src/components/Form/src/BasicForm.vue
  streampark-console/streampark-console-webapp/src/components/Form/src/components/FormItem.vue
  streampark-console/streampark-console-webapp/src/components/Modal/src/components/ModalWrapper.vue
  streampark-console/streampark-console-webapp/src/components/Page/src/PageFooter.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/components/HeaderCell.vue
  streampark-console/streampark-console-webapp/src/hooks/setting/useMenuSetting.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useLockPage.ts
  streampark-console/streampark-console-webapp/src/utils/props.ts
  streampark-console/streampark-console-webapp/src/views/base/error-log/data.tsx
  streampark-console/streampark-console-webapp/src/views/base/login/Login.vue
  streampark-console/streampark-console-webapp/src/views/base/login/LoginForm.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditFlink.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/DetailTab.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/FlinkSqlCompareModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/FlinkSql.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/data/detail.data.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useDetail.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useEditStreamPark.ts
Labels: WEB UI, BACKEND

[Improve] DingTalk alert bug fixed
  streampark-console/streampark-console-service/src/main/assembly/bin/jvm_opts.sh
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/BashJavaUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/DingTalkAlertNotifyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/LarkAlertNotifyServiceImpl.java
Labels: BUILD, BACKEND

[Improve] license header improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/AuthenticationType.java
Labels: BACKEND

[Improve] token FE page improvement
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/AccessTokenServiceTest.java
  streampark-console/streampark-console-webapp/src/api/system/model/tokenModel.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/token.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/system/token.ts
  streampark-console/streampark-console-webapp/src/views/system/token/token.data.ts
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/FlinkClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/FlinkClientEntrypoint.scala
Labels: WEB UI, BACKEND, FLINK

[Improve] sql query "like" bug fixed.
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigKeys.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/MybatisConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/domain/ResponseCode.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/handler/GlobalExceptionHandler.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/properties/ShiroProperties.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ProjectMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/VariableMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/YarnQueueMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/MemberMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/RoleMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/TeamMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/UserMapper.xml
Labels: BACKEND

[Improve] PermissionScope annotation user field default value bug fixed.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/annotation/PermissionScope.java
Labels: BACKEND

[Improve] freemarker bug fixed.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/FreemarkerUtils.java
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppConf.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/DetailTab.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/AppDashboard.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StopApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/Dependency.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/State.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/data/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/Add.less
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/View.less
  streampark-console/streampark-console-webapp/src/views/flink/app/utils/Pom.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/utils/index.ts
Labels: WEB UI, BACKEND

[Improve] token page minor improvement
  streampark-console/streampark-console-webapp/src/views/system/token/token.data.ts
Labels: WEB UI

[Improve] trivial improvements
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/utils/index.ts
Labels: WEB UI, BACKEND

[Bug] Dingtalk alert bug fixed
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/BashJavaUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/DingTalkAlertNotifyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/LarkAlertNotifyServiceImpl.java
  streampark-console/streampark-console-webapp/vite.config.ts
Labels: BUILD, WEB UI, BACKEND

[Improve] mvnw minor improvement
  mvnw
Labels: BUILD

[Improve] version number 2.1.4 change to 2.2.0
  docker/README.md
  docker/docker-compose.yaml
  mvnw
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
Labels: BUILD, DOCS, BACKEND

[Bug] Dingtalk alert bug fixed (#3730)
  mvnw
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/BashJavaUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/DingTalkAlertNotifyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/LarkAlertNotifyServiceImpl.java
  streampark-console/streampark-console-webapp/vite.config.ts
Labels: BUILD, WEB UI, BACKEND

[Improve] version number 2.1.4 change to 2.2.0 (#3731)
  docker/README.md
  docker/docker-compose.yaml
  mvnw
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
Labels: BUILD, DOCS, BACKEND

fix issue 3738
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
Labels: BUILD, BACKEND

fix issue 3738 (#3739)
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
Labels: BUILD, BACKEND

Add end-to-end test framework and User Management and Team Management test cases
  .github/workflows/e2e.yml
  streampark-console/streampark-console-webapp/src/views/base/login/LoginForm.vue
  streampark-console/streampark-console-webapp/src/views/base/login/teamModal.vue
  streampark-e2e/README.md
  streampark-e2e/lombok.config
  streampark-e2e/pom.xml
  streampark-e2e/streampark-e2e-case/pom.xml
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/TeamManagementTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/UserManagementTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/LoginPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/common/NavBarPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/SystemPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/TeamManagementPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/UserManagementPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/entity/UserManagementStatus.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/entity/UserManagementUserType.java
  streampark-e2e/streampark-e2e-case/src/test/resources/docker/basic/Dockerfile
  streampark-e2e/streampark-e2e-case/src/test/resources/docker/basic/docker-compose.yaml
  streampark-e2e/streampark-e2e-core/pom.xml
  streampark-e2e/streampark-e2e-core/src/main/java/org/apache/streampark/e2e/core/Constants.java
  streampark-e2e/streampark-e2e-core/src/main/java/org/apache/streampark/e2e/core/StreamPark.java
  streampark-e2e/streampark-e2e-core/src/main/java/org/apache/streampark/e2e/core/StreamParkExtension.java
  streampark-e2e/streampark-e2e-core/src/main/java/org/apache/streampark/e2e/core/TestDescription.java
  streampark-e2e/streampark-e2e-core/src/main/resources/log4j2.xml
Labels: INFRA, BUILD, DOCS, WEB UI

add readme.md
  streampark-e2e/README.md
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/LoginPage.java
Labels: DOCS

add readme.md
  .github/workflows/e2e.yml
  streampark-e2e/README.md
Labels: INFRA, DOCS

fix github actions error
  .github/workflows/e2e.yml
Labels: INFRA

fix github actions error
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/TeamManagementTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/UserManagementTest.java
  streampark-e2e/streampark-e2e-case/src/test/resources/docker/basic/docker-compose.yaml
Labels: none

fix github actions error
  .github/workflows/e2e.yml
Labels: INFRA

fix github actions error
  .github/workflows/e2e.yml
Labels: INFRA

fix github actions error
  streampark-e2e/streampark-e2e-case/src/test/resources/docker/basic/Dockerfile
Labels: none

[Feat] quick install script support.
  apache-streampark_2.12-2.1.4-incubating-bin/conf/config.yaml
  streampark-common/src/main/scala/org/apache/streampark/common/util/PropertiesUtils.scala
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/BashJavaUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationBuildPipelineController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkClusterController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/QuickStartRunner.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkClusterService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/runner/StartedUpRunner.java
  streampark.sh
Labels: BUILD, BACKEND

[Improve] minor improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/BashJavaUtils.java
  streampark.sh
Labels: BACKEND

[Improve] minor improvement
  streampark.sh
Labels: none

fix flaky e2e test
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/UserManagementPage.java
Labels: none

[Improve] java download support
  streampark.sh
Labels: none

Delete apache-streampark_2.12-2.1.4-incubating-bin/conf/config.yaml
  apache-streampark_2.12-2.1.4-incubating-bin/conf/config.yaml
Labels: none

Update QuickStartRunner.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/QuickStartRunner.java
Labels: BACKEND

[Feature-3740] Add end-to-end test framework and User Management and Team Management test cases (#3741)
  .github/workflows/e2e.yml
  streampark-console/streampark-console-webapp/src/views/base/login/LoginForm.vue
  streampark-console/streampark-console-webapp/src/views/base/login/teamModal.vue
  streampark-e2e/README.md
  streampark-e2e/lombok.config
  streampark-e2e/pom.xml
  streampark-e2e/streampark-e2e-case/pom.xml
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/TeamManagementTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/cases/UserManagementTest.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/LoginPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/common/NavBarPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/SystemPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/TeamManagementPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/UserManagementPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/entity/UserManagementStatus.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/entity/UserManagementUserType.java
  streampark-e2e/streampark-e2e-case/src/test/resources/docker/basic/Dockerfile
  streampark-e2e/streampark-e2e-case/src/test/resources/docker/basic/docker-compose.yaml
  streampark-e2e/streampark-e2e-core/pom.xml
  streampark-e2e/streampark-e2e-core/src/main/java/org/apache/streampark/e2e/core/Constants.java
  streampark-e2e/streampark-e2e-core/src/main/java/org/apache/streampark/e2e/core/StreamPark.java
  streampark-e2e/streampark-e2e-core/src/main/java/org/apache/streampark/e2e/core/StreamParkExtension.java
  streampark-e2e/streampark-e2e-core/src/main/java/org/apache/streampark/e2e/core/TestDescription.java
  streampark-e2e/streampark-e2e-core/src/main/resources/log4j2.xml
Labels: INFRA, BUILD, DOCS, WEB UI

fix dead links error
  README.md
Labels: DOCS

improve docs check ci
  .github/workflows/docs.yml
  .github/workflows/maven.yml
Labels: INFRA

improve docs check ci
  docker/README.md
Labels: DOCS

[CI] Fix dead links error (#3751)
  .github/workflows/docs.yml
  .github/workflows/maven.yml
  README.md
  docker/README.md
Labels: INFRA, DOCS

improve ci check
  .asf.yaml
  .github/workflows/backend.yml
  .github/workflows/docs.yml
  .github/workflows/frontend.yml
  pom.xml
  streampark-tests/pom.xml
  streampark-tests/streampark-testcontainer/pom.xml
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkComponent.java
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkContainer.java
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkStandaloneSessionCluster.java
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/hadoop/HadoopContainer.java
  streampark-tests/streampark-testcontainer/src/test/java/org/apache/streampark/testcontainer/flink/FlinkStandaloneSessionClusterITest.java
  streampark-tests/streampark-testcontainer/src/test/java/org/apache/streampark/testcontainer/hadoop/HadoopContainerTest.java
Labels: INFRA, BUILD

improve ci check
  .github/workflows/backend.yml
Labels: INFRA

improve ci check
  .github/workflows/docs.yml
  .github/workflows/frontend.yml
  .github/workflows/unit-test.yml
  streampark-console/streampark-console-service/pom.xml
Labels: INFRA, BUILD, BACKEND

improve ci check
  pom.xml
  streampark-console/streampark-console-service/pom.xml
  streampark-tests/pom.xml
  streampark-tests/streampark-testcontainer/pom.xml
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkComponent.java
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkContainer.java
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkStandaloneSessionCluster.java
  streampark-tests/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/hadoop/HadoopContainer.java
  streampark-tests/streampark-testcontainer/src/test/java/org/apache/streampark/testcontainer/flink/FlinkStandaloneSessionClusterITest.java
  streampark-tests/streampark-testcontainer/src/test/java/org/apache/streampark/testcontainer/hadoop/HadoopContainerTest.java
Labels: BUILD, BACKEND
