Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"

minor improvement
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: FLINK

log message improve
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: FLINK

[Improve] code minor optimization
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
Labels: BACKEND

[Fix] Fix yarn session create jobGraph failed
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: FLINK

fix: menu
  streampark-console/streampark-console-webapp/src/components/SimpleMenu/src/components/menu.less
Labels: WEB UI

fix: Declare the license file
  LICENSE
  streampark-console/streampark-console-webapp/build/script/buildConf.ts
  streampark-console/streampark-console-webapp/build/vite/utils/hash.ts
  streampark-console/streampark-console-webapp/src/components/Description/src/Description.vue
  streampark-console/streampark-console-webapp/src/components/Description/src/typing.ts
  streampark-console/streampark-console-webapp/src/components/Description/src/useDescription.ts
  streampark-console/streampark-console-webapp/src/components/Form/src/components/ApiRadioGroup.vue
  streampark-console/streampark-console-webapp/src/components/Form/src/components/ApiSelect.vue
  streampark-console/streampark-console-webapp/src/components/Form/src/components/RadioButtonGroup.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/components/settings/ColumnSetting.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/components/settings/FullScreenSetting.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/components/settings/RedoSetting.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/components/settings/SizeSetting.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/components/settings/index.vue
  streampark-console/streampark-console-webapp/src/hooks/web/useAppInject.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useContentHeight.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useContextMenu.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useCopyToClipboard.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useDesign.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useFormValidate.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useFullContent.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useI18n.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useLockPage.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useMessage.tsx
  streampark-console/streampark-console-webapp/src/hooks/web/usePage.ts
  streampark-console/streampark-console-webapp/src/hooks/web/usePagination.ts
  streampark-console/streampark-console-webapp/src/hooks/web/usePermission.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useSortable.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useTabs.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useTitle.ts
  streampark-console/streampark-console-webapp/src/layouts/default/header/index.less
Labels: WEB UI

fix: LICENSE
  LICENSE
Labels: none

ci: Ignore front-end license checks
  .licenserc.yaml
Labels: INFRA

fix: header
  LICENSE
  streampark-console/streampark-console-webapp/src/design/nprogress.less
  streampark-console/streampark-console-webapp/src/design/swal2.less
  streampark-console/streampark-console-webapp/src/enums/flinkEnum.ts
  streampark-console/streampark-console-webapp/src/enums/formEnum.ts
  streampark-console/streampark-console-webapp/src/enums/projectEnum.ts
  streampark-console/streampark-console-webapp/src/hooks/web/useMonaco.ts
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/Github.vue
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/Slogan.vue
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/UserTeam.vue
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/index.ts
  streampark-console/streampark-console-webapp/src/router/constant.ts
  streampark-console/streampark-console-webapp/src/settings/siteSetting.ts
  streampark-console/streampark-console-webapp/src/store/modules/flinkApplication.ts
  streampark-console/streampark-console-webapp/src/views/base/login/SessionTimeoutLogin.vue
Labels: WEB UI

fix: LICENSE
  LICENSE
Labels: none

Update .licenserc.yaml
  .licenserc.yaml
Labels: INFRA

Update .licenserc.yaml
  .licenserc.yaml
Labels: INFRA

Update .licenserc.yaml
  .licenserc.yaml
Labels: INFRA

Update windi.config.ts
  streampark-console/streampark-console-webapp/windi.config.ts
Labels: WEB UI

Update .licenserc.yaml
  .licenserc.yaml
Labels: INFRA

fix: merge
  streampark-console/streampark-console-webapp/build/script/buildConf.ts
  streampark-console/streampark-console-webapp/build/vite/plugin/appConfig.ts
  streampark-console/streampark-console-webapp/build/vite/utils/hash.ts
Labels: WEB UI

fix: error
  streampark-console/streampark-console-webapp/src/components/Table/src/components/HeaderCell.vue
  streampark-console/streampark-console-webapp/src/views/base/login/SessionTimeoutLogin.vue
Labels: WEB UI

[Improve] resolve maven artifacts improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/Artifact.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/MavenTool.scala
Labels: BACKEND, FLINK

[Improve] [Flink-Kubernetes-V2] Updated the crd of flink-operator 1.16.1 (#3282)
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-crd/src/main/resources/crd/flinkdeployments.flink.apache.org-v1.yml
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-crd/src/main/resources/crd/flinksessionjobs.flink.apache.org-v1.yml
Labels: FLINK

[Bug] extract programArgs bug fixed
  streampark-common/src/main/scala/org/apache/streampark/common/util/PropertiesUtils.scala
  streampark-common/src/test/scala/org/apache/streampark/common/util/PropertiesUtilsTestCase.scala
Labels: BACKEND

[Improve] code style improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

[Improve] Improve streampark-console system package module service remove method name base on [3.1 Naming Style]
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/AccessTokenController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/MemberController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/RoleController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/TeamController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/AccessTokenService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/MemberService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/RoleMenuServie.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/RoleService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/TeamService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/AccessTokenServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MemberServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/RoleMenuServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/RoleServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/TeamServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/AccessTokenServiceTest.java
Labels: BACKEND

[Fix] Fix remove method name
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/MemberController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/MemberService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MemberServiceImpl.java
Labels: BACKEND

[Improve] FlinkClientHandler classNotFound improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

[Improve] job state improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkRESTAPIWatcher.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: BACKEND, FLINK

[Improve] Improve streampark-console system package module service remove method name base on [3.1 Naming Style] (#3335)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/AccessTokenController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/MemberController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/RoleController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/TeamController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/AccessTokenService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/MemberService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/RoleMenuServie.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/RoleService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/TeamService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/AccessTokenServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/MemberServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/RoleMenuServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/RoleServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/TeamServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/AccessTokenServiceTest.java
Labels: BACKEND

[Improve] MavenTool minor improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/MavenTool.scala
Labels: BACKEND, FLINK

code style improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
Labels: BACKEND

[Improve] job maven dependency support exclusion
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenDependency.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenExclusion.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenPom.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkSql.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-webapp/src/components/Table/src/components/HeaderCell.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/Dependency.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/utils/Pom.ts
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/MavenArtifact.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/MavenTool.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/pipeline/BuildRequest.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/pipeline/impl/FlinkK8sApplicationBuildPipeline.scala
  streampark-flink/streampark-flink-packer/src/test/scala/org/apache/streampark/flink/packer/MavenToolSpec.scala
Labels: WEB UI, BACKEND, FLINK

[Feat] mavenTool support exclusion
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenDependency.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenPom.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-webapp/src/views/flink/app/components/Dependency.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/Artifact.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/MavenTool.scala
Labels: WEB UI, BACKEND, FLINK

[Improve] update mapper Boolean return type to primitive
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/FlinkClusterMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ProjectMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/VariableMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/mapper/MemberMapper.java
Labels: BACKEND

[Improve] maven dependency check improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenDependency.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenPom.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkSql.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-webapp/src/views/flink/app/components/Dependency.vue
Labels: WEB UI, BACKEND

[Improve] MavenTool minor improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenDependency.java
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/MavenTool.scala
Labels: BACKEND, FLINK

[Bug] deploy flink job on yarn, get state bug fixed. (#3329)
  streampark-common/src/main/scala/org/apache/streampark/common/util/PropertiesUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/YarnUtils.scala
  streampark-common/src/test/scala/org/apache/streampark/common/util/PropertiesUtilsTestCase.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenDependency.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenExclusion.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenPom.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkSql.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkRESTAPIWatcher.java
  streampark-console/streampark-console-webapp/src/components/Table/src/components/HeaderCell.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/Dependency.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/utils/Pom.ts
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/Artifact.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/MavenArtifact.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/MavenTool.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/pipeline/BuildRequest.scala
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/pipeline/impl/FlinkK8sApplicationBuildPipeline.scala
  streampark-flink/streampark-flink-packer/src/test/scala/org/apache/streampark/flink/packer/MavenToolSpec.scala
Labels: WEB UI, BACKEND, FLINK, YARN

[Improve] MavenTool resolveArtifacts improvement
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/MavenTool.scala
Labels: FLINK

minor improvement
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/MavenTool.scala
Labels: FLINK

[Improve] MavenTool resolveArtifacts method improvement
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/MavenTool.scala
Labels: FLINK

[Improve] MavenTool resolveArtifacts method improvement (#3336)
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/MavenTool.scala
Labels: FLINK

[Improve] Modify the empty judgment of the collection
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SqlCompleteServiceImpl.java
Labels: BACKEND

[Improve] Modify the empty judgment of the collection (#3338)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SqlCompleteServiceImpl.java
Labels: BACKEND
