Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"

[Improve]: login footer style
  streampark-console/streampark-console-webapp/src/layouts/default/header/index.vue
  streampark-console/streampark-console-webapp/src/settings/siteSetting.ts
  streampark-console/streampark-console-webapp/src/views/base/login/Login.vue
  streampark-console/streampark-console-webapp/src/views/base/login/LoginSlogan.tsx
Labels: WEB UI

[Improve]: login footer style (#4050)
  streampark-console/streampark-console-webapp/src/layouts/default/header/index.vue
  streampark-console/streampark-console-webapp/src/settings/siteSetting.ts
  streampark-console/streampark-console-webapp/src/views/base/login/Login.vue
  streampark-console/streampark-console-webapp/src/views/base/login/LoginSlogan.tsx
Labels: WEB UI

fix: add email
  streampark-console/streampark-console-webapp/src/settings/siteSetting.ts
  streampark-console/streampark-console-webapp/src/views/base/login/Login.vue
Labels: WEB UI

[Fix] Upload Flink App jar got "flink app jar must exist" error on windows (#4052) * fix Upload Flink App jar got "flink app jar must exist" error on windows
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Resource.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
Labels: BACKEND

fix: add email (#4051)
  streampark-console/streampark-console-webapp/src/settings/siteSetting.ts
  streampark-console/streampark-console-webapp/src/views/base/login/Login.vue
Labels: WEB UI

[Improve] FE style minor improvement
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/project.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/member.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/system/role.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/Detail.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/Detail.less
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/AddCluster.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/Cluster.less
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/EditCluster.vue
Labels: WEB UI

fix UT
  streampark-common/src/test/java/org/apache/streampark/common/utils/UUIDUtilsTestCase.java
Labels: BACKEND

fix comments
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/DistributionTask.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/DistributionTaskServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/DistributionTaskMapper.xml
Labels: BUILD, BACKEND

rename
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/AsyncExecutorPoolConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/DistributedTask.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/DistributedTaskEnum.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/DistributedTaskMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/registry/ConsoleRegistryClient.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/DistributedTaskService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/DistributedTaskServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/FlinkAppHttpWatcher.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/DistributedTaskMapper.xml
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/DistributedTaskServiceTest.java
Labels: BACKEND

[Feature-3960] Add task distribution for streampark (#4040)
  helm/streampark/conf/streampark-console-config/application-mysql.yml
  streampark-common/src/test/java/org/apache/streampark/common/utils/UUIDUtilsTestCase.java
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/AsyncExecutorPoolConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/ConsistentHash.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/Murmur3Hash.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/FlinkTaskItem.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/DistributedTask.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/DistributedTaskEnum.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/DistributedTaskMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/registry/ConsoleRegistryClient.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/DistributedTaskService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/DistributedTaskServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/watcher/FlinkAppHttpWatcher.java
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
  streampark-console/streampark-console-service/src/main/resources/mapper/core/DistributedTaskMapper.xml
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/ConsistentHashTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/DistributedTaskServiceTest.java
Labels: BUILD, BACKEND

[Improve] parse maven dependency bug fixed.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenDependency.java
Labels: BACKEND

[Improve] flink webUI proxy support.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ProxyController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ProxyService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProxyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/util/ServiceHelper.java
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/DetailTab.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/utils/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/cluster/View.vue
Labels: WEB UI, BACKEND

[Improve] flink webUI proxy support.
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/DetailTab.vue
Labels: WEB UI

[Improve] e2e findElement improvement (#4049)
  streampark-console/streampark-console-webapp/src/design/index.less
  streampark-console/streampark-console-webapp/src/views/resource/variable/components/VariableDrawer.vue
  streampark-console/streampark-console-webapp/src/views/system/role/components/RoleDrawer.vue
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/resource/VariablesPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/system/RoleManagementPage.java
Labels: WEB UI

[Improve] read conf bug fixed.
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkStreamingInitializer.scala
Labels: FLINK

[Improve] get latest savepoint bug fixed.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/SavepointService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavepointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/CheckpointProcessor.java
Labels: BACKEND

feature: add gradle build function
  streampark-console/streampark-console-service/src/main/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/main/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/assembly/script/upgrade/pgsql/2.1.5.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/BuildType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/ProjectBuildTask.java
  streampark-console/streampark-console-webapp/src/enums/projectEnum.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/project.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/project.ts
  streampark-console/streampark-console-webapp/src/views/flink/project/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/Edit.vue
  streampark-console/streampark-console-webapp/src/views/flink/project/useProject.tsx
Labels: BUILD, WEB UI, BACKEND

should setJarCheckSum when update application and JarCheckSum change
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationManageServiceImpl.java
Labels: BACKEND

feature: optimize code
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
Labels: BACKEND

[Fix]: spark app create & change resource field
  streampark-console/streampark-console-webapp/src/views/spark/app/create.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkRender.tsx
Labels: WEB UI

[Fix]: spark app create & change resource field (#4057)
  streampark-console/streampark-console-webapp/src/views/spark/app/create.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkRender.tsx
Labels: WEB UI

[Improve] execution-runtime-mode bug fixed.
  streampark-flink/streampark-flink-core/src/main/scala/org/apache/streampark/flink/core/scala/FlinkTable.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkStreamingInitializer.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkTableInitializer.scala
  streampark-flink/streampark-flink-sqlclient/src/main/scala/org/apache/streampark/flink/cli/SqlClient.scala
Labels: FLINK

[Improve] FE style minor improvement
  streampark-console/streampark-console-webapp/src/design/index.less
  streampark-console/streampark-console-webapp/src/design/swal2.less
  streampark-console/streampark-console-webapp/src/design/var/index.less
  streampark-console/streampark-console-webapp/src/layouts/default/header/MultipleHeader.vue
Labels: WEB UI

[Improve] FE style minor improvement
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useApp.tsx
Labels: WEB UI

should setJarCheckSum when update application and JarCheckSum change (#4059)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationManageServiceImpl.java
Labels: BACKEND

[Fix]: flink cluster page style
  streampark-console/streampark-console-webapp/src/views/flink/app/EditFlink.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/AddCluster.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/EditCluster.vue
Labels: WEB UI

[Fix]: flink cluster page style (#4061)
  streampark-console/streampark-console-webapp/src/views/flink/app/EditFlink.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/AddCluster.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/EditCluster.vue
Labels: WEB UI

feature: support jobName var in flink conf
  streampark-common/src/main/java/org/apache/streampark/common/utils/CommonUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkEnv.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavepointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sWatcherWrapper.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: BACKEND, FLINK

fix issue
  streampark-common/src/main/java/org/apache/streampark/common/utils/CommonUtils.java
Labels: BACKEND

feature: Add a jobId label to the pods deployed on k8s to facilitate subsequent monitoring and task viewing.
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: FLINK

Remove unnecessary imports.
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: FLINK

[Improve] FlinkClientHandler rename to FlinkClientEntrypoint
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/FlinkClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/FlinkClientEntrypoint.scala
Labels: FLINK

Revert "feature: Add a jobId label to the pods deployed on k8s to facilitate subsequent monitoring and task viewing."
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: FLINK

rollback FlinkClientTrait.scala and add code to KubernetesNativeClientTrait.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/KubernetesNativeClientTrait.scala
Labels: FLINK

Add a jobId label to the pods deployed in k8s mode. (#4063)
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/KubernetesNativeClientTrait.scala
Labels: FLINK

[Improve]: spark edit mode & fix create error
  streampark-console/streampark-console-webapp/src/api/spark/conf.ts
  streampark-console/streampark-console-webapp/src/enums/sparkEnum.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/spark/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/spark/app.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/components/DetailTab.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/State.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/create.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/data/detail.data.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/detail.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/edit.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useAppFormSchema.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkColumns.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkRender.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkTableAction.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/index.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/utils/index.ts
Labels: WEB UI

Update FlinkClientTrait.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: FLINK

Update YarnSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnSessionClient.scala
Labels: FLINK

Update KubernetesNativeSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeSessionClient.scala
Labels: FLINK

[Improve]: spark edit mode & fix create error (#4064)
  streampark-console/streampark-console-webapp/src/api/spark/conf.ts
  streampark-console/streampark-console-webapp/src/enums/sparkEnum.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/spark/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/spark/app.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/components/DetailTab.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/State.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/create.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/data/detail.data.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/detail.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/edit.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useAppFormSchema.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkColumns.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkRender.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkTableAction.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/index.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/utils/index.ts
Labels: WEB UI
