Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

slim the pac4j package (#3017)
  dist-material/release-docs/LICENSE
  streampark-console/streampark-console-service/pom.xml
Labels: BUILD, BACKEND

[Improve] Using code style & quality rules to improve org.apache.streampark.common.enums package of streampark-common module. (#3019)
  streampark-common/src/main/java/org/apache/streampark/common/enums/ClusterState.java
  streampark-common/src/main/java/org/apache/streampark/common/enums/RestoreMode.java
Labels: BACKEND

[Improve] flink batch job execute method improvement
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkTableTrait.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.12/src/main/scala/org/apache/streampark/flink/core/TableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.13/src/main/scala/org/apache/streampark/flink/core/TableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.14/src/main/scala/org/apache/streampark/flink/core/TableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.15/src/main/scala/org/apache/streampark/flink/core/TableContext.scala
Labels: FLINK

[Improve] Merge from dev
  deploy/helm/README.md
  deploy/helm/streampark/templates/ingress.yaml
  deploy/helm/streampark/templates/streampark.yml
  deploy/helm/streampark/values.yaml
  dist-material/release-docs/LICENSE
  pom.xml
  streampark-common/src/main/scala/org/apache/streampark/common/conf/K8sFlinkConfig.scala
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
  streampark-console/streampark-console-service/src/main/resources/application.yml
  streampark-console/streampark-console-webapp/package.json
  streampark-console/streampark-console-webapp/src/components/Form/src/hooks/useFormEvents.ts
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/notify/index.vue
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/helper/KubernetesDeploymentHelper.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/ingress/IngressStrategy.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/ingress/IngressStrategyV1.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/ingress/IngressStrategyV1beta1.scala
  streampark-storage/pom.xml
  streampark-storage/src/main/java/org/apache/streampark/storage/StorageService.java
  streampark-storage/src/main/java/org/apache/streampark/storage/StorageServiceConfig.java
  streampark-storage/src/main/java/org/apache/streampark/storage/oss/OssConfig.java
  streampark-storage/src/main/java/org/apache/streampark/storage/oss/OssStorageService.java
  streampark-storage/src/test/java/org/apache/streampark/storage/oss/OssStorageServiceTest.java
Labels: BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, KUBERNETES

minor improve
  streampark-console/streampark-console-service/pom.xml
Labels: BUILD, BACKEND

FE dependency improvement
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-webapp/package.json
Labels: BUILD, WEB UI, BACKEND

helm minor improvement
  deploy/helm/streampark/templates/ingress.yaml
  deploy/helm/streampark/templates/streampark.yml
  deploy/helm/streampark/values.yaml
Labels: DOCKER

[Improve] merge from dev (#3021)
  deploy/helm/README.md
  deploy/helm/streampark/templates/ingress.yaml
  deploy/helm/streampark/templates/streampark.yml
  deploy/helm/streampark/values.yaml
  dist-material/release-docs/LICENSE
  pom.xml
  streampark-common/src/main/scala/org/apache/streampark/common/conf/K8sFlinkConfig.scala
  streampark-console/streampark-console-service/src/main/assembly/bin/streampark.sh
  streampark-console/streampark-console-service/src/main/resources/application.yml
  streampark-console/streampark-console-webapp/src/components/Form/src/hooks/useFormEvents.ts
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/notify/index.vue
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/helper/KubernetesDeploymentHelper.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/ingress/IngressStrategy.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/ingress/IngressStrategyV1.scala
  streampark-flink/streampark-flink-kubernetes/src/main/scala/org/apache/streampark/flink/kubernetes/ingress/IngressStrategyV1beta1.scala
  streampark-storage/pom.xml
  streampark-storage/src/main/java/org/apache/streampark/storage/StorageService.java
  streampark-storage/src/main/java/org/apache/streampark/storage/StorageServiceConfig.java
  streampark-storage/src/main/java/org/apache/streampark/storage/oss/OssConfig.java
  streampark-storage/src/main/java/org/apache/streampark/storage/oss/OssStorageService.java
  streampark-storage/src/test/java/org/apache/streampark/storage/oss/OssStorageServiceTest.java
Labels: BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, KUBERNETES

Update values.yaml
  deploy/helm/streampark/values.yaml
Labels: DOCKER

add zio denpency
  streampark-flink/streampark-flink-client/streampark-flink-client-core/pom.xml
Labels: BUILD, FLINK

Added flink k8s operator validate (#2966)
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/src/main/scala/org/apache/streampark/flink/kubernetes/v2/observer/DeployCRObserver.scala
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/src/main/scala/org/apache/streampark/flink/kubernetes/v2/operator/CROperator.scala
Labels: FLINK

define it directly instead of using constants
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/AlertRestTemplateConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/AsyncExecutorPoolConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/MybatisConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/OpenapiConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/WebMvcConfig.java
Labels: BACKEND

Optimize the validation logic of flinkDeploymentCR at PR#2966.
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/src/main/scala/org/apache/streampark/flink/kubernetes/v2/operator/CROperator.scala
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/src/main/scala/org/apache/streampark/flink/kubernetes/v2/operator/OprError.scala
Labels: FLINK

resolve dependency conflicts
  streampark-flink/streampark-flink-client/streampark-flink-client-core/pom.xml
Labels: BUILD, FLINK

code correction
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/MybatisConfig.java
Labels: BACKEND

add KubernetesNativeApplicationClient_V2
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeApplicationClient_V2.scala
Labels: FLINK

[Feature] StreamPark Autonomous Health Probing
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/FlinkAppState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/AutoHealthProbingTask.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkHttpWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sChangeEventListener.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sWatcherWrapper.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
Labels: BUILD, BACKEND

[Improve] Split the integration test modules.
  .github/workflows/maven.yml
  pom.xml
  streampark-console/streampark-console-service/pom.xml
  streampark-tests/pom.xml
  streampark-tests/streampark-itest/pom.xml
  streampark-tests/streampark-itest/src/test/java/org/apache/streampark/console/SpringIntegrationTestBase.java
  streampark-tests/streampark-itest/src/test/java/org/apache/streampark/console/core/service/ApplicationManageServiceITest.java
  streampark-tests/streampark-itest/src/test/resources/application-integration-test.yml
  streampark-tests/streampark-test-utils/pom.xml
  streampark-tests/streampark-test-utils/streampark-testcontainer/pom.xml
  streampark-tests/streampark-test-utils/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkComponent.java
  streampark-tests/streampark-test-utils/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkContainer.java
  streampark-tests/streampark-test-utils/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/flink/FlinkStandaloneSessionCluster.java
  streampark-tests/streampark-test-utils/streampark-testcontainer/src/main/java/org/apache/streampark/testcontainer/hadoop/HadoopContainer.java
  streampark-tests/streampark-test-utils/streampark-testcontainer/src/test/java/org/apache/streampark/testcontainer/flink/FlinkStandaloneSessionClusterITest.java
  streampark-tests/streampark-test-utils/streampark-testcontainer/src/test/java/org/apache/streampark/testcontainer/hadoop/HadoopContainerTest.java
Labels: INFRA, BUILD, BACKEND

[Improve] remove redundancy implements
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/AccessTokenState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/AlertType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/AppExistsState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/BuildState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/CandidateType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/ChangeTypeEnum.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/CheckPointStatus.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/CheckPointType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/ConfigFileType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/EffectiveType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/FlinkAppState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/GitAuthorizedError.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/NoticeType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/Operation.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/OptionState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/PlaceholderType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/ReleaseState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/ResourceFrom.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/StopFrom.java
Labels: BACKEND

[Improve] resolve conflict
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/UserServiceTest.java
Labels: BACKEND

[issues-3027][fix]remove redundant tasks submit logic
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: FLINK

add unit test for SinkRequest
  streampark-flink/streampark-flink-connector/streampark-flink-connector-base/src/test/scala/org/apache/streampark/flink/connector/failover/SinkRequestTest.scala
Labels: FLINK

Parameter optimization and add license
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/DockerConfig.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeApplicationClient_V2.scala
Labels: BACKEND, FLINK

Parameter optimization and add license
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/DockerConfig.java
Labels: BACKEND

add flinkconfig param
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeApplicationClient_V2.scala
Labels: FLINK

[issues-3027][fix]remove redundant tasks submit logic (#3028)
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: FLINK

[Fix] fix compiler
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/AlertType.java
Labels: BACKEND

add comments
  streampark-flink/streampark-flink-connector/streampark-flink-connector-base/src/main/scala/org/apache/streampark/flink/connector/failover/SinkRequest.scala
  streampark-flink/streampark-flink-connector/streampark-flink-connector-clickhouse/src/main/scala/org/apache/streampark/flink/connector/clickhouse/internal/ClickHouseWriterTask.scala
Labels: FLINK

add comments
  streampark-flink/streampark-flink-connector/streampark-flink-connector-base/src/test/scala/org/apache/streampark/flink/connector/failover/SinkRequestTest.scala
Labels: FLINK

[Bug][Get Yarn Proxy] delete result data value '/cluster/app'
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
Labels: BACKEND

fix getService bug
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.16/src/main/scala/org/apache/streampark/flink/core/FlinkKubernetesClient.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.17/src/main/scala/org/apache/streampark/flink/core/FlinkKubernetesClient.scala
Labels: FLINK

Rename to KubernetesNativeApplicationV2
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeApplicationClientV2.scala
Labels: FLINK

Refactor the lifecycle control of flink application mode -dosubmit (#2994)
  streampark-flink/streampark-flink-client/streampark-flink-client-core/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeApplicationClientV2.scala
Labels: BUILD, FLINK

[Enhance] Optimize the validation logic of flinkDeploymentCR at PR#2966.
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/src/main/scala/org/apache/streampark/flink/kubernetes/v2/operator/CROperator.scala
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/src/main/scala/org/apache/streampark/flink/kubernetes/v2/operator/OprError.scala
Labels: FLINK

[Feature] StreamPark Autonomous Health Probing
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/AlertProbeMsg.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/AlertTemplate.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ApplicationMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/AlertService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/AlertServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/AutoHealthProbingTask.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkHttpWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sWatcherWrapper.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
Labels: BACKEND

[Enhance] Optimize the validation logic of flinkDeploymentCR at PR#2966. (#3032)
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/src/main/scala/org/apache/streampark/flink/kubernetes/v2/operator/CROperator.scala
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/src/main/scala/org/apache/streampark/flink/kubernetes/v2/operator/OprError.scala
Labels: FLINK

[Hotfix] Change ubuntu image to support quick integration test setup.
  .github/workflows/maven.yml
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/SpringIntegrationTestBase.java
Labels: INFRA, BACKEND

[Hotfix] Disabled unstable test cases.
  .github/workflows/maven.yml
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/DependencyUtilsTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/ApplicationManageServiceITest.java
Labels: INFRA, BACKEND

[Hotfix] Disabled unstable test cases. (#3034)
  .github/workflows/maven.yml
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/DependencyUtilsTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/ApplicationManageServiceITest.java
Labels: INFRA, BACKEND

[Feature] StreamPark Autonomous Health Probing
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/AlertTemplate.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/AutoHealthProbingTask.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkHttpWatcher.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkK8sChangeEventListener.java
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-dingTalk.ftl
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-email.ftl
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-lark.ftl
  streampark-console/streampark-console-service/src/main/resources/alert-template/alert-weCom.ftl
  streampark-console/streampark-console-webapp/src/enums/flinkEnum.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/State.less
  streampark-console/streampark-console-webapp/src/views/flink/app/components/State.tsx
Labels: WEB UI, BACKEND

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"
