Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"

[ISSUE-3064][Improve] Improve streampark-console method name base on [3.1 Naming Style]
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkSqlController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ProjectController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkSqlService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ProjectService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkSqlServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
Labels: BACKEND

[FIX] fix teamId is null occur an sql error
  streampark-console/streampark-console-service/src/main/resources/mapper/system/MenuMapper.xml
Labels: BACKEND

[FIX] fix teamId is null occur an sql error (#3365)
  streampark-console/streampark-console-service/src/main/resources/mapper/system/MenuMapper.xml
Labels: BACKEND

[Improve] maven build args check improvements
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
Labels: BACKEND

[Improve] maven build args improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-webapp/src/api/flink/app.ts
  streampark-console/streampark-console-webapp/src/api/flink/flinkBuild.ts
  streampark-console/streampark-console-webapp/src/components/Form/src/components/FormItem.vue
  streampark-console/streampark-console-webapp/src/components/Modal/src/components/ModalWrapper.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/components/HeaderCell.vue
  streampark-console/streampark-console-webapp/src/hooks/setting/useMenuSetting.ts
  streampark-console/streampark-console-webapp/src/utils/props.ts
  streampark-console/streampark-console-webapp/src/views/base/error-log/data.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/data/option.ts
  streampark-console/streampark-console-webapp/src/views/resource/project/components/ListItem.vue
Labels: WEB UI, BACKEND

[Improve] maven build args improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
Labels: BACKEND

[Improve] maven build args improvement (#3367)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
Labels: BACKEND

[Improve] exception message improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
Labels: BACKEND

[Improve] maven build args check improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
Labels: BACKEND

[ISSUE-3064][Improve] Improve streampark-console map variable name base on [3.1 Naming Style] (#3354) (#3363)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkCluster.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/AlertTypeEnum.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ExternalLinkServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/utils/YarnQueueLabelExpression.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/MenuController.java
Labels: BACKEND

[ISSUE-3064][Improve] Improve streampark-console method name base on [3.1 Naming Style] (#3364)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkSqlController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ProjectController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkSqlService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ProjectService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkSqlServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
Labels: BACKEND

[Improve] maven build args improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/FileUtilsTest.java
Labels: BACKEND

[Improve] danger args improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/FileUtilsTest.java
Labels: BACKEND

[Bug] maven danger args bug fixed
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
Labels: BACKEND

[Improve] maven build args improvement (#3368)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/FileUtilsTest.java
Labels: BACKEND

[Improve] maven build args improvement (#3366)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-webapp/src/api/flink/app.ts
  streampark-console/streampark-console-webapp/src/api/flink/flinkBuild.ts
  streampark-console/streampark-console-webapp/src/components/Form/src/components/FormItem.vue
  streampark-console/streampark-console-webapp/src/components/Modal/src/components/ModalWrapper.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/components/HeaderCell.vue
  streampark-console/streampark-console-webapp/src/hooks/setting/useMenuSetting.ts
  streampark-console/streampark-console-webapp/src/utils/props.ts
  streampark-console/streampark-console-webapp/src/views/base/error-log/data.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/data/option.ts
  streampark-console/streampark-console-webapp/src/views/resource/project/components/ListItem.vue
Labels: WEB UI, BACKEND

[Improve] get MAVEN_HOME improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
Labels: BACKEND

[Improve] setclasspath improvement
  streampark-console/streampark-console-service/src/main/assembly/bin/setclasspath.sh
Labels: BUILD, BACKEND

[Improve] mavenWrapper improvement
  .mvn/wrapper/MavenWrapperHelper.java
  .mvn/wrapper/maven-wrapper.properties
  build.sh
  mvnw
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
Labels: BUILD, BACKEND

[Improvement] mavenWrapper improvement
  streampark-console/streampark-console-service/src/main/assembly/bin/mvnw
Labels: BUILD, BACKEND

mavenWrapper improvement
  mvnw
  streampark-console/streampark-console-service/src/main/assembly/bin/mvnw
Labels: BUILD, BACKEND

[Improve] Maven wrapper improvement (#3371)
  .mvn/wrapper/MavenWrapperHelper.java
  .mvn/wrapper/maven-wrapper.properties
  build.sh
  mvnw
  streampark-console/streampark-console-service/src/main/assembly/bin/mvnw
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
Labels: BUILD, BACKEND

[Improve] mvnw check maven-wrapper.jar improvement
  .mvn/wrapper/MavenWrapperHelper.java
  .mvn/wrapper/maven-wrapper.properties
  build.sh
  mvnw
  streampark-console/streampark-console-service/src/main/assembly/bin/mvnw
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Project.java
Labels: BUILD, BACKEND

minor improvement
  .mvn/wrapper/MavenWrapperHelper.java
Labels: BUILD

[Improve] MavenWrapperHelper improvement
  .mvn/wrapper/MavenWrapperHelper.java
Labels: BUILD

[Improve] FE job dependency component improvements
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-webapp/src/views/flink/app/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/Dependency.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateAndEditSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useCreateSchema.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useEditStreamPark.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/styles/Add.less
Labels: WEB UI, BACKEND

[Improve] fix myBatis query for like using concat function
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ProjectMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ResourceMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/VariableMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/YarnQueueMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/MemberMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/RoleMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/TeamMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/UserMapper.xml
Labels: BACKEND

[Improve] fix myBatis special sign cause sql problem
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ProjectMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ResourceMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/VariableMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/YarnQueueMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/MemberMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/RoleMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/TeamMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/UserMapper.xml
Labels: BACKEND

[Improve] code style improvement
  .mvn/wrapper/MavenWrapperHelper.java
Labels: BUILD

[Improve] fix myBatis query for like using concat function (#3374)
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ProjectMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ResourceMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/VariableMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/YarnQueueMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/MemberMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/RoleMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/TeamMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/UserMapper.xml
Labels: BACKEND

[Improve] MavenTool improvement
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/MavenTool.scala
Labels: FLINK

[Improve] fix myBatis query for like using concat function
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ProjectMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/VariableMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/YarnQueueMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/MemberMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/RoleMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/TeamMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/UserMapper.xml
Labels: BACKEND

[Improve] fix myBatis query for like using concat function
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/VariableMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/MemberMapper.xml
Labels: BACKEND

[Improve] sync code from dev (#3375)
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ProjectMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/VariableMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/YarnQueueMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/MemberMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/RoleMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/TeamMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/UserMapper.xml
Labels: BACKEND

[Improve] MavenTool support mirror|proxy
  streampark-flink/streampark-flink-packer/src/main/scala/org/apache/streampark/flink/packer/maven/MavenTool.scala
Labels: FLINK

[Improve] applicationType minor improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

[Improve] minor improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
Labels: BACKEND

[Improve] FE dependency component get latest value bug fixed
  streampark-console/streampark-console-webapp/src/views/flink/app/EditFlink.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/Dependency.vue
Labels: WEB UI

[Improve] resolve maven artifacts bug fixed.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
Labels: BACKEND

[Improve] minor improvement
  streampark-console/streampark-console-webapp/src/views/flink/app/Add.vue
Labels: WEB UI
