Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

feature: add args and queue configuring
  streampark-common/src/main/scala/org/apache/streampark/common/conf/ConfigKeys.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/PropertiesUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/SparkApplicationActionServiceImpl.java
  streampark-spark/streampark-spark-client/streampark-spark-client-api/src/main/scala/org/apache/streampark/spark/client/bean/SubmitRequest.scala
  streampark-spark/streampark-spark-client/streampark-spark-client-core/src/main/scala/org/apache/streampark/spark/client/impl/YarnClient.scala
  streampark-spark/streampark-spark-client/streampark-spark-client-core/src/main/scala/org/apache/streampark/spark/client/trait/SparkClientTrait.scala
Labels: BACKEND, SPARK

fix: i18n
  streampark-console/streampark-console-webapp/src/assets/icons/api.svg
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/Detail.vue
Labels: WEB UI

[Fix]: license header
  streampark-console/streampark-console-webapp/src/components/OpenApi/index.ts
Labels: WEB UI

[Improve]: add openapi schema modal (#3918)
  streampark-console/streampark-console-webapp/.npmrc
  streampark-console/streampark-console-webapp/src/api/system/openapi.ts
  streampark-console/streampark-console-webapp/src/assets/icons/api.svg
  streampark-console/streampark-console-webapp/src/components/OpenApi/index.ts
  streampark-console/streampark-console-webapp/src/components/OpenApi/src/index.tsx
  streampark-console/streampark-console-webapp/src/design/ant/index.less
  streampark-console/streampark-console-webapp/src/locales/lang/en/component.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/component.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/Detail.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppDetail/DetailTab.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/RequestModal/index.tsx
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useApp.tsx
Labels: WEB UI

[Fix]: license header (#3919)
  streampark-console/streampark-console-webapp/src/components/OpenApi/index.ts
Labels: WEB UI

test ci
  streampark-console/streampark-console-webapp/test.ts
Labels: WEB UI

[Improve] token status improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/OpenAPIController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/AccessTokenState.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/authentication/ShiroRealm.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/AccessTokenController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/entity/AccessToken.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/AccessTokenService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/AccessTokenServiceImpl.java
  streampark-console/streampark-console-webapp/src/api/index.ts
  streampark-console/streampark-console-webapp/src/api/system/token.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/Detail.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/RequestModal/index.tsx
  streampark-console/streampark-console-webapp/src/views/system/token/token.data.ts
Labels: WEB UI, BACKEND

[Improve] token status improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/OpenAPIController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/AccessTokenStateEnum.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/authentication/ShiroRealm.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/AccessTokenController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/AccessTokenService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/AccessTokenServiceImpl.java
  streampark-console/streampark-console-webapp/src/api/index.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/RequestModal/index.tsx
  streampark-console/streampark-console-webapp/src/views/system/token/token.data.ts
Labels: WEB UI, BACKEND

minor improve
  streampark-console/streampark-console-service/src/main/resources/mapper/system/AccessTokenMapper.xml
Labels: BACKEND

fixed delete where unmatched
  streampark-flink/streampark-flink-shims/streampark-flink-catalog-store/src/main/java/org/apache/streampark/JdbcCatalogStore.java
Labels: FLINK

[catalog] Introduce flink jdbc catalog store plugin.
  streampark-flink/streampark-flink-shims/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-catalog-store/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-catalog-store/src/main/java/org/apache/streampark/JacksonUtils.java
  streampark-flink/streampark-flink-shims/streampark-flink-catalog-store/src/main/java/org/apache/streampark/JdbcCatalogStore.java
  streampark-flink/streampark-flink-shims/streampark-flink-catalog-store/src/main/java/org/apache/streampark/JdbcCatalogStoreFactory.java
  streampark-flink/streampark-flink-shims/streampark-flink-catalog-store/src/main/java/org/apache/streampark/JdbcCatalogStoreFactoryOptions.java
  streampark-flink/streampark-flink-shims/streampark-flink-catalog-store/src/main/java/org/apache/streampark/connections/JdbcConnectionOptions.java
  streampark-flink/streampark-flink-shims/streampark-flink-catalog-store/src/main/java/org/apache/streampark/connections/JdbcConnectionProvider.java
  streampark-flink/streampark-flink-shims/streampark-flink-catalog-store/src/main/java/org/apache/streampark/connections/SimpleJdbcConnectionProvider.java
  streampark-flink/streampark-flink-shims/streampark-flink-catalog-store/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  streampark-flink/streampark-flink-shims/streampark-flink-catalog-store/src/test/java/org/apache/streampark/JdbcCatalogStoreFactoryTest.java
  streampark-flink/streampark-flink-shims/streampark-flink-catalog-store/src/test/java/org/apache/streampark/JdbcCatalogStoreTest.java
  streampark-flink/streampark-flink-shims/streampark-flink-catalog-store/src/test/java/org/apache/streampark/mysql/MySqlContainer.java
  streampark-flink/streampark-flink-shims/streampark-flink-catalog-store/src/test/java/org/apache/streampark/mysql/MysqlBaseITCASE.java
  streampark-flink/streampark-flink-shims/streampark-flink-catalog-store/src/test/java/org/apache/streampark/mysql/MysqlTestUtils.java
  streampark-flink/streampark-flink-shims/streampark-flink-catalog-store/src/test/resources/docker/server/my.cnf
  streampark-flink/streampark-flink-shims/streampark-flink-catalog-store/src/test/resources/docker/setup.sql
Labels: BUILD, FLINK

improve jdbc close method.
  streampark-flink/streampark-flink-shims/streampark-flink-catalog-store/src/main/java/org/apache/streampark/JdbcCatalogStore.java
Labels: FLINK

[Improve] NotNull minor improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/AlertController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/AccessTokenController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/MemberController.java
Labels: BACKEND

[Improve] openapi FE improvement
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/RequestModal/index.tsx
Labels: WEB UI

[Improve] openapi FE i18m improvement
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/RequestModal/index.tsx
Labels: WEB UI

[Improve] token mybatis mapper improvement
  streampark-console/streampark-console-service/src/main/resources/mapper/system/AccessTokenMapper.xml
Labels: BACKEND

[Improve] openapi i18n improvement
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
Labels: WEB UI

[Improve] default team improvement
  streampark-console/streampark-console-service/src/main/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/main/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/domain/Constant.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/domain/ResponseCode.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/PassportController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/UserController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/TeamService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/UserService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/TeamServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
  streampark-console/streampark-console-webapp/src/api/system/user.ts
  streampark-console/streampark-console-webapp/src/store/modules/user.ts
  streampark-console/streampark-console-webapp/src/views/base/login/LoginForm.vue
Labels: BUILD, WEB UI, BACKEND

[Improve] default teamId improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/domain/Constant.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
Labels: BACKEND

fix e2e
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-webapp/src/views/setting/yarn-queue/YarnQueueDrawer.vue
Labels: WEB UI, BACKEND

[Improve] openapi minor improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/AuthenticationType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/authentication/JWTFilter.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/authentication/JWTUtil.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/authentication/ShiroRealm.java
Labels: BACKEND

[Improve] openapi minor improvement
  streampark-console/streampark-console-service/src/main/assembly/conf/config.yaml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/aspect/StreamParkAspect.java
Labels: BUILD, BACKEND

[Improve] serverHelper improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ServiceHelper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/AccessTokenController.java
Labels: BACKEND

[Improve] default team improvement
  streampark-console/streampark-console-service/src/main/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/domain/Constant.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/authentication/JWTToken.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/PassportController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/SsoController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/UserController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/TeamService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/UserService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/AccessTokenServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/TeamServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-webapp/src/api/system/user.ts
  streampark-console/streampark-console-webapp/src/store/modules/user.ts
  streampark-console/streampark-console-webapp/src/views/base/login/LoginForm.vue
Labels: BUILD, WEB UI, BACKEND

[Bug] default teamId bug fixed.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/domain/Constant.java
Labels: BACKEND

[Improve] token status improvement (#3921)
  streampark-console/streampark-console-service/src/main/assembly/conf/config.yaml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/aspect/StreamParkAspect.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/AlertController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/OpenAPIController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/AccessTokenStateEnum.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ServiceHelper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/authentication/ShiroRealm.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/AccessTokenController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/MemberController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/AccessTokenService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/AccessTokenServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/mapper/system/AccessTokenMapper.xml
  streampark-console/streampark-console-webapp/src/api/index.ts
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/RequestModal/index.tsx
  streampark-console/streampark-console-webapp/src/views/system/token/token.data.ts
Labels: BUILD, WEB UI, BACKEND

[Improve] default team improvement (#3922)
  streampark-console/streampark-console-service/src/main/assembly/script/data/pgsql-data.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/domain/Constant.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/authentication/JWTToken.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/PassportController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/SsoController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/UserController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/TeamService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/UserService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/AccessTokenServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/TeamServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/UserServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-webapp/src/api/system/user.ts
  streampark-console/streampark-console-webapp/src/store/modules/user.ts
  streampark-console/streampark-console-webapp/src/views/base/login/LoginForm.vue
Labels: BUILD, WEB UI, BACKEND

Update UserController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/UserController.java
Labels: BACKEND

Update AccessTokenController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/AccessTokenController.java
Labels: BACKEND

[Improve] response improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/domain/Constant.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/domain/Result.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/aspect/StreamParkAspect.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/AlertController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationBuildPipelineController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationHistoryController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ConfigController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ExternalLinkController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkClusterController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkEnvController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkGateWayController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkPodTemplateController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkSqlController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/MessageController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/OpenAPIController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ProjectController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ResourceController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SqlWorkBenchController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/VariableController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/YarnQueueController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkClusterService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ProjectService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/service/impl/AccessTokenServiceImpl.java
  streampark-console/streampark-console-webapp/src/utils/http/axios/index.ts
Labels: WEB UI, BACKEND

Update AccessTokenController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/AccessTokenController.java
Labels: BACKEND

Update LoginForm.vue
  streampark-console/streampark-console-webapp/src/views/base/login/LoginForm.vue
Labels: WEB UI

[Improve] rest response improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/domain/Result.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/FlinkSqlController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ProjectController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SettingController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ProjectService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/SettingService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SettingServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/PassportController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/UserController.java
  streampark-console/streampark-console-webapp/src/views/flink/app/components/FlinkSql.vue
  streampark-console/streampark-console-webapp/src/views/resource/project/View.vue
  streampark-console/streampark-console-webapp/src/views/setting/system/SettingForm.vue
Labels: WEB UI, BACKEND

[Improve] minor improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/handler/GlobalExceptionHandler.java
Labels: BACKEND

[Improve] openapi whitelist support
  streampark-console/streampark-console-service/src/main/assembly/conf/config.yaml
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/aspect/StreamParkAspect.java
Labels: BUILD, BACKEND

[Improve] project FE bug fixed.
  streampark-console/streampark-console-webapp/src/views/resource/project/Edit.vue
  streampark-console/streampark-console-webapp/src/views/resource/project/components/ListItem.vue
  streampark-console/streampark-console-webapp/src/views/resource/project/components/LogModal.vue
  streampark-console/streampark-console-webapp/src/views/resource/project/useProject.tsx
  streampark-console/streampark-console-webapp/src/views/resource/variable/components/VariableDrawer.vue
  streampark-console/streampark-console-webapp/src/views/setting/alarm/View.vue
  streampark-console/streampark-console-webapp/src/views/setting/alarm/components/AlertModal.vue
Labels: WEB UI

improve license header check
  streampark-console/streampark-console-webapp/src/components/Dropdown/index.ts
  streampark-console/streampark-console-webapp/src/components/Dropdown/src/Dropdown.vue
  streampark-console/streampark-console-webapp/src/components/Dropdown/src/typing.ts
  streampark-console/streampark-console-webapp/src/components/Table/index.ts
  streampark-console/streampark-console-webapp/src/components/Table/src/BasicTable.vue
  streampark-console/streampark-console-webapp/src/components/Table/src/componentMap.ts
  streampark-console/streampark-console-webapp/src/components/Table/src/const.ts
  streampark-console/streampark-console-webapp/src/components/Table/src/hooks/useColumns.ts
  streampark-console/streampark-console-webapp/src/components/Table/src/hooks/useCustomRow.ts
  streampark-console/streampark-console-webapp/src/components/Table/src/hooks/useDataSource.ts
  streampark-console/streampark-console-webapp/src/components/Table/src/hooks/useLoading.ts
  streampark-console/streampark-console-webapp/src/components/Table/src/hooks/usePagination.tsx
  streampark-console/streampark-console-webapp/src/components/Table/src/hooks/useRowSelection.ts
  streampark-console/streampark-console-webapp/src/components/Table/src/hooks/useScrollTo.ts
  streampark-console/streampark-console-webapp/src/components/Table/src/hooks/useTable.ts
  streampark-console/streampark-console-webapp/src/components/Table/src/hooks/useTableContext.ts
  streampark-console/streampark-console-webapp/src/components/Table/src/hooks/useTableExpand.ts
  streampark-console/streampark-console-webapp/src/components/Table/src/hooks/useTableFooter.ts
  streampark-console/streampark-console-webapp/src/components/Table/src/hooks/useTableForm.ts
  streampark-console/streampark-console-webapp/src/components/Table/src/hooks/useTableHeader.ts
  streampark-console/streampark-console-webapp/src/components/Table/src/hooks/useTableScroll.ts
  streampark-console/streampark-console-webapp/src/components/Table/src/hooks/useTableStyle.ts
  streampark-console/streampark-console-webapp/src/components/Table/src/props.ts
  streampark-console/streampark-console-webapp/src/components/Table/src/types/column.ts
  streampark-console/streampark-console-webapp/src/components/Table/src/types/componentType.ts
  streampark-console/streampark-console-webapp/src/components/Table/src/types/pagination.ts
  streampark-console/streampark-console-webapp/src/components/Table/src/types/table.ts
  streampark-console/streampark-console-webapp/src/components/Table/src/types/tableAction.ts
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/Breadcrumb.vue
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/ErrorAction.vue
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/FullScreen.vue
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/Github.vue
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/LockScreen.vue
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/Slogan.vue
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/UserTeam.vue
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/index.ts
  streampark-console/streampark-console-webapp/src/layouts/page/index.vue
  streampark-console/streampark-console-webapp/src/layouts/page/transition.ts
Labels: WEB UI

improve license header check
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/lock/LockModal.vue
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/notify/NoticeList.vue
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/notify/index.vue
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/user-dropdown/DropMenuItem.vue
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/user-dropdown/PasswordModal.vue
  streampark-console/streampark-console-webapp/src/layouts/default/header/components/user-dropdown/index.vue
Labels: WEB UI

[Improve] FE axios type bug fixed.
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ProjectController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ProjectService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/SettingServiceTest.java
  streampark-console/streampark-console-webapp/src/api/flink/app.ts
  streampark-console/streampark-console-webapp/src/api/flink/flinkCluster.ts
  streampark-console/streampark-console-webapp/src/api/flink/flinkEnv.ts
  streampark-console/streampark-console-webapp/src/api/resource/project/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StartApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/cluster/Add.vue
  streampark-console/streampark-console-webapp/src/views/flink/cluster/Edit.vue
  streampark-console/streampark-console-webapp/src/views/flink/home/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/home/components/Modal.vue
  streampark-console/streampark-console-webapp/src/views/resource/project/Add.vue
  streampark-console/streampark-console-webapp/src/views/resource/project/Edit.vue
  streampark-console/streampark-console-webapp/src/views/resource/project/View.vue
  streampark-console/streampark-console-webapp/src/views/resource/project/components/ListItem.vue
  streampark-console/streampark-console-webapp/src/views/resource/project/components/LogModal.vue
  streampark-console/streampark-console-webapp/src/views/resource/project/useProject.tsx
  streampark-console/streampark-console-webapp/src/views/resource/variable/components/VariableDrawer.vue
  streampark-console/streampark-console-webapp/src/views/setting/alarm/View.vue
  streampark-console/streampark-console-webapp/src/views/setting/alarm/components/AlertModal.vue
  streampark-console/streampark-console-webapp/src/views/setting/yarn-queue/YarnQueueDrawer.vue
  streampark-console/streampark-console-webapp/src/views/system/user/View.vue
  streampark-console/streampark-console-webapp/types/axios.d.ts
Labels: WEB UI, BACKEND

[catalog] refactor project module to stream-flink.
  streampark-flink/pom.xml
  streampark-flink/streampark-flink-catalog-store/pom.xml
  streampark-flink/streampark-flink-catalog-store/src/main/java/org/apache/streampark/JacksonUtils.java
  streampark-flink/streampark-flink-catalog-store/src/main/java/org/apache/streampark/JdbcCatalogStore.java
  streampark-flink/streampark-flink-catalog-store/src/main/java/org/apache/streampark/JdbcCatalogStoreFactory.java
  streampark-flink/streampark-flink-catalog-store/src/main/java/org/apache/streampark/JdbcCatalogStoreFactoryOptions.java
  streampark-flink/streampark-flink-catalog-store/src/main/java/org/apache/streampark/connections/JdbcConnectionOptions.java
  streampark-flink/streampark-flink-catalog-store/src/main/java/org/apache/streampark/connections/JdbcConnectionProvider.java
  streampark-flink/streampark-flink-catalog-store/src/main/java/org/apache/streampark/connections/SimpleJdbcConnectionProvider.java
  streampark-flink/streampark-flink-catalog-store/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  streampark-flink/streampark-flink-catalog-store/src/test/java/org/apache/streampark/JdbcCatalogStoreFactoryTest.java
  streampark-flink/streampark-flink-catalog-store/src/test/java/org/apache/streampark/JdbcCatalogStoreTest.java
  streampark-flink/streampark-flink-catalog-store/src/test/java/org/apache/streampark/mysql/MySqlContainer.java
  streampark-flink/streampark-flink-catalog-store/src/test/java/org/apache/streampark/mysql/MysqlBaseITCASE.java
  streampark-flink/streampark-flink-catalog-store/src/test/java/org/apache/streampark/mysql/MysqlTestUtils.java
  streampark-flink/streampark-flink-catalog-store/src/test/resources/docker/server/my.cnf
  streampark-flink/streampark-flink-catalog-store/src/test/resources/docker/setup.sql
  streampark-flink/streampark-flink-shims/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.18/pom.xml
Labels: BUILD, FLINK

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"
