Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"

[Refactor] Refactor multiple enum classes and update related methods to be more readable
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationConfigServiceImpl.java
Labels: BACKEND

[ISSUE-2936][Feature] Support flink native type savepoint (#2937)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SavePointController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Application.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/SavePointService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SavePointServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/system/controller/AccessTokenController.java
  streampark-console/streampark-console-webapp/src/api/flink/app/app.type.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppView/StopApplicationModal.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useSavepoint.tsx
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/CancelRequest.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/SavepointRequestTrait.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-api/src/main/scala/org/apache/streampark/flink/client/bean/TriggerSavepointRequest.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkClientTrait.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.15/src/main/scala/org/apache/streampark/flink/core/FlinkClusterClient.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.16/src/main/scala/org/apache/streampark/flink/core/FlinkClusterClient.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.17/src/main/scala/org/apache/streampark/flink/core/FlinkClusterClient.scala
Labels: WEB UI, BACKEND, FLINK

Added flink k8s operator validate
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/src/main/scala/org/apache/streampark/flink/kubernetes/v2/observer/DeployCRObserver.scala
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/src/main/scala/org/apache/streampark/flink/kubernetes/v2/operator/CROperator.scala
Labels: FLINK

[Refactor] Refactor multiple enum classes and update related methods to be more readable (#2965)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkSql.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/ChangeTypeEnum.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/ChangedType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/ConfigFileType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/EffectiveType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/EngineType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/LoginType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/ResourceFrom.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/ResourceType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/UserType.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationConfigServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
Labels: BACKEND

Code optimization
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/src/main/scala/org/apache/streampark/flink/kubernetes/v2/operator/CROperator.scala
Labels: FLINK

pyflink supports flink connector
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/resources/pyflink.md
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnApplicationClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/util/FlinkUtils.scala
Labels: FLINK

[Refactor] Refactor Setting and fix code style
  streampark-common/src/main/scala/org/apache/streampark/common/fs/FsOperator.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/FileUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/FreemarkerUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/GitUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/EmailConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/SenderEmail.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/SettingService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/EmailAlertNotifyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SettingServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/alert/AlertServiceTest.java
Labels: BACKEND

restore mode minor improvement
  streampark-common/src/main/java/org/apache/streampark/common/enums/RestoreMode.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-webapp/src/enums/flinkEnum.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
Labels: WEB UI, BACKEND

Supports specifying a configuration file when creating a KubernetesClient
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/src/main/scala/org/apache/streampark/flink/kubernetes/v2/FlinkK8sConfig.scala
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/src/main/scala/org/apache/streampark/flink/kubernetes/v2/K8sTools.scala
Labels: FLINK

Address comment
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/CommonServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SettingServiceImpl.java
Labels: BACKEND

[Refactor] Refactor Setting and fix code style (#2969)
  streampark-common/src/main/scala/org/apache/streampark/common/fs/FsOperator.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/FileUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/FreemarkerUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/GitUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/EmailConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/SenderEmail.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/SettingService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/EmailAlertNotifyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/CommonServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SettingServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/alert/AlertServiceTest.java
Labels: BACKEND

[Improve] Restore mode minor improvement (#2971)
  streampark-common/src/main/java/org/apache/streampark/common/enums/RestoreMode.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-webapp/src/enums/flinkEnum.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
Labels: WEB UI, BACKEND

[Improve] settings improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/DockerConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/EmailConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/SettingService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/EmailAlertNotifyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SettingServiceImpl.java
Labels: BACKEND

Fix remote task submission could not find the jar
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
Labels: BACKEND

minor improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/AlertConfigParams.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/Dependency.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/FlinkConnector.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenPom.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/AlertController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/AlertConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/AlertConfigService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/AlertNotifyService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/AlertService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/AlertConfigServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/AlertServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/DingTalkAlertNotifyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/EmailAlertNotifyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/HttpCallbackAlertNotifyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/LarkAlertNotifyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/WeComAlertNotifyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/DependencyUtilsTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/alert/AlertServiceTest.java
Labels: BACKEND

[Improve] Settings improvement (#2972)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/AlertConfigParams.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/Dependency.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/DockerConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/EmailConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/FlinkConnector.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/MavenPom.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/AlertController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/AlertConfig.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/SettingService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/AlertConfigService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/AlertNotifyService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/AlertService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/AlertConfigServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/AlertServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/DingTalkAlertNotifyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/EmailAlertNotifyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/HttpCallbackAlertNotifyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/LarkAlertNotifyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/alert/impl/WeComAlertNotifyServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SettingServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/DependencyUtilsTest.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/alert/AlertServiceTest.java
Labels: BACKEND

[Improve] Remove Scala version in module name.
  pom.xml
  streampark-common/pom.xml
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/assembly/assembly.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-api/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-core/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-base/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-clickhouse/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch5/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch6/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch7/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-hbase/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-http/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-influx/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-jdbc/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-kafka/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-mongo/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-redis/pom.xml
  streampark-flink/streampark-flink-core/pom.xml
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/pom.xml
  streampark-flink/streampark-flink-kubernetes/pom.xml
  streampark-flink/streampark-flink-packer/pom.xml
  streampark-flink/streampark-flink-proxy/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-test/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.12/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.13/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.14/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.15/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.16/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.17/pom.xml
  streampark-flink/streampark-flink-sqlclient/pom.xml
  streampark-flink/streampark-flink-udf/pom.xml
  streampark-spark/streampark-spark-connector/pom.xml
  streampark-spark/streampark-spark-connector/streampark-spark-connector-base/pom.xml
  streampark-spark/streampark-spark-connector/streampark-spark-connector-kafka/pom.xml
  streampark-spark/streampark-spark-core/pom.xml
Labels: BUILD, BACKEND, FLINK, SPARK, KUBERNETES

[Improve] Remove Scala version in module name (#2974)
  pom.xml
  streampark-common/pom.xml
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/assembly/assembly.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-api/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-core/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-base/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-clickhouse/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch5/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch6/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch7/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-hbase/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-http/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-influx/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-jdbc/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-kafka/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-mongo/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-redis/pom.xml
  streampark-flink/streampark-flink-core/pom.xml
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/pom.xml
  streampark-flink/streampark-flink-kubernetes/pom.xml
  streampark-flink/streampark-flink-packer/pom.xml
  streampark-flink/streampark-flink-proxy/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-test/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.12/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.13/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.14/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.15/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.16/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.17/pom.xml
  streampark-flink/streampark-flink-sqlclient/pom.xml
  streampark-flink/streampark-flink-udf/pom.xml
  streampark-spark/streampark-spark-connector/pom.xml
  streampark-spark/streampark-spark-connector/streampark-spark-connector-base/pom.xml
  streampark-spark/streampark-spark-connector/streampark-spark-connector-kafka/pom.xml
  streampark-spark/streampark-spark-core/pom.xml
Labels: BUILD, BACKEND, FLINK, SPARK, KUBERNETES

Refactor the lifecycle control of Flink application-mode jobs on Kubernetes
  streampark-flink/streampark-flink-client/streampark-flink-client-core/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/KubernetesNativeApplicationClient.scala
Labels: BUILD, FLINK

Revert "[Improve] Remove Scala version in module name (#2974)"
  pom.xml
  streampark-common/pom.xml
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/assembly/assembly.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-api/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-core/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-base/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-clickhouse/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch5/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch6/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch7/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-hbase/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-http/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-influx/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-jdbc/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-kafka/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-mongo/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-redis/pom.xml
  streampark-flink/streampark-flink-core/pom.xml
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/pom.xml
  streampark-flink/streampark-flink-kubernetes/pom.xml
  streampark-flink/streampark-flink-packer/pom.xml
  streampark-flink/streampark-flink-proxy/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-test/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.12/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.13/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.14/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.15/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.16/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.17/pom.xml
  streampark-flink/streampark-flink-sqlclient/pom.xml
  streampark-flink/streampark-flink-udf/pom.xml
  streampark-spark/streampark-spark-connector/pom.xml
  streampark-spark/streampark-spark-connector/streampark-spark-connector-base/pom.xml
  streampark-spark/streampark-spark-connector/streampark-spark-connector-kafka/pom.xml
  streampark-spark/streampark-spark-core/pom.xml
Labels: BUILD, BACKEND, FLINK, SPARK, KUBERNETES

Revert "[Improve] Remove Scala version in module name (#2974)" (#2977)
  pom.xml
  streampark-common/pom.xml
  streampark-console/streampark-console-service/pom.xml
  streampark-console/streampark-console-service/src/main/assembly/assembly.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-api/pom.xml
  streampark-flink/streampark-flink-client/streampark-flink-client-core/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-base/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-clickhouse/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-doris/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch5/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch6/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-elasticsearch/streampark-flink-connector-elasticsearch7/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-hbase/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-http/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-influx/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-jdbc/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-kafka/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-mongo/pom.xml
  streampark-flink/streampark-flink-connector/streampark-flink-connector-redis/pom.xml
  streampark-flink/streampark-flink-core/pom.xml
  streampark-flink/streampark-flink-kubernetes-v2/streampark-flink-kubernetes-core/pom.xml
  streampark-flink/streampark-flink-kubernetes/pom.xml
  streampark-flink/streampark-flink-packer/pom.xml
  streampark-flink/streampark-flink-proxy/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims-test/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.12/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.13/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.14/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.15/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.16/pom.xml
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.17/pom.xml
  streampark-flink/streampark-flink-sqlclient/pom.xml
  streampark-flink/streampark-flink-udf/pom.xml
  streampark-spark/streampark-spark-connector/pom.xml
  streampark-spark/streampark-spark-connector/streampark-spark-connector-base/pom.xml
  streampark-spark/streampark-spark-connector/streampark-spark-connector-kafka/pom.xml
  streampark-spark/streampark-spark-core/pom.xml
Labels: BUILD, BACKEND, FLINK, SPARK, KUBERNETES

Flink job batch mode bug fixed.
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkTableInitializer.scala
Labels: FLINK

[Improve] Flink job env initializer improvement
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/EnhancerImplicit.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkStreamingInitializer.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkTableInitializer.scala
Labels: FLINK

Flink job batchMode bug fixed.
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/EnhancerImplicit.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkStreamingInitializer.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkTableInitializer.scala
Labels: FLINK

flink job batchMode bug fixed.
  streampark-flink/streampark-flink-core/src/main/scala/org/apache/streampark/flink/core/scala/FlinkStreamTable.scala
  streampark-flink/streampark-flink-core/src/main/scala/org/apache/streampark/flink/core/scala/FlinkTable.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkTableTrait.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.12/src/main/scala/org/apache/streampark/flink/core/TableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.13/src/main/scala/org/apache/streampark/flink/core/TableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.14/src/main/scala/org/apache/streampark/flink/core/TableContext.scala
Labels: FLINK

Flink job batchMode bug fixed.
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.12/src/main/scala/org/apache/streampark/flink/core/TableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.13/src/main/scala/org/apache/streampark/flink/core/TableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.14/src/main/scala/org/apache/streampark/flink/core/TableContext.scala
Labels: FLINK

minor improvement
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.16/src/main/scala/org/apache/streampark/flink/core/TableContext.scala
Labels: FLINK

[Refactor] Remove LogClientService and minor code refactor
  README.md
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/FileUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ApplicationMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/LogClientService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
Labels: DOCS, BACKEND

[Refactor] Remove LogClientService and minor code refactor
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SettingServiceImpl.java
Labels: BACKEND

[Refactor] Remove LogClientService and minor code refactor
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ApplicationMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkEnvServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
Labels: BACKEND

[Refactor] Remove LogClientService and minor code refactor
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/FileUtils.java
Labels: BACKEND

[Refactor] Remove LogClientService and minor code refactor (#2979)
  README.md
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/FileUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/mapper/ApplicationMapper.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ApplicationService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/LogClientService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkClusterServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkEnvServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SettingServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/task/FlinkClusterWatcher.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
Labels: DOCS, BACKEND

flink job batchMode improvement
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
  streampark-flink/streampark-flink-sqlclient/src/main/scala/org/apache/streampark/flink/cli/SqlClient.scala
Labels: FLINK

minor improvement
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
  streampark-flink/streampark-flink-sqlclient/src/main/scala/org/apache/streampark/flink/cli/SqlClient.scala
Labels: FLINK

bug fixed
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: FLINK

flink job batchMode bug fixed.
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
Labels: FLINK

[ISSUE-2976][Bug] Flink job batchMode bug fixed (#2978)
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/FlinkClientTrait.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/EnhancerImplicit.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkStreamingInitializer.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkTableInitializer.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.12/src/main/scala/org/apache/streampark/flink/core/TableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.13/src/main/scala/org/apache/streampark/flink/core/TableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.14/src/main/scala/org/apache/streampark/flink/core/TableContext.scala
  streampark-flink/streampark-flink-shims/streampark-flink-shims_flink-1.16/src/main/scala/org/apache/streampark/flink/core/TableContext.scala
  streampark-flink/streampark-flink-sqlclient/src/main/scala/org/apache/streampark/flink/cli/SqlClient.scala
Labels: FLINK

Fix remote task submission could not find the jar (#2973)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
Labels: BACKEND

[Improve] FileUtils minor improvement
  streampark-common/src/main/scala/org/apache/streampark/common/util/FileUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/HadoopUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/Logger.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/util/FileUtils.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/AppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ApplicationServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ProjectServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/base/util/FileUtilsTest.java
  streampark-flink/streampark-flink-shims/streampark-flink-shims-base/src/main/scala/org/apache/streampark/flink/core/FlinkStreamingInitializer.scala
Labels: BACKEND, FLINK

minor improvement
  streampark-common/src/main/scala/org/apache/streampark/common/util/FileUtils.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/Utils.scala
Labels: BACKEND
