Repository apache/incubator-streampark, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCKER, DOCS, WEB UI, BACKEND, FLINK, SPARK, KUBERNETES, YARN, WINDOWS

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

INFRA:
  - ".github/**/*"
  - ".asf.yaml"
  - ".editorconfig"
  - ".gitignore"
  - ".licenserc.yaml"

BUILD:
  - ".husky/**/*"
  - ".mvn/**/*"
  - "tools/checkstyle/*"
  - "build.sh"
  - "mvnw"
  - "mvnw.cmd"
  - "**/*pom.xml"
  - "**/assembly/**/*"

DOCKER:
  - "deploy/**/*"

DOCS:
  - "**/README.md"
  - "**/README_CN.md"

WEB UI:
  - "streampark-console/streampark-console-webapp/**/*"

BACKEND:
  - "streampark-console/streampark-console-service/**/*"
  - "streampark-common/**/*"

FLINK:
  - "streampark-flink/**/*"

SPARK:
  - "streampark-spark/**/*"

KUBERNETES:
  - "streampark-flink/streampark-flink-kubernetes/**/*"
  - "streampark-flink-client/**/Kubernetes*.scala"

YARN:
  - "streampark-common/**/Yarn*.scala"
  - "streampark-flink-client/**/Yarn*.scala"

WINDOWS:
  - "**/*.cmd"

[Improve] minor improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ResourceController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ResourceService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-webapp/src/api/resource/upload/index.ts
  streampark-console/streampark-console-webapp/src/views/base/login/LoginForm.vue
  streampark-console/streampark-console-webapp/src/views/resource/upload/components/Upload.vue
  streampark-console/streampark-console-webapp/src/views/resource/variable/View.vue
Labels: WEB UI, BACKEND

[Improve] get flink|spark app mainClass support (#4033)
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ResourceController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/Resource.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/ResourceTypeEnum.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ResourceService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/db/data-h2.sql
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/UserServiceTest.java
  streampark-console/streampark-console-webapp/src/api/resource/upload/index.ts
  streampark-console/streampark-console-webapp/src/views/base/login/LoginForm.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useFlinkRender.tsx
  streampark-console/streampark-console-webapp/src/views/resource/upload/View.vue
  streampark-console/streampark-console-webapp/src/views/resource/upload/components/Upload.vue
  streampark-console/streampark-console-webapp/src/views/resource/upload/components/UploadDrawer.vue
  streampark-console/streampark-console-webapp/src/views/resource/upload/upload.data.ts
  streampark-console/streampark-console-webapp/src/views/resource/upload/useUploadRender.tsx
  streampark-console/streampark-console-webapp/src/views/resource/variable/View.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkRender.tsx
Labels: WEB UI, BACKEND

[Improve] upload jar minor improvement
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/UploadResponse.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationHistoryController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ResourceController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SparkApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ResourceService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/ApplicationInfoService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-webapp/src/api/flink/flinkHistory.ts
  streampark-console/streampark-console-webapp/src/api/resource/upload/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/EditFlink.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/Dependency.vue
  streampark-console/streampark-console-webapp/src/views/resource/upload/components/Upload.vue
Labels: WEB UI, BACKEND

ignore lock utils test failed.
  streampark-console/streampark-console-registry/streampark-registry-plugins/streampark-registry-jdbc/src/test/java/org/apache/streampark/plugin/registry/jdbc/LockUtilsTest.java
Labels: none

[Improve] LockUtilsTest bug fixed
  streampark-console/streampark-console-registry/streampark-registry-plugins/streampark-registry-jdbc/src/test/java/org/apache/streampark/plugin/registry/jdbc/LockUtilsTest.java
Labels: none

[Improve] LockUtilsTest ci failed fixed
  streampark-console/streampark-console-registry/streampark-registry-plugins/streampark-registry-jdbc/src/test/java/org/apache/streampark/plugin/registry/jdbc/LockUtilsTest.java
Labels: none

init mysql
  helm/streampark/conf/streampark-console-config/application-mysql.yml
  streampark-console/streampark-console-service/src/main/assembly/script/schema/mysql-schema.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/FlinkTask.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/enums/FlinkTaskEnum.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkTaskService.java
  streampark-console/streampark-console-service/src/main/resources/config.yaml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/FlinkTaskMapper.xml
Labels: BUILD, BACKEND

fix UT
  streampark-console/streampark-console-registry/streampark-registry-plugins/streampark-registry-jdbc/src/test/java/org/apache/streampark/plugin/registry/jdbc/LockUtilsTest.java
  streampark-console/streampark-console-registry/streampark-registry-plugins/streampark-registry-jdbc/src/test/resources/application.yaml
Labels: none

fix UT (#4037)
  streampark-console/streampark-console-registry/streampark-registry-plugins/streampark-registry-jdbc/src/test/java/org/apache/streampark/plugin/registry/jdbc/LockUtilsTest.java
  streampark-console/streampark-console-registry/streampark-registry-plugins/streampark-registry-jdbc/src/test/resources/application.yaml
Labels: none

[Improve] minor improvement
  streampark-console/streampark-console-registry/streampark-registry-plugins/streampark-registry-jdbc/src/test/java/org/apache/streampark/plugin/registry/jdbc/LockUtilsTest.java
Labels: none

[Improve] required_status_checks minor improvement
  .asf.yaml
Labels: INFRA

[Improve] required_status_checks minor improvement (#4039)
  .asf.yaml
Labels: INFRA

[Improve] UT test failed fix
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/SpringProperties.java
Labels: BACKEND

[Impove] ci fixed
  streampark-console/streampark-console-registry/streampark-registry-plugins/streampark-registry-it/src/test/java/org/apache/streampark/plugin/registry/RegistryTestCase.java
  streampark-console/streampark-console-registry/streampark-registry-plugins/streampark-registry-jdbc/src/main/java/org/apache/streampark/plugin/registry/jdbc/JdbcRegistry.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/base/config/SpringProperties.java
Labels: BACKEND

[Improve] registry UT test ci failed fix
  streampark-console/streampark-console-registry/streampark-registry-plugins/streampark-registry-it/src/test/java/org/apache/streampark/plugin/registry/RegistryTestCase.java
Labels: none

registy init
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/registry/ConsoleRegistryClient.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/FlinkTaskService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkTaskServiceImpl.java
Labels: BACKEND

finish sql
  streampark-console/streampark-console-service/src/main/assembly/script/schema/pgsql-schema.sql
  streampark-console/streampark-console-service/src/main/resources/db/schema-h2.sql
Labels: BUILD, BACKEND

rollback config
  streampark-console/streampark-console-service/src/main/resources/config.yaml
Labels: BACKEND

rollback config
  streampark-console/streampark-console-service/src/main/resources/config.yaml
Labels: BACKEND

[Improve] upload jar bug fixed.
  streampark-console/streampark-console-registry/streampark-registry-plugins/streampark-registry-it/src/test/java/org/apache/streampark/plugin/registry/RegistryTestCase.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SparkApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/SparkApplicationInfoService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/SparkApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/ResourceServiceTest.java
Labels: BACKEND

[Improve] resource upload improvement (#4035)
  streampark-console/streampark-console-registry/streampark-registry-plugins/streampark-registry-it/src/test/java/org/apache/streampark/plugin/registry/RegistryTestCase.java
  streampark-console/streampark-console-registry/streampark-registry-plugins/streampark-registry-jdbc/src/main/java/org/apache/streampark/plugin/registry/jdbc/JdbcRegistry.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/bean/UploadResponse.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ApplicationHistoryController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/ResourceController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/controller/SparkApplicationController.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/ResourceService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/ApplicationInfoService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/SparkApplicationInfoService.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/ApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/SparkApplicationInfoServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/ResourceServiceImpl.java
  streampark-console/streampark-console-service/src/test/java/org/apache/streampark/console/core/service/ResourceServiceTest.java
  streampark-console/streampark-console-webapp/src/api/flink/flinkHistory.ts
  streampark-console/streampark-console-webapp/src/api/resource/upload/index.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/EditFlink.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/EditStreamPark.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/Dependency.vue
  streampark-console/streampark-console-webapp/src/views/resource/upload/components/Upload.vue
Labels: WEB UI, BACKEND

[Improve][Bug] dev: Kerberos authentication support in Flink on YARN (#4005)
  streampark-common/src/main/scala/org/apache/streampark/common/conf/InternalConfigHolder.scala
  streampark-common/src/main/scala/org/apache/streampark/common/util/HadoopUtils.scala
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/runner/EnvInitializer.java
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnApplicationClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnPerJobClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/impl/YarnSessionClient.scala
  streampark-flink/streampark-flink-client/streampark-flink-client-core/src/main/scala/org/apache/streampark/flink/client/trait/YarnClientTrait.scala
Labels: BACKEND, FLINK

[Improve] FE style minor improvement
  streampark-console/streampark-console-webapp/src/locales/lang/en/flink/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/flink/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/variable/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/variable.data.ts
  streampark-console/streampark-console-webapp/src/views/setting/FlinkCluster/index.vue
  streampark-console/streampark-console-webapp/src/views/setting/FlinkHome/index.vue
  streampark-console/streampark-console-webapp/src/views/system/member/Member.vue
  streampark-console/streampark-console-webapp/src/views/system/role/Role.vue
  streampark-console/streampark-console-webapp/src/views/system/role/role.data.ts
  streampark-console/streampark-console-webapp/src/views/system/team/Team.vue
  streampark-console/streampark-console-webapp/src/views/system/team/team.data.ts
  streampark-console/streampark-console-webapp/src/views/system/token/Token.vue
  streampark-console/streampark-console-webapp/src/views/system/token/token.data.ts
  streampark-console/streampark-console-webapp/src/views/system/user/User.vue
  streampark-console/streampark-console-webapp/src/views/system/user/user.data.ts
Labels: WEB UI

[Improve] FE style minor improvement
  streampark-console/streampark-console-webapp/src/views/flink/variable/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/variable/variable.data.ts
Labels: WEB UI

[Improve] mybatis mappers improvement
  streampark-console/streampark-console-service/src/main/resources/mapper/core/AlertConfigMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationBackUpMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationConfigMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationLogMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ApplicationMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/EffectiveMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ExternalLinkMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/FlinkClusterMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/FlinkEnvMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/FlinkSqlMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/MessageMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/ProjectMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/SavepointMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/SettingMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/VariableMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/core/YarnQueueMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/AccessTokenMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/MemberMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/MenuMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/RoleMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/TeamMapper.xml
  streampark-console/streampark-console-service/src/main/resources/mapper/system/UserMapper.xml
  streampark-console/streampark-console-webapp/src/layouts/default/footer/index.vue
  streampark-console/streampark-console-webapp/src/locales/lang/en/setting/alarm.ts
  streampark-console/streampark-console-webapp/src/views/base/login/Login.vue
  streampark-console/streampark-console-webapp/src/views/base/login/LoginForm.vue
  streampark-console/streampark-console-webapp/src/views/base/login/LoginSlogan.less
  streampark-console/streampark-console-webapp/src/views/base/login/LoginSlogan.tsx
Labels: WEB UI, BACKEND

[Improve] alert style minor improvement
  streampark-console/streampark-console-webapp/src/design/index.less
Labels: WEB UI

[Fix]: spark app page bug
  streampark-console/streampark-console-webapp/src/components/Page/src/PageWrapper.vue
  streampark-console/streampark-console-webapp/src/components/SimpleMenu/src/SimpleSubMenu.vue
  streampark-console/streampark-console-webapp/src/layouts/default/footer/index.vue
  streampark-console/streampark-console-webapp/src/layouts/default/menu/index.vue
  streampark-console/streampark-console-webapp/src/layouts/default/sider/LayoutSider.vue
  streampark-console/streampark-console-webapp/src/locales/lang/en/spark/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/spark/app.ts
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/components/AppResize.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/SparkSql.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useAppFormSchema.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkColumns.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/index.vue
Labels: WEB UI

fix: remove console
  streampark-console/streampark-console-webapp/src/views/spark/app/index.vue
Labels: WEB UI

fix
  streampark-spark/streampark-spark-client/streampark-spark-client-api/src/main/scala/org/apache/streampark/spark/client/proxy/SparkShimsProxy.scala
Labels: SPARK

fix: flink app search tool
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/hooks/useAppTableAction.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/data/detail.data.ts
Labels: WEB UI

fix: spark field
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/menu.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/components/AppLog.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/create.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/edit.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useAppFormSchema.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkAction.tsx
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useSparkTableAction.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/index.vue
Labels: WEB UI

fix some problems
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/SparkApplication.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SparkAppBuildPipeServiceImpl.java
Labels: BACKEND

remove task
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/FlinkTaskServiceImpl.java
Labels: BACKEND

fix some problems
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/SparkApplicationManageServiceImpl.java
Labels: BACKEND

fix: spark sql check error
  streampark-console/streampark-console-webapp/src/locales/lang/en/spark/app.ts
  streampark-console/streampark-console-webapp/src/locales/lang/zh-CN/spark/app.ts
  streampark-console/streampark-console-webapp/src/views/spark/app/components/AppForm.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/components/SparkSql.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/create.vue
  streampark-console/streampark-console-webapp/src/views/spark/app/hooks/useAppFormSchema.tsx
Labels: WEB UI

fix: e2e test
  streampark-console/streampark-console-webapp/src/components/SimpleMenu/src/SimpleSubMenu.vue
Labels: WEB UI

[Improve] Adjust to fit the Spark page (#4042)
  streampark-common/src/main/java/org/apache/streampark/common/enums/SparkDevelopmentMode.java
  streampark-common/src/main/scala/org/apache/streampark/common/conf/SparkVersion.scala
  streampark-console/streampark-console-service/src/main/assembly/script/data/mysql-data.sql
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/entity/SparkApplication.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/SparkApplicationActionServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/application/impl/SparkApplicationManageServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SparkAppBuildPipeServiceImpl.java
  streampark-console/streampark-console-service/src/main/java/org/apache/streampark/console/core/service/impl/SparkApplicationBackUpServiceImpl.java
  streampark-console/streampark-console-service/src/main/resources/mapper/core/SparkApplicationMapper.xml
  streampark-spark/streampark-spark-client/streampark-spark-client-api/src/main/scala/org/apache/streampark/spark/client/bean/SubmitRequest.scala
  streampark-spark/streampark-spark-client/streampark-spark-client-api/src/main/scala/org/apache/streampark/spark/client/proxy/SparkShimsProxy.scala
  streampark-spark/streampark-spark-core/src/main/scala/org/apache/streampark/spark/core/Spark.scala
Labels: BUILD, BACKEND, SPARK

Update View.vue
  streampark-console/streampark-console-webapp/src/views/flink/app/View.vue
Labels: WEB UI

fix: e2e btn
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/flink/applications/ApplicationsPage.java
Labels: none

Update ApplicationsPage.java
  streampark-e2e/streampark-e2e-case/src/test/java/org/apache/streampark/e2e/pages/flink/applications/ApplicationsPage.java
Labels: none
